<a href="https://githubtocolab.com/gee-community/geemap/blob/master/examples/notebooks/xy_to_points.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab"/></a>

Uncomment the following line to install [geemap](https://geemap.org) if needed.

In [ ]:
# !pip install geemap

In [1]:
import os
import geemap
geemap.set_proxy(port='4780')

In [2]:
# geemap.update_package()

In [3]:
Map = geemap.Map()
Map

Map(center=[20, 0], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(children=(Togg…

In [4]:
in_csv = 'https://raw.githubusercontent.com/giswqs/data/main/world/world_cities.csv'

In [5]:
df = geemap.csv_to_df(in_csv)
df

        id            name country  latitude  longitude  population
0        1           Bombo     UGA   0.58330   32.53330       75000
1        2     Fort Portal     UGA   0.67100   30.27500       42670
2        3         Potenza     ITA  40.64200   15.79900       69060
3        4      Campobasso     ITA  41.56300   14.65600       50762
4        5           Aosta     ITA  45.73700    7.31500       34062
...    ...             ...     ...       ...        ...         ...
1244  1245  Rio de Janeiro     BRA -22.92502  -43.22502    11748000
1245  1246       Sao Paulo     BRA -23.55868  -46.62502    18845000
1246  1247          Sydney     AUS -33.92001  151.18518     4630000
1247  1248       Singapore     SGP   1.29303  103.85582     5183700
1248  1249       Hong Kong     CHN  22.30498  114.18501     7206000

[1249 rows x 6 columns]

In [ ]:
Map.add_xy_data(in_csv, x="longitude", y="latitude", layer_name="csv to ee", to_ee=True)

In [ ]:
fc = geemap.csv_to_ee(in_csv)

In [9]:
Map.addLayer(fc, {}, 'csv to ee 2')

In [ ]:
out_dir = os.path.expanduser('~/Downloads')
if not os.path.exists(out_dir):
    os.makedirs(out_dir)
out_shp = os.path.join(out_dir, 'world_cities.shp')

In [ ]:
geemap.csv_to_shp(in_csv, out_shp)

In [ ]:
out_geojson = os.path.join(out_dir, 'world_cities.geojson')
geemap.csv_to_geojson(in_csv, out_geojson)

In [ ]:
gdf = geemap.csv_to_gdf(in_csv)
gdf

In [ ]:
Map.add_xy_data(in_csv, x="longitude", y="latitude", layer_name="Marker cluster")
Map