In [2]:
import pandas
import pandas as pd
import numpy
import numpy as np
import random as rn
import functools
import re

import warnings
warnings.filterwarnings('ignore')


<a id="top"></a>

<div class="list-group" id="list-tab" role="tablist">

<font color="teal" size=+1><b>Content List</b></font>
    
* [1. Check Pandas Version](#1)
* [2. Create Numpy Array: Create three columns with Zero values](#2)
* [3. iLoc in Pandas : Print first five rows](#3)
* [4. Create Random integer between 2 to 10 with 4 items](#4)
* [5. Create Random integer between 0 to 100](#5)
* [6. Create Random integer between 2 to 10 with 4 columns](#6)
* [7. 2D array with random between 0 and 5](#7)
* [8. Create Random integer between 0 to 100 with 10 itmes (2 rows, 5 columns)](#8)
* [9. 3 rows, 2 columns in pandas](#9)
* [10. Fill Random Science and Math Marks](#10)
* [11. CSV to DatRaframe (from_csv)](#11)
* [12. CSV to Dataframe (from_csv)](#12)
* [13. First 4 rows and 2 columns of CSV](#13)
* [14. Show even rows and first three columns](#14)
* [15. New columns as sum of all](#15)
* [16. Delete Rows of one column where the value is less than 50](#16)
* [17. Delete with Query](#17)
* [18. Skip single row](#18)
* [19. Skip multiple rows](#19)
* [20. Select Column by Index](#20)
* [21. Skip rows](#21)
* [22. String to Dataframe](#22)
* [23. New columns as max of other columns](#23)
* [24. New columns as max of other columns](#24)
* [25. New columns as max of other columns](#25)
* [26. Fill with average](#26)
* [27. New columns as sum of all](#27)
* [28. Unicode issue and fix](#28)
* [29. Fill with average](#29)
* [30. Last 4 rows](#30)
* [31. Expanding Apply](#31)
* [32. Get 3 and 4th row](#32)
* [33. Last 4th to 1st](#33)
* [34. iloc position slice](#34)
* [35. Loc - iloc - ix - at - iat](#35)
* [36. Random data](#36)
* [37. Filter with the value comparison](#37)
* [38. Filter between 5 and 10 on col 1](#38)
* [39. Filter between 15 to 20](#39)
* [40. Filter between 15 to 33](#40)
* [41. Custom method and xrnage on dataframe](#41)
* [42. Set index with date column](#42)
* [43. Change columns based on other columns](#43)
* [44. Change multiple columns based on one column values](#44)
* [45. Pandas Mask](#45)
* [46. Check high or low comparing the column against 5](#46)
* [47. Student Marks (Pass or Fail)](#47)
* [48. Get passed grades](#48)
* [49. Students passed in Language and Math](#49)
* [50. Students passed in Language and Science](#50)
* [51. Loc with Label oriented slicing](#51)
* [52. iloc with positional slicing](#52)
* [53. Label between numbers](#53)
* [54. Stars with names](#54)
* [55. Row label selection Age is above 25 and movies above 25](#55)
* [56. Stars in in certain ages](#56)
* [57. Inverse opeartor !( above one.45 and below two.50 )](#57)
* [58. Apply custom function](#58)
* [59. Group by single column](#59)
* [60. Creating new Columns using Applymap Sides & applymap](#60)
* [61. Replacing some values with mean of the rest of a group](#61)
* [62. Students passed in Language or Science (any one subject)](#62)
* [63. possible errors: TypeError: 'Series' objects are mutable, thus they cannot be hashed](#63)
* [64. argsort Select rows with data closest to certain value using argsort](#64)
* [65. argsort with stars](#65)
* [66. Argsort with actors - young stars (near by 17)](#66)
* [67. Binary operators - Stars with - younger than 19 - very young](#67)
* [68. Young, Higher Salary, and Higher Position](#68)
* [69. Rename columns](#69)
* [70. Add a new column](#70)
* [71. Drop a column](#71)
* [72. Drop multiple columns](#72)
* [73. Drop first and last column](#73)
* [74. Delete by pop function](#74)
* [75. DataFrame.from_items](#75)
* [76. Pandas to list](#76)
* [77. Pandas rows to list](#77)
* [78. Pandas rows to array](#78)
* [79. Pandas rows to map](#79)
* [80. Pandas rows to map](#80)
* [81. Drop duplicates](#81)
* [82. Selecting multiple columns](#82)
* [83. Selecting multiple columns](#83)
* [84. Row and Column Slicing](#84)
* [85. Iterating rows](#85)
* [86. Iterating tuples](#86)
* [87. Iterating rows and columns](#87)
* [88. List of Dictionary to Dataframe](#88)
* [89. Is Null](#89)
* [90. Sum of all nan](#90)
* [91. Sum of all nan rowwise](#91)
* [92. Sum of all nan as list](#92)
* [93. Change the order of columns](#93)
* [94. Drop multiple rows](#94)
* [95. Drop multiple rows by row name](#95)
* [96. Get group](#96)
* [97. Get the the odd row](#97)
* [98. Get the even columns](#98)
* [99. Odd rows and even columns](#99)
* [100. Drop duplicates](#100)
* [101. Drop all duplicates](#101)
* [102. Basic group by](#102)
* [103. Missing Data: Make A'th 3rd coulmn Nan](#103)
* [104. Reindex](#104)   
* [105. Column reset Nan](#105)  
* [105. XY](#105)  
* [106. XY](#106)  
* [107. Match with isin function](#107)  
* [108. Finding specific items by using `isin` function](#108)  
* [109. Exclude specific matching](#109)  
* [110. Apply a custom function on multiple columns](#110)  
* [111. iterrows as tuples](#111)  
* [112. Dataframe with NaN](#112)  
* [113. Simple Dataframe with NaN](#113)  
* [114. Pandas and Date with Range](#114)  
* [115. Pandas and Numpy Repeat](#115)  
* [116. read_sql in Pandas](#116)  
* [117. Get a single value by iat](#117)  
* [118. Get last n elements](#118)  
* [119. Add data one by one by using loc function](#119)  
* [120. Convert country in Dataframe](#120)  
* [121. Group by multiple columns](#121)  
* [122. Compare two dataframes](#122)  
* [123. Difference between datetime by only seconds or dates](#123)  
* [124. Get dates and delta days in Dataframe](#124)  
* [125. Get dates and delta days in Dataframe](#125)  
* [126. Date addition with time delta](#126)  
* [127. Converting Pandas innner list to numpy array without the word `list`](#127)  
* [128. Append series to existing Dataframe](#128)  
* [129. Cumulative sum with group by with multiple values](#129)  
* [130. Clean URL in Pandas String (remove string after specific item)](#130)  
* [131. Find any matching value](#131)

In [3]:
# for i in range(105, 132):
#     print(f'* [{i}. XY](#{i})  ')

In [4]:
import pandas
import pandas as pd
import numpy
import numpy as np
import random as rn
import functools
import re

<div style="">
    <div style="float: left; width: 80%;">
        <a id="1"></a>
        <font><b>Task 1:</b></font>
        <br><br>
        Check Pandas Version
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [5]:
print('Task 1:')  
print(pd.__version__)

Task 1:
2.1.0

<div style="">
    <div style="float: left; width: 80%;">
        <a id="2"></a>
        <font><b>Task 2:</b></font>
        <br><br>
        Create Numpy Array
        <br>
        Create three columns with Zero values
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [6]:
# 输出“Task 2:”  
print('Task 2:')  
  
# 定义一个dtype，用于描述数据类型，包含三个字段：'Col1'为32位整数，'Col2'和'Col3'为32位浮点数  
dtype = [('Col1','int32'), ('Col2','float32'), ('Col3','float32')]  
  
# 使用numpy的zeros函数创建一个形状为20的零数组，数组的数据类型为之前定义的dtype  
values = numpy.zeros(20, dtype=dtype)  
print(values)
# 为数组创建一个索引，索引的每个元素是'Row'加上数组元素的索引值  
index = ['Row'+str(i) for i in range(1, len(values)+1)]  
  
# 使用pandas的DataFrame函数将numpy数组转化为数据框，同时给数据框指定了索引  
df = pandas.DataFrame(values, index=index)  
  
# 输出数据框df的内容  
print(df)  
  
# 再次使用pandas的DataFrame函数将numpy数组转化为数据框，这次没有指定索引  
df = pandas.DataFrame(values)  
  
# 输出数据框df的内容  
print(df)

Task 2:
[(0, 0., 0.) (0, 0., 0.) (0, 0., 0.) (0, 0., 0.) (0, 0., 0.) (0, 0., 0.)
 (0, 0., 0.) (0, 0., 0.) (0, 0., 0.) (0, 0., 0.) (0, 0., 0.) (0, 0., 0.)
 (0, 0., 0.) (0, 0., 0.) (0, 0., 0.) (0, 0., 0.) (0, 0., 0.) (0, 0., 0.)
 (0, 0., 0.) (0, 0., 0.)]
       Col1  Col2  Col3
Row1      0   0.0   0.0
Row2      0   0.0   0.0
Row3      0   0.0   0.0
Row4      0   0.0   0.0
Row5      0   0.0   0.0
Row6      0   0.0   0.0
Row7      0   0.0   0.0
Row8      0   0.0   0.0
Row9      0   0.0   0.0
Row10     0   0.0   0.0
Row11     0   0.0   0.0
Row12     0   0.0   0.0
Row13     0   0.0   0.0
Row14     0   0.0   0.0
Row15     0   0.0   0.0
Row16     0   0.0   0.0
Row17     0   0.0   0.0
Row18     0   0.0   0.0
Row19     0   0.0   0.0
Row20     0   0.0   0.0
    Col1  Col2  Col3
0      0   0.0   0.0
1      0   0.0   0.0
2      0   0.0   0.0
3      0   0.0   0.0
4      0   0.0   0.0
5      0   0.0   0.0
6      0   0.0   0.0
7      0   0.0   0.0
8      0   0.0   0.0
9      0   0.0   0.0
10     0   0.0   0.0
11     0   0.0   0.0
12     0   0.0   0.0
13     0   0.0   0.0
14     0   0.0   0.0
15     0   0.0   0.0
16     0   0.0   0.0
17     0   0.0   0.0
18     0   0.0   0.0
19     0   0.0   0.0

<div style="">
    <div style="float: left; width: 80%;">
        <a id="3"></a>
        <font><b>Task 3:</b></font>
        <br><br>
        iLoc in Pandas
        <br>
        Print first five rows
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [7]:
print('Task 3:')
df = pandas.read_csv('./data/data1.csv', sep=',',header=0,index_col="capacity")
print(df.iloc[:4]) # 0 - 4 = 5 values

Task 3:
          score  length
capacity
1            10      30
2            20      30
3            30      40
3            40      30

In [6]:
df.index

RangeIndex(start=0, stop=20, step=1)

In [15]:
df.columns

Index(['score', 'length'], dtype='object')

<div style="">
    <div style="float: left; width: 80%;">
        <a id="4"></a>
        <font><b>Task 4:</b></font>
        <br><br>
        Create Random integer between 2 to 10 with 4 items
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [6]:
print('Task 4:')
values = np.random.randint(2, 10, size=4)
print(values)

Task 4:
[6 7 7 4]

<div style="">
    <div style="float: left; width: 80%;">
        <a id="5"></a>
        <font><b>Task 5:</b></font>
        <br><br>
        Create Random integer between 0 to 100 
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [7]:
print('Task 5:')
df = pd.DataFrame(np.random.randint(0, 100, size=(3, 2)), columns=list('xy'))
print(df)

Task 5:
    x   y
0  60  98
1  20  78
2   1   5

<div style="">
    <div style="float: left; width: 80%;">
        <a id="6"></a>
        <font><b>Task 6:</b></font>
        <br><br>
        Create Random integer between 2 to 10 with 4 columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [8]:
print('Task 6:')
df = pd.DataFrame(np.random.randint(0, 100, size=(2, 4)), columns=['A', 'B', 'C', 'D'])
print(df)

Task 6:
    A   B   C   D
0  74  59  94  75
1  39  53  76  35

<div style="">
    <div style="float: left; width: 80%;">
        <a id="7"></a>
        <font><b>Task 7:</b></font>
        <br><br>
        2D array with random between 0 and 5
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [9]:
print('Task 7:')
values = np.random.randint(5, size=(2, 4))
print(values)
print(type(values))

Task 7:
[[3 4 1 0]
 [4 3 2 4]]
<class 'numpy.ndarray'>

<div style="">
    <div style="float: left; width: 80%;">
        <a id="8"></a>
        <font><b>Task 8:</b></font>
        <br><br>
        Create Random integer between 0 to 100 with 10 itmes (2 rows, 5 columns)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [10]:
print('Task 8:')
df = pd.DataFrame(np.random.randint(0, 100, size=(3, 5)), columns=['Toronto', 'Ottawa', 'Calgary', 'Montreal', 'Quebec'])
print(df)

Task 8:
   Toronto  Ottawa  Calgary  Montreal  Quebec
0       76      57       29        95      93
1        4      39       13        97      66
2       87      26       81        50      63

<div style="">
    <div style="float: left; width: 80%;">
        <a id="9"></a>
        <font><b>Task 9:</b></font>
        <br><br>
        3 rows, 2 columns in pandas
        <br>
        1st column = random between 10 to 20
        <br>
        2nd column = random between 80 and 90
        <br>
        3rd column = random between 40 and 50 
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [11]:
print('Task 9:')  
dtype = [('One','int32'), ('Two','int32')]
values = np.zeros(3, dtype=dtype)
index = ['Row'+str(i) for i in range(1, 4)]

df = pandas.DataFrame(values, index=index)
print(df)

Task 9:
      One  Two
Row1    0    0
Row2    0    0
Row3    0    0

<div style="">
    <div style="float: left; width: 80%;">
        <a id="10"></a>
        <font><b>Task 10:</b></font>
        <br><br>
        Fill Random Science and Math Marks
        <br><br>
        (has some bugs in it)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [12]:
print('Task 10:')  
dtype = [('Science','int32'), ('Maths','int32')]
values = np.zeros(3, dtype=dtype)

#print(type(dtype))
#values = np.random.randint(5, size=(3, 2))
#print(values)
#index = ['Row'+str(i) for i in range(1, 4)]

df = pandas.DataFrame(values, index=index)
print(df)

Task 10:
      Science  Maths
Row1        0      0
Row2        0      0
Row3        0      0

<div style="">
    <div style="float: left; width: 80%;">
        <a id="11"></a>
        <font><b>Task 11:</b></font>
        <br><br>
        CSV to DatRaframe (from_csv)
        <br>
        Note: from_csv is Deprecated since version 0.21.0: Use pandas.read_csv() instead.
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [13]:
print('Task 11:')  

csv = pd.read_csv('uk-500.csv')
print(csv.head())

Task 11:
  first_name   last_name             company_name            address  \
0    Aleshia  Tomkiewicz  Alan D Rosenburg Cpa Pc       14 Taylor St
1       Evan   Zigomalas       Cap Gemini America        5 Binney St
2     France     Andrade      Elliott, John W Esq       8 Moor Place
3    Ulysses   Mcwalters           Mcmahan, Ben L      505 Exeter Rd
4     Tyisha      Veness           Champagne Room  5396 Forth Street

                             city           county    postal        phone1  \
0               St. Stephens Ward             Kent   CT2 7PP  01835-703597
1                      Abbey Ward  Buckinghamshire  HP11 2AX  01937-864715
2  East Southbourne and Tuckton W      Bournemouth   BH6 3BE  01347-368222
3              Hawerby cum Beesby     Lincolnshire  DN36 5RP  01912-771311
4      Greets Green and Lyng Ward    West Midlands   B70 9DT  01547-429341

         phone2                       email  \
0  01944-369967     atomkiewicz@hotmail.com
1  01714-737668    evan.zigomalas@gmail.com
2  01935-821636  france.andrade@hotmail.com
3  01302-601380         ulysses@hotmail.com
4  01290-367248   tyisha.veness@hotmail.com

                                    web
0  http://www.alandrosenburgcpapc.co.uk
1     http://www.capgeminiamerica.co.uk
2      http://www.elliottjohnwesq.co.uk
3          http://www.mcmahanbenl.co.uk
4        http://www.champagneroom.co.uk

<div style="">
    <div style="float: left; width: 80%;">
        <a id="12"></a>
        <font><b>Task 12:</b></font>
        <br><br>
        CSV to Dataframe (from_csv
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [18]:
print('Task 12:')  
#df = df.from_csv(path, header, sep, index_col, parse_dates, encoding, tupleize_cols, infer_datetime_format)
df = pd.read_csv('uk-500.csv')
print(df.head())

Task 12:
  first_name   last_name             company_name            address  \
0    Aleshia  Tomkiewicz  Alan D Rosenburg Cpa Pc       14 Taylor St
1       Evan   Zigomalas       Cap Gemini America        5 Binney St
2     France     Andrade      Elliott, John W Esq       8 Moor Place
3    Ulysses   Mcwalters           Mcmahan, Ben L      505 Exeter Rd
4     Tyisha      Veness           Champagne Room  5396 Forth Street

                             city           county    postal        phone1  \
0               St. Stephens Ward             Kent   CT2 7PP  01835-703597
1                      Abbey Ward  Buckinghamshire  HP11 2AX  01937-864715
2  East Southbourne and Tuckton W      Bournemouth   BH6 3BE  01347-368222
3              Hawerby cum Beesby     Lincolnshire  DN36 5RP  01912-771311
4      Greets Green and Lyng Ward    West Midlands   B70 9DT  01547-429341

         phone2                       email  \
0  01944-369967     atomkiewicz@hotmail.com
1  01714-737668    evan.zigomalas@gmail.com
2  01935-821636  france.andrade@hotmail.com
3  01302-601380         ulysses@hotmail.com
4  01290-367248   tyisha.veness@hotmail.com

                                    web
0  http://www.alandrosenburgcpapc.co.uk
1     http://www.capgeminiamerica.co.uk
2      http://www.elliottjohnwesq.co.uk
3          http://www.mcmahanbenl.co.uk
4        http://www.champagneroom.co.uk

<div style="">
    <div style="float: left; width: 80%;">
        <a id="13"></a>
        <font><b>Task 13:</b></font>
        <br><br>
        First 4 rows and 2 columns of CSV
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [32]:
print('Task 13:') 
df = pandas.read_csv('data1.csv', header=0,sep=',')
print(df.shape) 
#print(df[2:14])
print(df.iloc[0:4,0:2])
#print(df[df.columns[0]])

Task 13:
(9, 1)
  capacity,score,length
0               1,10,30
1               2,20,30
2               3,30,40
3               3,40,30

<div style="">
    <div style="float: left; width: 80%;">
        <a id="14"></a>
        <font><b>Task 14:</b></font>
        <br><br>
        Show even rows and first three columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [33]:
print('Task 14:') 
df = pandas.read_csv('abc.csv', sep=',',header=0, encoding = "utf-8")
print(df.shape)

print(df.iloc[::2, 0:3])    #打印出DataFrame的每两行（从第一行开始，步长为2），以及每列的前三个元素。

Task 14:
(7, 5)
  student  language  science
0   kumar        90       56
2   sammy        90       23
4   peter        30       56
6  carrol        50       90

<div style="">
    <div style="float: left; width: 80%;">
        <a id="15"></a>
        <font><b>Task 15:</b></font>
        <br><br>
        New columns as sum of all
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [34]:
print('Task 15:') 
df = pandas.read_csv('abc.csv', sep=',', header=0,encoding = "utf-8")
print(df.shape)
print(df) 
# df['total'] = df.sum(axis=1)
df['total'] = df.select_dtypes(include=[np.number]).sum(axis=1)
print(df)

Task 15:
(7, 5)
  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23
  student  language  science  maths  history  total
0   kumar        90       56     34       34    214
1   kevin        10       34     32       67    143
2   sammy        90       23     12       32    157
3  janice        20       67     90       45    222
4   peter        30       56     45       65    196
5    prem        90       45     45       34    214
6  carrol        50       90     45       23    208

<div style="">
    <div style="float: left; width: 80%;">
        <a id="16"></a>
        <font><b>Task 16:</b></font>
        <br><br>
        Delete Rows of one column where the value is less than 50
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [9]:
print('Task 16:') 
df = pandas.read_csv('./data/abc.csv', sep=',', header=0,encoding = "utf-8")
print(df.shape)
print(df)

Task 16:
(7, 5)
  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23

In [35]:

df = df[df.science > 50]
print(df)

Task 16:
(7, 5)
  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23
  student  language  science  maths  history
0   kumar        90       56     34       34
3  janice        20       67     90       45
4   peter        30       56     45       65
6  carrol        50       90     45       23

<div style="">
    <div style="float: left; width: 80%;">
        <a id="17"></a>
        <font><b>Task 17:</b></font>
        <br><br>
        Delete with Query
        <br>Note: Query doesn't work if your column has space in it
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [36]:
print('Task 17:') 
df = pandas.read_csv('abc.csv', sep=',', header=0,encoding = "utf-8")
print(df.shape)
print(df) 

df = df.query('science > 50')
print(df)

Task 17:
(7, 5)
  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23
  student  language  science  maths  history
0   kumar        90       56     34       34
3  janice        20       67     90       45
4   peter        30       56     45       65
6  carrol        50       90     45       23

<div style="">
    <div style="float: left; width: 80%;">
        <a id="18"></a>
        <font><b>Task 18:</b></font>
        <br><br>
        Skip single row
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [37]:
print('Task 18:') 
df = pandas.read_csv('abc.csv', sep=',', header=0,encoding = "utf-8", skiprows=[2])
print(df.shape)
print(df)

Task 18:
(6, 5)
  student  language  science  maths  history
0   kumar        90       56     34       34
1   sammy        90       23     12       32
2  janice        20       67     90       45
3   peter        30       56     45       65
4    prem        90       45     45       34
5  carrol        50       90     45       23

<div style="">
    <div style="float: left; width: 80%;">
        <a id="19"></a>
        <font><b>Task 19:</b></font>
        <br><br>
        Skip multiple rows
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [38]:
print('Task 19:') 
df = pandas.read_csv('abc.csv', sep=',', header=0,encoding = "utf-8", skiprows=[1, 5, 7])
print(df.shape)
#print(df) 

#df = df[df[[1]] > 45]
print(df)

Task 19:
(4, 5)
  student  language  science  maths  history
0   kevin        10       34     32       67
1   sammy        90       23     12       32
2  janice        20       67     90       45
3    prem        90       45     45       34

<div style="">
    <div style="float: left; width: 80%;">
        <a id="20"></a>
        <font><b>Task 20:</b></font>
        <br><br>
        Select Column by Index
        <br>
        <br>Note:
        <br>df[[1]] doesn't work in Pandas updated version (need to double check)
        <br>
        New columns as sum of all
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [39]:
# 打印出字符串 'Task 20:'  
print('Task 20:')  
  
# 导入pandas库，并将其重命名为pd，方便后续使用  
import pandas as pd  
  
# 使用pandas的read_csv函数读取名为'abc.csv'的CSV文件，分隔符为逗号，编码方式为utf-8，将读取的数据赋值给df变量  
df = pd.read_csv('abc.csv', sep=',',header=0, encoding = "utf-8")  
  
# 打印出df的形状，即行数和列数  
print(df.shape)  
  
# 打印出df的内容  
print(df)  
  
# 判断df的列数是否大于2  
if len(df.columns) > 2:  
  
    # 如果列数大于2，打印出第三列的类型  
    print(type(df.columns[2]))  
  
# 如果df的列数不大于2，即小于等于2  
else:  
  
    # 打印出字符串 'The dataframe does not have at least three columns.'  
    print("The dataframe does not have at least three columns.")

Task 20:
(7, 5)
  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23
<class 'str'>

<div style="">
    <div style="float: left; width: 80%;">
        <a id="21"></a>
        <font><b>Task 21:</b></font>
        <br><br>
        Skip rows
        <br>Note:
        <br>df[[1]] doesn't work in Pandas updated version (need to double check)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [40]:
print('Task 21:') 
df = pandas.read_csv('abc.csv', sep=',', encoding = "utf-8", header=0)
print(df.shape)
print(df) 

print(df.columns[2])

Task 21:
(7, 5)
  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23
science

<div style="">
    <div style="float: left; width: 80%;">
        <a id="22"></a>
        <font><b>Task 22:</b></font>
        <br><br>
        String to Dataframe
        <br>Note:
        <br>df[[1]] doesn't work in Pandas updated version (need to double check)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [41]:
print('Task 22:')
from io import StringIO

s = """
        1, 2
        3, 4
        5, 6
    """

df = pd.read_csv(StringIO(s), header=None)

print(df.shape)
print(df)

Task 22:
(3, 2)
   0  1
0  1  2
1  3  4
2  5  6

<div style="">
    <div style="float: left; width: 80%;">
        <a id="23"></a>
        <font><b>Task 23:</b></font>
        <br><br>
        New columns as max of other columns
        <br>float to int used
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [56]:
print('Task 23:') 
df = pandas.read_csv('abc.csv', sep=',',header=0, encoding = "utf-8")
print(df.shape)
print(df)
df['sum'] = df.select_dtypes(include=[np.number]).sum(axis=1)
df['max'] = df.select_dtypes(include=[np.number]).max(axis=1)
df['min'] = df.select_dtypes(include=[np.number]).min(axis=1)
df['average'] = df.select_dtypes(include=[np.number]).mean(axis=1).astype(int)
print(df)

# 这段代码有问题，如何解决

Task 23:
(7, 5)
  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23
  student  language  science  maths  history  sum  max  min  average
0   kumar        90       56     34       34  214  214   34       96
1   kevin        10       34     32       67  143  143   10       62
2   sammy        90       23     12       32  157  157   12       69
3  janice        20       67     90       45  222  222   20       98
4   peter        30       56     45       65  196  196   30       88
5    prem        90       45     45       34  214  214   34       96
6  carrol        50       90     45       23  208  208   23       92

In [55]:
print('Task 23:') 
df = pandas.read_csv('abc.csv', sep=',',header=0, encoding = "utf-8")
print(df.shape)
print(df)

df['sum'] = df.iloc[:,1:5].select_dtypes(include=[np.number]).sum(axis=1)
df['max'] = df.iloc[:,1:5].select_dtypes(include=[np.number]).max(axis=1)
df['min'] = df.iloc[:,1:5].select_dtypes(include=[np.number]).min(axis=1)
df['average'] = df.iloc[:,1:5].select_dtypes(include=[np.number]).mean(axis=1).astype(int)
print(df)

Task 23:
(7, 5)
  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23
  student  language  science  maths  history  sum  max  min  average
0   kumar        90       56     34       34  214   90   34       53
1   kevin        10       34     32       67  143   67   10       35
2   sammy        90       23     12       32  157   90   12       39
3  janice        20       67     90       45  222   90   20       55
4   peter        30       56     45       65  196   65   30       49
5    prem        90       45     45       34  214   90   34       53
6  carrol        50       90     45       23  208   90   23       52

In [50]:
print('Task 23:') 
df = pandas.read_csv('abc.csv', sep=',',header=0, encoding = "utf-8")
print(df.shape)
print(df)

df1=df.copy()
df['sum'] = df1.select_dtypes(include=[np.number]).sum(axis=1)
df['max'] = df1.select_dtypes(include=[np.number]).max(axis=1)
df['min'] = df1.select_dtypes(include=[np.number]).min(axis=1)
df['average'] = df1.select_dtypes(include=[np.number]).mean(axis=1).astype(int)
print(df)

Task 23:
(7, 5)
  student  language  science  maths  history  sum
0   kumar        90       56     34       34  214
1   kevin        10       34     32       67  143
2   sammy        90       23     12       32  157
3  janice        20       67     90       45  222
4   peter        30       56     45       65  196
5    prem        90       45     45       34  214
6  carrol        50       90     45       23  208
  student  language  science  maths  history  sum  max  min  average
0   kumar        90       56     34       34  214   90   34       53
1   kevin        10       34     32       67  143   67   10       35
2   sammy        90       23     12       32  157   90   12       39
3  janice        20       67     90       45  222   90   20       55
4   peter        30       56     45       65  196   65   30       49
5    prem        90       45     45       34  214   90   34       53
6  carrol        50       90     45       23  208   90   23       52

<div style="">
    <div style="float: left; width: 80%;">
        <a id="24"></a>
        <font><b>Task 24:</b></font>
        <br><br>
        New columns as max of other columns
<br>float to int used
<br>Math is considered more, so double the marks for maths
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [59]:
# 定义一个函数 apply_math_special，输入参数为 row  
def apply_math_special(row):  
    # 对 row 中的各列进行特定的计算，并返回计算结果  
    return (row.maths * 2 + row.language / 2 + row.history / 3 + row.science) / 4                  
  
# 打印字符串 'Task 24:'  
print('Task 24:')   
  
# 使用 pandas 的 read_csv 函数读取名为 'abc.csv' 的CSV文件，分隔符为逗号，编码方式为 utf-8，首行为标题行，将读取的数据赋值给 df 变量  
df = pandas.read_csv('abc.csv', sep=',',header=0, encoding = "utf-8")  
  
# 打印 df 的形状，即行数和列数  
print(df.shape)  
  
# 使用 pandas 的 apply 函数对 df 的每一行应用 apply_math_special 函数，并将结果赋值给新的列 'math_special'，最后将结果转换为整型  
df['math_special'] = df.apply(apply_math_special, axis=1).astype(int)  
  
# 打印 df 的内容  
print(df)

Task 24:
(7, 5)
  student  language  science  maths  history  math_special
0   kumar        90       56     34       34            45
1   kevin        10       34     32       67            31
2   sammy        90       23     12       32            25
3  janice        20       67     90       45            68
4   peter        30       56     45       65            45
5    prem        90       45     45       34            47
6  carrol        50       90     45       23            53

<div style="">
    <div style="float: left; width: 80%;">
        <a id="25"></a>
        <font><b>Task 25:</b></font>
        <br><br>
        New columns as max of other columns
<br>35 marks considered as pass 
<br>If the student fails in math, consider fail
<br>If the student passes in language and science, consider as pass
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [61]:
def pass_one_subject(row):
    if(row.maths > 34):
        return 'Pass'
    if(row.language > 34 and row.science > 34):
        return 'Pass'
    
    return 'Fail'                

print('Task 25:') 
df = pandas.read_csv('abc.csv', sep=',',header=0, encoding = "utf-8")
print(df.shape)   

df['pass_one'] = df.apply(pass_one_subject, axis=1)
print(df)

Task 25:
(7, 5)
  student  language  science  maths  history pass_one
0   kumar        90       56     34       34     Pass
1   kevin        10       34     32       67     Fail
2   sammy        90       23     12       32     Fail
3  janice        20       67     90       45     Pass
4   peter        30       56     45       65     Pass
5    prem        90       45     45       34     Pass
6  carrol        50       90     45       23     Pass

<div style="">
    <div style="float: left; width: 80%;">
        <a id="26"></a>
        <font><b>Task 26:</b></font>
        <br><br>
        Fill with average
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [66]:
# 打印字符串 'Task 26:'  
print('Task 26:')   
  
# 使用 pandas 的 read_csv 函数读取名为 'abc2.csv' 的CSV文件，分隔符为逗号，编码方式为 utf-8，将读取的数据赋值给 df 变量  
df = pandas.read_csv('abc2.csv', sep=',', encoding = "utf-8")  
  
# 打印 df 的形状，即行数和列数  
print(df.shape)     
  
# 打印 df 的内容  
print(df)  
  
# 使用 fillna 函数将 df 中所有数值类型的列的缺失值（NaN）填充为该列的平均值，并将结果赋值回 df，inplace=True 表示直接在原数据框上进行修改，而不返回新的数据框  
df.fillna(df.select_dtypes(include=[np.number]).mean(), inplace=True)  
  
# 打印处理后的 df 的内容  
print(df)

Task 26:
(7, 5)
  student  language  science  maths  history
0   kumar        90     56.0   34.0       34
1   kevin        10      NaN   32.0       67
2   sammy        90     23.0   12.0       32
3  janice        20      NaN   90.0       45
4   peter        30     56.0   45.0       65
5    prem        90     45.0    NaN       34
6  carrol        50     90.0   45.0       23
  student  language  science  maths  history
0   kumar        90     56.0   34.0       34
1   kevin        10     54.0   32.0       67
2   sammy        90     23.0   12.0       32
3  janice        20     54.0   90.0       45
4   peter        30     56.0   45.0       65
5    prem        90     45.0   43.0       34
6  carrol        50     90.0   45.0       23

<div style="">
    <div style="float: left; width: 80%;">
        <a id="27"></a>
        <font><b>Task 27:</b></font>
        <br><br>
        New columns as sum of all
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [68]:
print('Task 27:')
df = pd.DataFrame(np.random.rand(10, 5))
df.iloc[0:3, 0:4] = np.nan # throw in some na values
print(df)
df.loc[:, 'sum'] = df.iloc[:, 2:].sum(axis=1)
print(df)

Task 27:
          0         1         2         3         4
0       NaN       NaN       NaN       NaN  0.109663
1       NaN       NaN       NaN       NaN  0.340333
2       NaN       NaN       NaN       NaN  0.148878
3  0.336506  0.056028  0.740738  0.859413  0.890153
4  0.485208  0.542732  0.725081  0.534733  0.056027
5  0.237063  0.991029  0.177843  0.636491  0.500997
6  0.330859  0.463421  0.338698  0.369271  0.202758
7  0.415096  0.522446  0.253117  0.660503  0.118541
8  0.349383  0.790526  0.483091  0.650124  0.961614
9  0.153251  0.939945  0.758381  0.935156  0.410821
          0         1         2         3         4       sum
0       NaN       NaN       NaN       NaN  0.109663  0.109663
1       NaN       NaN       NaN       NaN  0.340333  0.340333
2       NaN       NaN       NaN       NaN  0.148878  0.148878
3  0.336506  0.056028  0.740738  0.859413  0.890153  2.490304
4  0.485208  0.542732  0.725081  0.534733  0.056027  1.315841
5  0.237063  0.991029  0.177843  0.636491  0.500997  1.315330
6  0.330859  0.463421  0.338698  0.369271  0.202758  0.910728
7  0.415096  0.522446  0.253117  0.660503  0.118541  1.032162
8  0.349383  0.790526  0.483091  0.650124  0.961614  2.094829
9  0.153251  0.939945  0.758381  0.935156  0.410821  2.104358

<div style="">
    <div style="float: left; width: 80%;">
        <a id="28"></a>
        <font><b>Task 28:</b></font>
        <br><br>
        Unicode issue and fix
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [82]:
print('Task 28:') 
df = pandas.read_csv('score.csv', sep=',',header=0, encoding = "ISO-8859-1")  # 解码方式不对，读取的信息不对
print(df)
print(df.shape)

Task 28:
    ÿþs  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0   NaN         NaN         NaN         NaN         NaN
1   NaN         NaN         NaN         NaN         NaN
2   NaN         NaN         NaN         NaN         NaN
3   NaN         NaN         NaN         NaN         NaN
4   NaN         NaN         NaN         NaN         NaN
5   NaN         NaN         NaN         NaN         NaN
6   NaN         NaN         NaN         NaN         NaN
7   NaN         NaN         NaN         NaN         NaN
8   NaN         NaN         NaN         NaN         NaN
9   NaN         NaN         NaN         NaN         NaN
10  NaN         NaN         NaN         NaN         NaN
11  NaN         NaN         NaN         NaN         NaN
12  NaN         NaN         NaN         NaN         NaN
13  NaN         NaN         NaN         NaN         NaN
14  NaN         NaN         NaN         NaN         NaN
15  NaN         NaN         NaN         NaN         NaN
(16, 5)

In [87]:
# 处理一下数据，另存为utf-8
print('Task 28:') 
df = pandas.read_csv('score1.csv', sep=',',header=0)
print(df)
print(df.shape)

Task 28:
  student  language  science  maths  history
0   kumar        90       56     34       34
1   kevin        10       34     32       67
2   sammy        90       23     12       32
3  janice        20       67     90       45
4   peter        30       56     45       65
5    prem        90       45     45       34
6  carrol        50       90     45       23
(7, 5)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="29"></a>
        <font><b>Task 29:</b></font>
        <br><br>
        Fill with average
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [89]:
print('Task 29:') 
df = pd.DataFrame(np.random.rand(3,4), columns=list("ABCD"))
df.iloc[1,1:]=np.nan
print(df.shape)   
print(df)
df.fillna(df.mean(), inplace=True)

print(df)

Task 29:
(3, 4)
          A         B         C         D
0  0.184755  0.168756  0.628764  0.974130
1  0.247848       NaN       NaN       NaN
2  0.476764  0.535521  0.540612  0.624513
          A         B         C         D
0  0.184755  0.168756  0.628764  0.974130
1  0.247848  0.352139  0.584688  0.799321
2  0.476764  0.535521  0.540612  0.624513

<div style="">
    <div style="float: left; width: 80%;">
        <a id="30"></a>
        <font><b>Task 30:</b></font>
        <br><br>
        Last 4 rows
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [93]:
print('Task 30:')  
df = pandas.read_csv('data1.csv', sep=',') 
print(df[-4:]) # 后四行

Task 30:
   capacity  score  length
5         7     10      23
6         3     20      22
7         8     20      11
8         2     30       2

<div style="">
    <div style="float: left; width: 80%;">
        <a id="31"></a>
        <font><b>Task 31:</b></font>
        <br><br>
        Expanding Apply
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [99]:
print('Task 31:')
# 创建一个pandas的Series，这个Series包含了从1到5的整数除以100.0，结果是一个浮点数的列表  
series1 = pd.Series([i / 100.0 for i in range(1,6)])  
  
# 打印出series1的值  
print(series1)  
  
# 定义一个函数CumRet，接收两个参数x和y，返回x乘以(1+y)的结果  
def CumRet(x,y):  
    return x * (1 + y)  

y=1
# 定义一个函数Red，接收一个参数x，在x上使用functools模块的reduce函数，将CumRet函数连续应用到x的每个元素上，初始值为y  
def Red(x):  
    return functools.reduce(CumRet,x,y)  
  
# 对series1进行扩展（expanding），然后对每个扩展窗口应用Red函数，结果保存在s2中  
s2 = series1.expanding().apply(Red)  
  
# 打印出s2的值  
print(s2)

Task 31:
0    0.01
1    0.02
2    0.03
3    0.04
4    0.05
dtype: float64
0    1.010000
1    1.030200
2    1.061106
3    1.103550
4    1.158728
dtype: float64

<div style="">
    <div style="float: left; width: 80%;">
        <a id="32"></a>
        <font><b>Task 32:</b></font>
        <br><br>
        Get 3 and 4th row
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [100]:
print('Task 32:')  
df = pandas.read_csv('data1.csv', sep=',') 
print(df[2:4])

Task 32:
   capacity  score  length
2         3     30      40
3         3     40      30

<div style="">
    <div style="float: left; width: 80%;">
        <a id="33"></a>
        <font><b>Task 33:</b></font>
        <br><br>
        Last 4th to 1st
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [117]:
print('Task 33:')  
df = pandas.read_csv('data1.csv', sep=',') 
print(df)

Task 33:
   capacity  score  length
0         1     10      30
1         2     20      30
2         3     30      40
3         3     40      30
4         2     30      40
5         7     10      23
6         3     20      22
7         8     20      11
8         2     30       2

In [119]:
print(df[-4:-2]) #负索引表示从尾部开始计数

   capacity  score  length
5         7     10      23
6         3     20      22

In [120]:
print(df[-4:0]) #负索引表示从尾部开始计数

Empty DataFrame
Columns: [capacity, score, length]
Index: []

In [121]:
print(df[0:-4]) #负索引表示从尾部开始计数

   capacity  score  length
0         1     10      30
1         2     20      30
2         3     30      40
3         3     40      30
4         2     30      40

<div style="">
    <div style="float: left; width: 80%;">
        <a id="34"></a>
        <font><b>Task 34:</b></font>
        <br><br>
        iloc position slice
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [39]:
print('Task 34:')  
df = pandas.read_csv('data1.csv', sep=';') 
print(df.iloc[1:9])

Task 34:
  capacity,score,length
1               2,20,30
2               3,30,40
3               3,40,30
4               2,30,40
5               7,10,23
6               3,20,22
7               8,20,11
8                2,30,2

<div style="">
    <div style="float: left; width: 80%;">
        <a id="35"></a>
        <font><b>Task 35:</b></font>
        <br><br>
        Loc - iloc - ix - at - iat
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [124]:
print('Task 35:')  
df = pandas.read_csv('data1.csv', sep=',')
df

Task 35:

   capacity  score  length
0         1     10      30
1         2     20      30
2         3     30      40
3         3     40      30
4         2     30      40
5         7     10      23
6         3     20      22
7         8     20      11
8         2     30       2

<div style="">
    <div style="float: left; width: 80%;">
        <a id="36"></a>
        <font><b>Task 36:</b></font>
        <br><br>
        Random data
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [125]:
print('Task 36:')  
def xrange(x):
    return iter(range(x))

rnd_1  =  [ rn.randrange ( 1 , 20 )  for  x  in  xrange ( 1000 )] 
rnd_2  =  [ rn.randrange ( 1 , 20 )  for  x  in  xrange ( 1000 )] 
rnd_3  =  [ rn.randrange ( 1 , 20 )  for  x in  xrange ( 1000 )] 
date  =  pd.date_range ( '2012-4-10' ,  '2015-1-4' )
print(len(date))
data  =  pd . DataFrame ({ 'date' : date ,  'rnd_1' :  rnd_1 ,  'rnd_2' :  rnd_2 ,  'rnd_3' :  rnd_3 })

data.head()

Task 36:
1000

        date  rnd_1  rnd_2  rnd_3
0 2012-04-10      5      2     17
1 2012-04-11     11     13      8
2 2012-04-12     18      1      9
3 2012-04-13      8      4      5
4 2012-04-14      9      8      9

<div style="">
    <div style="float: left; width: 80%;">
        <a id="37"></a>
        <font><b>Task 37:</b></font>
        <br><br>
        Filter with the value comparison
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [126]:
print('Task 37:')
below_20 = data[data['rnd_1'] < 20]    
print(below_20)

Task 37:
          date  rnd_1  rnd_2  rnd_3
0   2012-04-10      5      2     17
1   2012-04-11     11     13      8
2   2012-04-12     18      1      9
3   2012-04-13      8      4      5
4   2012-04-14      9      8      9
..         ...    ...    ...    ...
995 2014-12-31     16     10     17
996 2015-01-01     19      2     14
997 2015-01-02      9     18     12
998 2015-01-03     17      2      2
999 2015-01-04      2     14     18

[1000 rows x 4 columns]

<div style="">
    <div style="float: left; width: 80%;">
        <a id="38"></a>
        <font><b>Task 38:</b></font>
        <br><br>
        Filter between 5 and 10 on col 1
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [127]:
print('Task 38:') 
def xrange(x):
    return iter(range(x))
rnd_1  =  [ rn.randrange ( 1 , 20 )  for  x  in  xrange ( 1000 )] 
rnd_2  =  [ rn.randrange ( 1 , 20 )  for  x  in  xrange ( 1000 )] 
rnd_3  =  [ rn.randrange ( 1 , 20 )  for  x in  xrange ( 1000 )] 
date  =  pd . date_range ( '2012-4-10' ,  '2015-1-4' )
print(len(date))
data  =  pd . DataFrame ({ 'date' : date ,  'rnd_1' :  rnd_1 ,  'rnd_2' :  rnd_2 ,  'rnd_3' :  rnd_3 })
below_20 = data[data['rnd_1'] < 20]
ten_to_20 = data[(data['rnd_1'] >= 5) & (data['rnd_1'] < 10)]
#print(ten_to_20)

Task 38:
1000

<div style="">
    <div style="float: left; width: 80%;">
        <a id="39"></a>
        <font><b>Task 39:</b></font>
        <br><br>
        Filter between 15 to 20
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [128]:
print('Task 39:')      
date  =  pd . date_range ( '2018-08-01' ,  '2018-08-15' )
date_count = len(date)

def fill_rand(start, end, count):
    return [rn.randrange(1, 20 ) for x in xrange( count )]

rnd_1 = fill_rand(1, 20, date_count) 
rnd_2 = fill_rand(1, 20, date_count) 
rnd_3 = fill_rand(1, 20, date_count)
#print(len(date))
data  =  pd . DataFrame ({ 'date' : date ,  'rnd_1' :  rnd_1 ,  'rnd_2' :  rnd_2 ,  'rnd_3' :  rnd_3 })
#print(len(date))
ten_to_20 = data[(data['rnd_1'] >= 15) & (data['rnd_1'] < 20)]
print(ten_to_20)

Task 39:
         date  rnd_1  rnd_2  rnd_3
3  2018-08-04     19     12      6
7  2018-08-08     19     18     12
8  2018-08-09     15     15      2
11 2018-08-12     15      8      8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="40"></a>
        <font><b>Task 40:</b></font>
        <br><br>
        15 to 33
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [129]:
print('Task 40:')      
date  =  pd . date_range ( '2018-08-01' ,  '2018-08-15' )
date_count = len(date)

def fill_rand(start, end, count):
    return [rn.randrange(1, 20 ) for x in xrange( count )]

rnd_1 = fill_rand(1, 20, date_count) 
rnd_2 = fill_rand(1, 20, date_count) 
rnd_3 = fill_rand(1, 20, date_count)

data  =  pd . DataFrame ({ 'date' : date ,  'rnd_1' :  rnd_1 ,  'rnd_2' :  rnd_2 ,  'rnd_3' :  rnd_3 })

ten_to_20 = data[(data['rnd_1'] >= 15) & (data['rnd_1'] < 33)]
print(ten_to_20)

Task 40:
         date  rnd_1  rnd_2  rnd_3
0  2018-08-01     18      4     13
4  2018-08-05     15      3     13
7  2018-08-08     19     15      7
9  2018-08-10     18     12      2
12 2018-08-13     18      5      2

<div style="">
    <div style="float: left; width: 80%;">
        <a id="41"></a>
        <font><b>Task 41:</b></font>
        <br><br>
        Custom method and xrnage on dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [130]:
print('Task 41:')  
date  =  pd . date_range ( '2018-08-01' ,  '2018-08-15' )
date_count = len(date)

def xrange(x):
    return iter(range(x))

def fill_rand(start, end, count):
    return [rn.randrange(1, 20 ) for x in xrange( count )]

rnd_1 = fill_rand(1, 20, date_count) 
rnd_2 = fill_rand(1, 20, date_count) 
rnd_3 = fill_rand(1, 20, date_count)

data  =  pd . DataFrame ({ 'date' : date ,  'rnd_1' :  rnd_1 ,  'rnd_2' :  rnd_2 ,  'rnd_3' :  rnd_3 })
filter_loc = data.loc[ 2 : 4 ,  [ 'rnd_2' ,  'date' ]]
print(filter_loc)

Task 41:
   rnd_2       date
2      3 2018-08-03
3     17 2018-08-04
4     11 2018-08-05

<div style="">
    <div style="float: left; width: 80%;">
        <a id="42"></a>
        <font><b>Task 42:</b></font>
        <br><br>
        Set index with date column
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [131]:
print('Task 42:')
date_date = data.set_index( 'date' ) 
print(date_date.head())

Task 42:
            rnd_1  rnd_2  rnd_3
date
2018-08-01      1     17      1
2018-08-02     15      4      6
2018-08-03      5      3     12
2018-08-04      4     17      1
2018-08-05     13     11      1

<div style="">
    <div style="float: left; width: 80%;">
        <a id="43"></a>
        <font><b>Task 43:</b></font>
        <br><br>
        Change columns based on other columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [132]:
print('Task 43:') 
df = pd.DataFrame({
    'a' : [1,2,3,4], 
    'b' : [5,8,7,6],
    'c' : [11,12,13,14]
})
print(df) 

print('changing on one column')
# Change columns
df.loc[df.a >= 2,'b'] = 9
print(df)

Task 43:
   a  b   c
0  1  5  11
1  2  8  12
2  3  7  13
3  4  6  14
changing on one column
   a  b   c
0  1  5  11
1  2  9  12
2  3  9  13
3  4  9  14

<div style="">
    <div style="float: left; width: 80%;">
        <a id="44"></a>
        <font><b>Task 44:</b></font>
        <br><br>
        Change multiple columns based on one column values
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [133]:
print('Task 44:')  
print('changing on multipe columns')
df.loc[df.a > 2,['b', 'c']] = 45
print(df)

Task 44:
changing on multipe columns
   a   b   c
0  1   5  11
1  2   9  12
2  3  45  45
3  4  45  45

<div style="">
    <div style="float: left; width: 80%;">
        <a id="45"></a>
        <font><b>Task 45:</b></font>
        <br><br>
        Pandas Mask
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [136]:
print('Task 45:')  
print(df)
df_mask = pd.DataFrame({
    'a' : [True] * 4, 
    'b' : [False] * 4,
    'c' : [True, False] * 2
})
print(df_mask)
print(df.where(df_mask,-1000))

Task 45:
   a   b   c
0  1   5  11
1  2   9  12
2  3  45  45
3  4  45  45
      a      b      c
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False
   a     b     c
0  1 -1000    11
1  2 -1000 -1000
2  3 -1000    45
3  4 -1000 -1000

<div style="">
    <div style="float: left; width: 80%;">
        <a id="46"></a>
        <font><b>Task 46:</b></font>
        <br><br>
        Check high or low comparing the column against 5
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [138]:
print('Task 46:')
print(df)  
df['logic'] = np.where(df['b'] > 5, 'high', 'low')
print(df)

Task 46:
   a   b   c logic
0  1   5  11   low
1  2   9  12   low
2  3  45  45   low
3  4  45  45   low
   a   b   c logic
0  1   5  11   low
1  2   9  12  high
2  3  45  45  high
3  4  45  45  high

<div style="">
    <div style="float: left; width: 80%;">
        <a id="47"></a>
        <font><b>Task 47:</b></font>
        <br><br>
        Student Marks (Pass or Fail)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [139]:
print('Task 47:')
marks_df = pd.DataFrame({
    'Language' : [60, 45, 78, 4], 
    'Math' : [90, 80, 23, 60],
    'Science' : [45, 90, 95, 20]
});
print(marks_df)
marks_df['language_grade'] = np.where(marks_df['Language'] >= 50, 'Pass', 'Fail')
marks_df['math_grade'] = np.where(marks_df['Math'] >= 50, 'Pass', 'Fail')
marks_df['science_grade'] = np.where(marks_df['Science'] >= 50, 'Pass', 'Fail')
print(marks_df)

Task 47:
   Language  Math  Science
0        60    90       45
1        45    80       90
2        78    23       95
3         4    60       20
   Language  Math  Science language_grade math_grade science_grade
0        60    90       45           Pass       Pass          Fail
1        45    80       90           Fail       Pass          Pass
2        78    23       95           Pass       Fail          Pass
3         4    60       20           Fail       Pass          Fail

<div style="">
    <div style="float: left; width: 80%;">
        <a id="48"></a>
        <font><b>Task 48:</b></font>
        <br><br>
        Get passed grades
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [140]:
print('Task 48:')  
marks_df = pd.DataFrame({
    'Language' : [60, 45, 78, 4], 
    'Math' : [90, 80, 23, 60],
    'Science' : [45, 90, 95, 20]
});
print(marks_df)
marks_df_passed_in_language = marks_df[marks_df.Language >=50 ]
print(marks_df_passed_in_language)

Task 48:
   Language  Math  Science
0        60    90       45
1        45    80       90
2        78    23       95
3         4    60       20
   Language  Math  Science
0        60    90       45
2        78    23       95

<div style="">
    <div style="float: left; width: 80%;">
        <a id="49"></a>
        <font><b>Task 49:</b></font>
        <br><br>
        Students passed in Language and Math
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [54]:
print('Task 49:')  
marks_df_passed_in_lang_math = marks_df[(marks_df.Language >=50) & (marks_df.Math >= 50)]
print(marks_df_passed_in_lang_math)

Task 49:
   Language  Math  Science
0        60    90       45

<div style="">
    <div style="float: left; width: 80%;">
        <a id="50"></a>
        <font><b>Task 50:</b></font>
        <br><br>
        Students passed in Language and Science
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [55]:
print('Task 50:')  
marks_df_passed_in_lang_and_sc = marks_df.loc[(marks_df.Language >=50) & (marks_df.Science >= 50)]
print(marks_df_passed_in_lang_and_sc)

Task 50:
   Language  Math  Science
2        78    23       95

<div style="">
    <div style="float: left; width: 80%;">
        <a id="51"></a>
        <font><b>Task 51:</b></font>
        <br><br>
        Loc with Label oriented slicing
<br>possible error:
<br>pandas.errors.UnsortedIndexError
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [142]:
print('Task 51:')
stars = {
    'age' : [31, 23, 65, 50],
    'movies' : [51, 23, 87, 200],
    'awards' : [42, 12, 4, 78]
    }
star_names = ['dhanush', 'simbu', 'kamal', 'vikram']
stars_df = pd.DataFrame(data=stars, index=[star_names])
print(stars_df)

Task 51:
         age  movies  awards
dhanush   31      51      42
simbu     23      23      12
kamal     65      87       4
vikram    50     200      78

<div style="">
    <div style="float: left; width: 80%;">
        <a id="52"></a>
        <font><b>Task 52:</b></font>
        <br><br>
        iloc with positional slicing
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [143]:
print('Task 52:')  
print(stars_df.iloc[1:3]) # 1-3行

Task 52:
       age  movies  awards
simbu   23      23      12
kamal   65      87       4

<div style="">
    <div style="float: left; width: 80%;">
        <a id="53"></a>
        <font><b>Task 53:</b></font>
        <br><br>
        Label between numbers
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

loc和iloc都是Pandas库中的数据选择方法，它们的区别主要体现在以下两个方面：

    索引方式：loc使用标签（即行列名）来索引数据，而iloc使用整数位置来索引数据。因此，loc在定位数据时依赖于列的中文名和行的索引，而iloc仅依赖于行和列的整数位置。
    行列标签类型：loc可以接受字符型的标签来索引数据，但行列名为数字时，它也可能使用数字来索引，但这里的数字不一定从0开始编号，是对应具体行列名的数字。而iloc则仅能使用顺序数字来索引数据，不能使用字符型的标签来索引。

总结起来，loc和iloc的主要区别在于它们索引数据的方式和行列标签类型的使用上。loc更依赖于行列的标签，而iloc更依赖于数据在DataFrame中的位置。

In [144]:
print('Task 53:')  
# 创建一个Pandas DataFrame，DataFrame是Pandas中的一个二维标签化数据结构  
numbers = pd.DataFrame({  
        # 'one'是一个列名，对应的值是一个列表，这个列表包含了四个元素：10，50，80，40  
        'one' : [10, 50, 80, 40],  
        # 'two'是另一个列名，对应的值也是一个列表，这个列表包含了四个元素：2，6，56，45  
        'two' : [2, 6, 56, 45]  
    },  
    # index参数指定了DataFrame的索引，这个索引也是一个列表，包含了四个元素：12，14，16，18  
index = [12, 14, 16, 18])  
  
# 打印整个DataFrame  
print(numbers)  
  
# 打印出提示信息  
print('label between 12 and 16')  
  
# .loc[]方法用于通过标签（也就是索引）来选取DataFrame中的部分数据，这里选取的是索引为12到16的部分，只有有索引的时候才可以使用
print(numbers.loc[12:16])  
  
# 打印出提示信息  
print('index between 1 and 3')  
  
# .iloc[]方法用于通过整数位置来选取DataFrame中的部分数据，这里选取的是第一行到第三行的部分（注意，Python中的索引是从0开始的）  
print(numbers.iloc[1:3])

Task 53:
    one  two
12   10    2
14   50    6
16   80   56
18   40   45
label between 12 and 16
    one  two
12   10    2
14   50    6
16   80   56
index between 1 and 3
    one  two
14   50    6
16   80   56

<div style="">
    <div style="float: left; width: 80%;">
        <a id="54"></a>
        <font><b>Task 54:</b></font>
        <br><br>
        Stars with names
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [151]:
print('Task 54:') 
stars = {
    'age' : [31, 23, 65, 50],
    'movies' : [51, 23, 87, 200],
    'awards' : [42, 12, 4, 78]
    }
star_names = ['dhanush', 'simbu', 'kamal', 'vikram']
stars_df = pd.DataFrame(data=stars, index=[star_names])
numbers = pd.DataFrame({
        'one' : [10, 50, 80, 40],
        'two' : [2, 6, 56, 45]
    },
    # index =  [12, 14, 16, 18])
    index= star_names)
print(numbers)

Task 54:
         one  two
dhanush   10    2
simbu     50    6
kamal     80   56
vikram    40   45

<div style="">
    <div style="float: left; width: 80%;">
        <a id="55"></a>
        <font><b>Task 55:</b></font>
        <br><br>
        Row label selection
        <br>Age is above 25 and movies above 25
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [60]:
print('Task 55:')

age_movies_25 = stars_df[(stars_df.movies > 25 ) & (stars_df.age > 25)]  
print(age_movies_25)

Task 55:
         age  movies  awards
dhanush   31      51      42
kamal     65      87       4
vikram    50     200      78

<div style="">
    <div style="float: left; width: 80%;">
        <a id="56"></a>
        <font><b>Task 56:</b></font>
        <br><br>
        Stars in in certain ages
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [61]:
print('Task 56:')  
custom_stars = stars_df[stars_df.age.isin([31, 65])]
print(custom_stars)

Task 56:
         age  movies  awards
dhanush   31      51      42
kamal     65      87       4

<div style="">
    <div style="float: left; width: 80%;">
        <a id="57"></a>
        <font><b>Task 57:</b></font>
        <br><br>
        inverse opeartor
         <br>!( above one.45 and below two.50 )
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [62]:
print('Task 57:')  
print(numbers)
print(numbers[~( (numbers.one > 45) & (numbers.two < 50) )])

Task 57:
    one  two
12   10    2
14   50    6
16   80   56
18   40   45
    one  two
12   10    2
16   80   56
18   40   45

<div style="">
    <div style="float: left; width: 80%;">
        <a id="58"></a>
        <font><b>Task 58:</b></font>
        <br><br>
        Apply custom function
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [63]:
print('Task 58:')
def GrowUp(x):
    avg_weight =  sum(x[x['size'] == 'series1'].weight * 1.5)
    avg_weight += sum(x[x['size'] == 'M'].weight * 1.25)
    avg_weight += sum(x[x['size'] == 'L'].weight)
    avg_weight /= len(x)
    return pd.Series(['L',avg_weight,True], index=['size', 'weight', 'adult'])

animals_df = pd.DataFrame({'animal': 'cat dog cat fish dog cat cat'.split(),
                   'size': list('SSMMMLL'),
                   'weight': [8, 10, 11, 1, 20, 12, 12],
                   'adult' : [False] * 5 + [True] * 2})

gb = animals_df.groupby(['animal'])

expected_df = gb.apply(GrowUp)
print(expected_df)

Task 58:
       size   weight  adult
animal
cat       L   9.4375   True
dog       L  12.5000   True
fish      L   1.2500   True

<div style="">
    <div style="float: left; width: 80%;">
        <a id="59"></a>
        <font><b>Task 59:</b></font>
        <br><br>
        Group by single column
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [64]:
print('Task 59:')
weights = animals_df.groupby(['weight']).get_group(20)  
print(weights)

Task 59:
  animal size  weight  adult
4    dog    M      20  False

<div style="">
    <div style="float: left; width: 80%;">
        <a id="60"></a>
        <font><b>Task 60:</b></font>
        <br><br>
        Creating new Columns using Applymap
        <br>Sides & applymap
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [65]:
print('Task 60:')
sides_df = pd.DataFrame({
    'a' : [1, 1, 2, 4],
    'b' : [2, 1, 3, 4]
    })  
print(sides_df)
source_cols = sides_df.columns
print(source_cols)
new_cols = [str(x)+"_side" for x in source_cols]
side_category = {
    1 : 'North',
    2 : 'East',
    3 : 'South', 
    4 : 'West'
    }
sides_df[new_cols] = sides_df[source_cols].applymap(side_category.get)
print(sides_df)

Task 60:
   a  b
0  1  2
1  1  1
2  2  3
3  4  4
Index(['a', 'b'], dtype='object')
   a  b a_side b_side
0  1  2  North   East
1  1  1  North  North
2  2  3   East  South
3  4  4   West   West

<div style="">
    <div style="float: left; width: 80%;">
        <a id="61"></a>
        <font><b>Task 61:</b></font>
        <br><br>
        Replacing some values with mean of the rest of a group
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [66]:
print('Task 61:')  
df = pd.DataFrame({'A' : [1, 1, 2, 2], 'B' : [1, -1, 1, 2]})
print(df)

gb = df.groupby('A')

def replace(g):
    mask = g < 0
    g.loc[mask] = g[~mask].mean()
    return g

gbt = gb.transform(replace)

print(gbt)

Task 61:
   A  B
0  1  1
1  1 -1
2  2  1
3  2  2
     B
0  1.0
1  1.0
2  1.0
3  2.0

<div style="">
    <div style="float: left; width: 80%;">
        <a id="62"></a>
        <font><b>Task 62:</b></font>
        <br><br>
        Students passed in Language or Science (any one subject)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [67]:
print('Task 62:') 
marks_df = pd.DataFrame({
    'Language' : [60, 45, 78, 4], 
    'Math' : [90, 80, 23, 60],
    'Science' : [45, 90, 95, 20]
});
print(marks_df)
marks_df_passed_in_lang_or_sc = marks_df.loc[(marks_df.Language >=50) | (marks_df.Science >= 50)]
print(marks_df_passed_in_lang_or_sc)

Task 62:
   Language  Math  Science
0        60    90       45
1        45    80       90
2        78    23       95
3         4    60       20
   Language  Math  Science
0        60    90       45
1        45    80       90
2        78    23       95

<div style="">
    <div style="float: left; width: 80%;">
        <a id=""></a>
        <font><b>Task 63:</b></font>
        <br><br>
        possible errors:
        <br>TypeError: 'Series' objects are mutable, thus they cannot be hashed
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [68]:
print('Task 63:')  
marks_df['passed_one_subject'] = 'Fail' 
marks_df.loc[(marks_df.Language >=50) , 'passed_one_subject'] = 'Pass'
print(marks_df)

Task 63:
   Language  Math  Science passed_one_subject
0        60    90       45               Pass
1        45    80       90               Fail
2        78    23       95               Pass
3         4    60       20               Fail

<div style="">
    <div style="float: left; width: 80%;">
        <a id="64"></a>
        <font><b>Task 64:</b></font>
        <br><br>
        argsort
        <br>Select rows with data closest to certain value using argsort
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [69]:
print('Task 64:')  
df = pd.DataFrame({
    "a": np.random.randint(0, 100, size=(5,)), 
    "b": np.random.randint(0, 70, size=(5,))
})
print(df)
par = 65
print('with argsort')
df1 = df.loc[(df.a-par).abs().argsort()]
print(df1)

print(df.loc[(df.b-2).abs().argsort()])

Task 64:
    a   b
0  81  26
1  75   9
2  16  66
3  95  64
4  92  10
with argsort
    a   b
1  75   9
0  81  26
4  92  10
3  95  64
2  16  66
    a   b
1  75   9
4  92  10
0  81  26
3  95  64
2  16  66

<div style="">
    <div style="float: left; width: 80%;">
        <a id="65"></a>
        <font><b>Task 65:</b></font>
        <br><br>
        argsort with stars        
        <br>old stars (near by 50 age) argsort
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [70]:
print('Task 65:')  
stars = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "movies": [2, 3, 90, 45, 34, 2] 
})
print(stars.loc[(stars.age - 50).abs().argsort()])

Task 65:
   age  movies
1   50       3
3   45      45
4   65      34
2   24      90
5   18       2
0   17       2

<div style="">
    <div style="float: left; width: 80%;">
        <a id="66"></a>
        <font><b>Task 66:</b></font>
        <br><br>
        Argsort with actors

        <br>young stars (near by 17)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [71]:
print('Task 66:')  
print(stars.loc[(stars.age - 17).abs().argsort()])

Task 66:
   age  movies
0   17       2
5   18       2
2   24      90
3   45      45
1   50       3
4   65      34

<div style="">
    <div style="float: left; width: 80%;">
        <a id="67"></a>
        <font><b>Task 67:</b></font>
        <br><br>
        Binary operators

        <br>Stars with

        <br>younger than 19 - very young

        <br>more movies acted**
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [72]:
print('Task 67:')
stars = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "movies": [22, 33, 90, 75, 34, 2] 
})  
print(stars)
print('Young and more movies acted')
young = stars.age < 30    
more_movies = stars.movies > 30
young_more = [young, more_movies]
young_more_Criteria = functools.reduce(lambda x, y : x & y, young_more)
print(stars[young_more_Criteria])

Task 67:
   age  movies
0   17      22
1   50      33
2   24      90
3   45      75
4   65      34
5   18       2
Young and more movies acted
   age  movies
2   24      90

<div style="">
    <div style="float: left; width: 80%;">
        <a id="68"></a>
        <font><b>Task 68:</b></font>
        <br><br>
        Young, Higher Salary, and Higher Position
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [73]:
print('Task 68:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8] 
})  
print(employees)
print('Young, Higher Salary, and Higher Position')
young = employees.age < 30
high_salary = employees.salary > 60
high_position = employees.grade > 6
young_salary_position = [young, high_salary, high_position]
young_salary_position_Criteria = functools.reduce(lambda x, y : x & y, young_salary_position)
print(employees[young_salary_position_Criteria])

Task 68:
   age  salary  grade
0   17      75      7
1   50      33      8
2   24      90      9
3   45     175      2
4   65     134      7
5   18      78      8
Young, Higher Salary, and Higher Position
   age  salary  grade
0   17      75      7
2   24      90      9
5   18      78      8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="69"></a>
        <font><b>Task 69:</b></font>
        <br><br>
        Rename columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [74]:
print('Task 69:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8] 
})  
print(employees)
employees.rename(columns={'age': 'User Age', 'salary': 'Salary 2018'}, inplace=True)
print(employees)

Task 69:
   age  salary  grade
0   17      75      7
1   50      33      8
2   24      90      9
3   45     175      2
4   65     134      7
5   18      78      8
   User Age  Salary 2018  grade
0        17           75      7
1        50           33      8
2        24           90      9
3        45          175      2
4        65          134      7
5        18           78      8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="70"></a>
        <font><b>Task 70:</b></font>
        <br><br>
        Add a new column
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [75]:
print('Task 70:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8] 
})  
print(employees)
employees['group'] = pd.Series(np.random.randn(len(employees)))
print(employees)

Task 70:
   age  salary  grade
0   17      75      7
1   50      33      8
2   24      90      9
3   45     175      2
4   65     134      7
5   18      78      8
   age  salary  grade     group
0   17      75      7 -0.496735
1   50      33      8  0.789538
2   24      90      9  1.335492
3   45     175      2  0.799005
4   65     134      7  1.832845
5   18      78      8  0.046927

<div style="">
    <div style="float: left; width: 80%;">
        <a id="71"></a>
        <font><b>Task 71:</b></font>
        <br><br>
        Drop a column
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [76]:
print('Task 71:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8] 
})  
print(employees)
employees['group'] = pd.Series(np.random.randn(len(employees)))
print(employees)
employees.drop(employees.columns[[0]], axis=1, inplace = True)
print(employees)

Task 71:
   age  salary  grade
0   17      75      7
1   50      33      8
2   24      90      9
3   45     175      2
4   65     134      7
5   18      78      8
   age  salary  grade     group
0   17      75      7  0.035179
1   50      33      8  0.099574
2   24      90      9  0.110417
3   45     175      2  0.429293
4   65     134      7 -0.228974
5   18      78      8 -0.273440
   salary  grade     group
0      75      7  0.035179
1      33      8  0.099574
2      90      9  0.110417
3     175      2  0.429293
4     134      7 -0.228974
5      78      8 -0.273440

<div style="">
    <div style="float: left; width: 80%;">
        <a id="72"></a>
        <font><b>Task 72:</b></font>
        <br><br>
        Drop multiple columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [77]:
print('Task 72:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8] 
})  
print(employees)
employees['group'] = pd.Series(np.random.randn(len(employees)))
print(employees)
employees.drop(employees.columns[[1, 2]], axis=1, inplace = True)
print(employees)

Task 72:
   age  salary  grade
0   17      75      7
1   50      33      8
2   24      90      9
3   45     175      2
4   65     134      7
5   18      78      8
   age  salary  grade     group
0   17      75      7  0.198074
1   50      33      8 -1.778808
2   24      90      9  0.825380
3   45     175      2  1.304265
4   65     134      7 -0.235640
5   18      78      8 -0.913442
   age     group
0   17  0.198074
1   50 -1.778808
2   24  0.825380
3   45  1.304265
4   65 -0.235640
5   18 -0.913442

<div style="">
    <div style="float: left; width: 80%;">
        <a id="73"></a>
        <font><b>Task 73:</b></font>
        <br><br>
        Drop first and last column
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [78]:
print('Task 73:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)
employees.drop(employees.columns[[0, len(employees.columns)-1]], axis=1, inplace = True)
print(employees)

Task 73:
   age  salary  grade  group
0   17      75      7      1
1   50      33      8      1
2   24      90      9      2
3   45     175      2      2
4   65     134      7      2
5   18      78      8      1
   salary  grade
0      75      7
1      33      8
2      90      9
3     175      2
4     134      7
5      78      8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="74"></a>
        <font><b>Task 74:</b></font>
        <br><br>
        Delete by pop function
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [79]:
print('Task 74:')  
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)
group = employees.pop('group')
print(employees)
print(group)

Task 74:
   age  salary  grade  group
0   17      75      7      1
1   50      33      8      1
2   24      90      9      2
3   45     175      2      2
4   65     134      7      2
5   18      78      8      1
   age  salary  grade
0   17      75      7
1   50      33      8
2   24      90      9
3   45     175      2
4   65     134      7
5   18      78      8
0    1
1    1
2    2
3    2
4    2
5    1
Name: group, dtype: int64

<div style="">
    <div style="float: left; width: 80%;">
        <a id="75"></a>
        <font><b>Task 75:</b></font>
        <br><br>
        DataFrame.from_items
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [80]:
print('Task 75:')  
# df = pd.DataFrame.from_items([('A', [1, 2, 3]), ('B', [4, 5, 6]), ('C', [7,8, 9])], orient='index', columns=['one', 'two', 'three'])
# print(df) # throwing error

Task 75:

<div style="">
    <div style="float: left; width: 80%;">
        <a id="76"></a>
        <font><b>Task 76:</b></font>
        <br><br>
        Pandas to list
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [81]:
print('Task 76:')
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)  
employees_list1 = list(employees.columns.values) 
employees_list2 = employees.values.tolist()
#employees_list = list(employees)
print(employees_list1)
print(employees_list2)

Task 76:
   age  salary  grade  group
0   17      75      7      1
1   50      33      8      1
2   24      90      9      2
3   45     175      2      2
4   65     134      7      2
5   18      78      8      1
['age', 'salary', 'grade', 'group']
[[17, 75, 7, 1], [50, 33, 8, 1], [24, 90, 9, 2], [45, 175, 2, 2], [65, 134, 7, 2], [18, 78, 8, 1]]

<div style="">
    <div style="float: left; width: 80%;">
        <a id="77"></a>
        <font><b>Task 77:</b></font>
        <br><br>
        Pandas rows to list
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [82]:
print('Task 77:')
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)  
employees_list2 = employees.values.tolist()
print(employees_list2)
print(type(employees_list2))
print(len(employees_list2))

Task 77:
   age  salary  grade  group
0   17      75      7      1
1   50      33      8      1
2   24      90      9      2
3   45     175      2      2
4   65     134      7      2
5   18      78      8      1
[[17, 75, 7, 1], [50, 33, 8, 1], [24, 90, 9, 2], [45, 175, 2, 2], [65, 134, 7, 2], [18, 78, 8, 1]]
<class 'list'>
6

<div style="">
    <div style="float: left; width: 80%;">
        <a id="78"></a>
        <font><b>Task 78:</b></font>
        <br><br>
        XPandas rows to array 

        <br>Note: as_matrix is deprecatedYZ
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [83]:
print('Task 78:')
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)  
employees_list2 = employees.values
print(employees_list2)
print(type(employees_list2))
print(employees_list2.shape)

Task 78:
   age  salary  grade  group
0   17      75      7      1
1   50      33      8      1
2   24      90      9      2
3   45     175      2      2
4   65     134      7      2
5   18      78      8      1
[[ 17  75   7   1]
 [ 50  33   8   1]
 [ 24  90   9   2]
 [ 45 175   2   2]
 [ 65 134   7   2]
 [ 18  78   8   1]]
<class 'numpy.ndarray'>
(6, 4)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="79"></a>
        <font><b>Task 79:</b></font>
        <br><br>
        Pandas rows to map
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [84]:
print('Task 79:')
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)  
employees_list2 = map(list, employees.values)
print(employees_list2)
print(type(employees_list2))

Task 79:
   age  salary  grade  group
0   17      75      7      1
1   50      33      8      1
2   24      90      9      2
3   45     175      2      2
4   65     134      7      2
5   18      78      8      1
<map object at 0x0000018B60CA28C0>
<class 'map'>

<div style="">
    <div style="float: left; width: 80%;">
        <a id="80"></a>
        <font><b>Task 80:</b></font>
        <br><br>
        Pandas rows to map
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [85]:
print('Task 80:')
employees = pd.DataFrame({
    "age": [17, 50, 24, 45, 65, 18], 
    "salary": [75, 33, 90, 175, 134, 78],
    "grade" : [7, 8, 9, 2, 7, 8],
    "group" : [1, 1, 2, 2, 2, 1] 
    
})  
print(employees)  
employees_list2 = list(map(list, employees.values))
print(employees_list2)
print(type(employees_list2))

Task 80:
   age  salary  grade  group
0   17      75      7      1
1   50      33      8      1
2   24      90      9      2
3   45     175      2      2
4   65     134      7      2
5   18      78      8      1
[[17, 75, 7, 1], [50, 33, 8, 1], [24, 90, 9, 2], [45, 175, 2, 2], [65, 134, 7, 2], [18, 78, 8, 1]]
<class 'list'>

<div style="">
    <div style="float: left; width: 80%;">
        <a id="81"></a>
        <font><b>Task 81:</b></font>
        <br><br>
        Drop duplicates
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [86]:
print('Task 81:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)
users.drop_duplicates('id', inplace=True, keep='last')
print(users)

Task 81:
   id      city  count
0   1   Toronto      7
1   1  Montreal      8
2   2   Calgary      9
3   2  Montreal      2
4   3  Montreal      7
5   3    Ottawa      8
   id      city  count
1   1  Montreal      8
3   2  Montreal      2
5   3    Ottawa      8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="82"></a>
        <font><b>Task 82:</b></font>
        <br><br>
        Selecting multiple columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [87]:
print('Task 82:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)
users1 = users[['id', 'city']]
print(users1)

Task 82:
   id      city  count
0   1   Toronto      7
1   1  Montreal      8
2   2   Calgary      9
3   2  Montreal      2
4   3  Montreal      7
5   3    Ottawa      8
   id      city
0   1   Toronto
1   1  Montreal
2   2   Calgary
3   2  Montreal
4   3  Montreal
5   3    Ottawa

<div style="">
    <div style="float: left; width: 80%;">
        <a id="83"></a>
        <font><b>Task 83:</b></font>
        <br><br>
        Selecting multiple columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [88]:
print('Task 83:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
}) 
print(users)
columns = ['id', 'count']
users1 = pd.DataFrame(users, columns=columns)
print(users1)

Task 83:
   id      city  count
0   1   Toronto      7
1   1  Montreal      8
2   2   Calgary      9
3   2  Montreal      2
4   3  Montreal      7
5   3    Ottawa      8
   id  count
0   1      7
1   1      8
2   2      9
3   2      2
4   3      7
5   3      8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="84"></a>
        <font><b>Task 84:</b></font>
        <br><br>
        Row and Column Slicing
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [89]:
print('Task 84:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)    
users1 = users.iloc[0:2, 1:3]
print(users1)

Task 84:
   id      city  count
0   1   Toronto      7
1   1  Montreal      8
2   2   Calgary      9
3   2  Montreal      2
4   3  Montreal      7
5   3    Ottawa      8
       city  count
0   Toronto      7
1  Montreal      8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="85"></a>
        <font><b>Task 85:</b></font>
        <br><br>
        Iterating rows
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [90]:
print('Task 85:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)    
for index, row in users.iterrows():
    print(row['city'], "==>", row['count'])

Task 85:
   id      city  count
0   1   Toronto      7
1   1  Montreal      8
2   2   Calgary      9
3   2  Montreal      2
4   3  Montreal      7
5   3    Ottawa      8
Toronto ==> 7
Montreal ==> 8
Calgary ==> 9
Montreal ==> 2
Montreal ==> 7
Ottawa ==> 8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="86"></a>
        <font><b>Task 86:</b></font>
        <br><br>
        Iterating tuples
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [91]:
print('Task 86:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)    
for row in users.itertuples(index=True, name='Pandas'):
    print(getattr(row, 'city'))
    
for row in users.itertuples(index=True, name='Pandas'):
    print(row.count)

Task 86:
   id      city  count
0   1   Toronto      7
1   1  Montreal      8
2   2   Calgary      9
3   2  Montreal      2
4   3  Montreal      7
5   3    Ottawa      8
Toronto
Montreal
Calgary
Montreal
Montreal
Ottawa
7
8
9
2
7
8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="87"></a>
        <font><b>Task 87:</b></font>
        <br><br>
        Iterating rows and columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [92]:
print('Task 87:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)    
for i, row in users.iterrows():
    for j, col in row.iteritems():    
        print(col)

Task 87:
   id      city  count
0   1   Toronto      7
1   1  Montreal      8
2   2   Calgary      9
3   2  Montreal      2
4   3  Montreal      7
5   3    Ottawa      8
1
Toronto
7
1
Montreal
8
2
Calgary
9
2
Montreal
2
3
Montreal
7
3
Ottawa
8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="88"></a>
        <font><b>Task 88:</b></font>
        <br><br>
        List of Dictionary to Dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [93]:
print('Task 88:')  
pointlist = [
                {'points': 50, 'time': '5:00', 'year': 2010}, 
                {'points': 25, 'time': '6:00', 'month': "february"}, 
                {'points':90, 'time': '9:00', 'month': 'january'}, 
                {'points_h1':20, 'month': 'june'}
            ]
print(pointlist)
pointDf = pd.DataFrame(pointlist)
print(pointDf)

pointDf1 = pd.DataFrame.from_dict(pointlist)
print(pointDf1)

Task 88:
[{'points': 50, 'time': '5:00', 'year': 2010}, {'points': 25, 'time': '6:00', 'month': 'february'}, {'points': 90, 'time': '9:00', 'month': 'january'}, {'points_h1': 20, 'month': 'june'}]
   points  time    year     month  points_h1
0    50.0  5:00  2010.0       NaN        NaN
1    25.0  6:00     NaN  february        NaN
2    90.0  9:00     NaN   january        NaN
3     NaN   NaN     NaN      june       20.0
   points  time    year     month  points_h1
0    50.0  5:00  2010.0       NaN        NaN
1    25.0  6:00     NaN  february        NaN
2    90.0  9:00     NaN   january        NaN
3     NaN   NaN     NaN      june       20.0

<div style="">
    <div style="float: left; width: 80%;">
        <a id="89"></a>
        <font><b>Task 89:</b></font>
        <br><br>
        NaN values
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [94]:
print('Task 89:')
df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan
print(df)
df1 = df.isnull()
print(df1)

Task 89:
          0         1         2         3         4         5
0  0.130354  0.106679 -0.299341 -0.963970  0.706182  1.217025
1  0.731164       NaN  0.302318 -1.059345 -1.047971  0.614850
2  0.789546       NaN -1.953082  0.381798  1.527016 -0.034545
3 -0.490663 -0.457461 -0.416587 -0.021667  0.901010 -0.420685
4 -0.667614 -0.816298 -1.246486  0.758306  1.002499 -0.617635
5 -1.443187 -0.531360 -0.651404       NaN  1.019671  0.981192
6  1.337823  0.044202 -0.181519 -1.186613  0.870033  0.208204
7  2.106702  0.854766 -0.368887 -0.983862 -0.270892       NaN
8  0.753406  0.222927 -0.343223 -1.356634 -0.765654       NaN
9 -0.805087  0.115484 -0.396651 -0.241331 -0.118920  0.631135
       0      1      2      3      4      5
0  False  False  False  False  False  False
1  False   True  False  False  False  False
2  False   True  False  False  False  False
3  False  False  False  False  False  False
4  False  False  False  False  False  False
5  False  False  False   True  False  False
6  False  False  False  False  False  False
7  False  False  False  False  False   True
8  False  False  False  False  False   True
9  False  False  False  False  False  False

<div style="">
    <div style="float: left; width: 80%;">
        <a id="90"></a>
        <font><b>Task 90:</b></font>
        <br><br>
        Sum of all nan
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [95]:
print('Task 90:')  
df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan
print(df)
print(df.isnull().sum())
print(df.isnull().sum(axis=1))
print(df.isnull().sum().tolist())

Task 90:
          0         1         2         3         4         5
0 -0.326439  0.335099  1.303003  0.833904  0.241058 -1.256782
1  0.333919       NaN  0.280606  1.946419  0.580717  0.008372
2  1.328916       NaN  0.655368 -1.988306  0.298194 -1.163625
3  0.949027 -0.240712 -0.627501 -0.073149  0.121817 -0.231446
4  1.049310  0.431462  0.555402  1.501060  0.668152  0.108640
5 -0.295490  0.154339 -0.417857       NaN -0.918956 -0.975316
6 -0.248199  0.310107  0.533483  0.903278 -2.319967 -0.205494
7 -2.187127  0.439360  2.431165  2.511396 -1.405449       NaN
8  0.464895 -0.241406  2.088468 -0.140609  0.503427       NaN
9  0.806884  0.786965  2.098700  0.304150  1.386190 -0.112084
0    0
1    2
2    0
3    1
4    0
5    2
dtype: int64
0    0
1    1
2    1
3    0
4    0
5    1
6    0
7    1
8    1
9    0
dtype: int64
[0, 2, 0, 1, 0, 2]

<div style="">
    <div style="float: left; width: 80%;">
        <a id="91"></a>
        <font><b>Task 91:</b></font>
        <br><br>
        Sum of all nan rowwise
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [96]:
print('Task 91:')  
df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan
print(df)
print(df.isnull().sum(axis=1))

Task 91:
          0         1         2         3         4         5
0 -0.738993 -1.182478  0.358515 -1.451134 -0.137990 -0.353863
1 -0.387031       NaN  1.170174  0.394993  1.689843  0.823035
2 -3.535655       NaN  0.227239  1.650089  0.640555  0.941008
3 -0.521116 -0.190795  0.704201 -0.238862 -0.114279 -0.102200
4 -0.698284  0.605598 -0.853966  0.141219  1.354231 -0.810556
5  1.265303  0.845737 -1.257325       NaN  0.299307 -0.174437
6  0.677314  0.415087  0.356697  0.629378 -1.409526 -2.521040
7  0.199565  0.473213 -2.558557  1.208676  0.151701       NaN
8 -0.154761  0.224258 -0.671959  1.537883 -0.023181       NaN
9  0.944080 -1.024475 -0.512691 -2.079797 -0.917218 -1.123813
0    0
1    1
2    1
3    0
4    0
5    1
6    0
7    1
8    1
9    0
dtype: int64

<div style="">
    <div style="float: left; width: 80%;">
        <a id="92"></a>
        <font><b>Task 92:</b></font>
        <br><br>
        Sum of all nan as list
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [97]:
print('Task 92:')  
df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan
print(df)
print(df.isnull().sum().tolist())

Task 92:
          0         1         2         3         4         5
0  0.663113  0.717720  0.145731 -0.668258 -1.183371 -1.086283
1 -0.495986       NaN -0.609112  1.319118  0.459473 -0.504097
2  1.547616       NaN -2.531599  0.177459 -0.856963 -0.829983
3 -0.086327 -0.708009  0.665763 -1.003246 -2.573291  0.377031
4  0.180062 -1.395211 -1.010923 -1.133360  0.702610 -0.225090
5 -0.332845  0.573588  0.336738       NaN  0.603228  0.874052
6  0.896152 -1.716992 -0.738723 -0.763202 -0.945765 -0.299718
7  0.977746 -0.164133  1.518212  1.313338  0.055947       NaN
8  1.231453 -0.253031  0.006292  1.257383 -0.069947       NaN
9 -0.607003  0.259314 -0.665183  0.354912  0.520294  0.724067
[0, 2, 0, 1, 0, 2]

<div style="">
    <div style="float: left; width: 80%;">
        <a id="93"></a>
        <font><b>Task 93:</b></font>
        <br><br>
        Change the order of columns

        Note:
            FutureWarning: '.reindex_axis' is deprecated and will be removed in a future version 
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [98]:
print('Task 93:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)

# below line throws error
# users1 = users.reindex_axis(['city', 'count', 'id'], axis=1)
# print(users1)

users2 = users.reindex(columns=['city', 'id', 'count'])
print(users2)

Task 93:
   id      city  count
0   1   Toronto      7
1   1  Montreal      8
2   2   Calgary      9
3   2  Montreal      2
4   3  Montreal      7
5   3    Ottawa      8
       city  id  count
0   Toronto   1      7
1  Montreal   1      8
2   Calgary   2      9
3  Montreal   2      2
4  Montreal   3      7
5    Ottawa   3      8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="94"></a>
        <font><b>Task 94:</b></font>
        <br><br>
        Drop multiple rows
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [99]:
print('Task 94:')
numbers = pd.DataFrame({
    "id": [1, 2, 3, 4, 5, 6], 
    "number": [10, 20, 30, 30, 23, 12]
    
})  
print(numbers)
numbers.drop(numbers.index[[0, 3, 5]], inplace=True)
print(numbers)

Task 94:
   id  number
0   1      10
1   2      20
2   3      30
3   4      30
4   5      23
5   6      12
   id  number
1   2      20
2   3      30
4   5      23

<div style="">
    <div style="float: left; width: 80%;">
        <a id="95"></a>
        <font><b>Task 95:</b></font>
        <br><br>
        Drop multiple rows by row name
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [100]:
print('Task 95:')  
numbers = pd.DataFrame({
    "id": [1, 2, 3, 4, 5, 6], 
    "number": [10, 20, 30, 30, 23, 12]
    
}, index=['one', 'two', 'three', 'four', 'five', 'six'])  
print(numbers)
numbers1 = numbers.drop(['two','six'])
print(numbers1)
numbers2 = numbers.drop('two')
print(numbers2)

Task 95:
       id  number
one     1      10
two     2      20
three   3      30
four    4      30
five    5      23
six     6      12
       id  number
one     1      10
three   3      30
four    4      30
five    5      23
       id  number
one     1      10
three   3      30
four    4      30
five    5      23
six     6      12

<div style="">
    <div style="float: left; width: 80%;">
        <a id="96"></a>
        <font><b>Task :</b></font>
        <br><br>
        Get group
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [101]:
print('Task 96:')
cats = animals_df.groupby(['animal']).get_group('cat')
print(cats)

Task 96:
  animal size  weight  adult
0    cat    S       8  False
2    cat    M      11  False
5    cat    L      12   True
6    cat    L      12   True

<div style="">
    <div style="float: left; width: 80%;">
        <a id="97"></a>
        <font><b>Task 97:</b></font>
        <br><br>
        Get the the odd row
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [102]:
print('Task 97:')  
x = numpy.array([
                    [ 1,  2,  3,  4,  5],
                    [ 6,  7,  8,  9, 10],
                    [11, 12, 13, 14, 15],
                    [16, 17, 18, 19, 20]
                ]
    )
print(x)
print(x[::2])

Task 97:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]
[[ 1  2  3  4  5]
 [11 12 13 14 15]]

<div style="">
    <div style="float: left; width: 80%;">
        <a id="98"></a>
        <font><b>Task 98:</b></font>
        <br><br>
        Get the even columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [103]:
print('Task 98:')  
x = numpy.array([
                    [ 1,  2,  3,  4,  5],
                    [ 6,  7,  8,  9, 10],
                    [11, 12, 13, 14, 15],
                    [16, 17, 18, 19, 20]
                ]
    )
print(x)
print(x[:, 1::2])

Task 98:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]
[[ 2  4]
 [ 7  9]
 [12 14]
 [17 19]]

<div style="">
    <div style="float: left; width: 80%;">
        <a id="99"></a>
        <font><b>Task 99:</b></font>
        <br><br>
        Odd rows and even columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [104]:
print('Task 99:')  

x = numpy.array([
                    [ 1,  2,  3,  4,  5],
                    [ 6,  7,  8,  9, 10],
                    [11, 12, 13, 14, 15],
                    [16, 17, 18, 19, 20]
                ]
    )
print(x)
print(x[::2, 1::2])

Task 99:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]
[[ 2  4]
 [12 14]]

<div style="">
    <div style="float: left; width: 80%;">
        <a id="100"></a>
        <font><b>Task 100:</b></font>
        <br><br>
        Drop duplicates
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [105]:
print('Task 100:')  
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)
users.drop_duplicates('id', inplace=True)
print(users)

Task 100:
   id      city  count
0   1   Toronto      7
1   1  Montreal      8
2   2   Calgary      9
3   2  Montreal      2
4   3  Montreal      7
5   3    Ottawa      8
   id      city  count
0   1   Toronto      7
2   2   Calgary      9
4   3  Montreal      7

<div style="">
    <div style="float: left; width: 80%;">
        <a id="101"></a>
        <font><b>Task 101:</b></font>
        <br><br>
        Drop all duplicates
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [106]:
print('Task 101:')  
users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 
print(users)
users.drop_duplicates('name', inplace=True, keep='last')
print(users)
users1 = users.drop_duplicates('name', keep=False)
print(users1)

Task 101:
    name      city  count
0  kevin   Toronto      7
1  james  Montreal      8
2  kumar   Calgary      9
3  kevin  Montreal      2
4  kevin  Montreal      7
5  james    Ottawa      8
    name      city  count
2  kumar   Calgary      9
4  kevin  Montreal      7
5  james    Ottawa      8
    name      city  count
2  kumar   Calgary      9
4  kevin  Montreal      7
5  james    Ottawa      8

<div style="">
    <div style="float: left; width: 80%;">
        <a id="102"></a>
        <font><b>Task 102:</b></font>
        <br><br>
        Basic group by
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [107]:
print('Task 102:')
animals_df1 = animals_df.groupby('animal').apply(lambda x: x['size'][x['weight'].idxmax()])
print(animals_df1)

Task 102:
animal
cat     L
dog     M
fish    M
dtype: object

<div style="">
    <div style="float: left; width: 80%;">
        <a id="102"></a>
        <font><b>Task 103:</b></font>
        <br><br>
        Missing Data:
        Make A'th 3rd coulmn Nan
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [108]:
print('Task 103:')  
df = pd.DataFrame(np.random.randn(6,1), index=pd.date_range('2013-08-01', periods=6, freq='B'), columns=list('A'))
print(df)
df.loc[df.index[3], 'A'] = np.nan
print(df)

Task 103:
                   A
2013-08-01 -1.596971
2013-08-02 -0.859353
2013-08-05  0.777551
2013-08-06 -1.192422
2013-08-07  0.693411
2013-08-08  1.536339
                   A
2013-08-01 -1.596971
2013-08-02 -0.859353
2013-08-05  0.777551
2013-08-06       NaN
2013-08-07  0.693411
2013-08-08  1.536339

<div style="">
    <div style="float: left; width: 80%;">
        <a id="104"></a>
        <font><b>Task 104:</b></font>
        <br><br>
        reindex
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [109]:
print('Task 104:')
df1 = df.reindex(df.index[::-1]).ffill()
print(df1)

Task 104:
                   A
2013-08-08  1.536339
2013-08-07  0.693411
2013-08-06  0.693411
2013-08-05  0.777551
2013-08-02 -0.859353
2013-08-01 -1.596971

<div style="">
    <div style="float: left; width: 80%;">
        <a id="105"></a>
        <font><b>Task 105:</b></font>
        <br><br>
        Column reset Nan
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [110]:
print('Task 105:')
animals_df = pd.DataFrame({'animal': 'cat dog cat fish dog cat cat'.split(),
                   'size': list('SSMMMLL'),
                   'weight': [8, 10, 11, 1, 20, 12, 12],
                   'adult' : [False] * 5 + [True] * 2})
print(animals_df)

Task 105:
  animal size  weight  adult
0    cat    S       8  False
1    dog    S      10  False
2    cat    M      11  False
3   fish    M       1  False
4    dog    M      20  False
5    cat    L      12   True
6    cat    L      12   True

### Extras

<div style="">
    <div style="float: left; width: 80%;">
        <a id="106"></a>
        <font><b>Task 106:</b></font>
        <br><br>
        Change columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [111]:
# 106. Change columns
print('Task 106:')

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa']
}) 

print('Before changing columns : ')
print(users)

# change columns
users_new = users.rename({'name': 'first_name', 'city': 'current_city'}, axis = 1)

print('\nAfter changing columns : ')
print(users_new)

Task 106:
Before changing columns :
    name      city
0  kevin   Toronto
1  james  Montreal
2  kumar   Calgary
3  kevin  Montreal
4  kevin  Montreal
5  james    Ottawa

After changing columns :
  first_name current_city
0      kevin      Toronto
1      james     Montreal
2      kumar      Calgary
3      kevin     Montreal
4      kevin     Montreal
5      james       Ottawa

<div style="">
    <div style="float: left; width: 80%;">
        <a id="107"></a>
        <font><b>Task 107:</b></font>
        <br><br>
        Match with isin function
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [112]:
# 107. Match with isin function

print('Task 107:')

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa']
}) 

print('Original Dataframe:')
print(users)

print('\nFinding `Montreal` in by using isin function :')

users.isin(['Montreal']).any()

Task 107:
Original Dataframe:
    name      city
0  kevin   Toronto
1  james  Montreal
2  kumar   Calgary
3  kevin  Montreal
4  kevin  Montreal
5  james    Ottawa

Finding `Montreal` in by using isin function :

name    False
city     True
dtype: bool

<div style="">
    <div style="float: left; width: 80%;">
        <a id="108"></a>
        <font><b>Task 108:</b></font>
        <br><br>
        Finding specific items by using `isin` function
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [113]:
# 108. Finding specific items by using `isin` function

print('Task 108:')

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa']
}) 

print('Original Dataframe: ')
print(users)

print('\nFinding `Montreal` in using isin and stack them: ')
print(users[users.isin(['Montreal'])].stack())

Task 108:
Original Dataframe:
    name      city
0  kevin   Toronto
1  james  Montreal
2  kumar   Calgary
3  kevin  Montreal
4  kevin  Montreal
5  james    Ottawa

Finding `Montreal` in using isin and stack them:
1  city    Montreal
3  city    Montreal
4  city    Montreal
dtype: object

<div style="">
    <div style="float: left; width: 80%;">
        <a id="109"></a>
        <font><b>Task 109:</b></font>
        <br><br>
        Exclude specific matching
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [114]:
# 109. Exclude specific matching

print('Task 109:')

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa']
}) 

print('Original Dataframe: ')
print(users)

print('\nExcluding `Montreal` in using isin and stack them: ')
print(users[~users.isin(['Montreal'])].stack())

Task 109:
Original Dataframe:
    name      city
0  kevin   Toronto
1  james  Montreal
2  kumar   Calgary
3  kevin  Montreal
4  kevin  Montreal
5  james    Ottawa

Excluding `Montreal` in using isin and stack them:
0  name      kevin
   city    Toronto
1  name      james
2  name      kumar
   city    Calgary
3  name      kevin
4  name      kevin
5  name      james
   city     Ottawa
dtype: object

<div style="">
    <div style="float: left; width: 80%;">
        <a id="110"></a>
        <font><b>Task 110:</b></font>
        <br><br>
        Apply a custom function on multiple columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [115]:
# 110. Apply a custom function on multiple columns

print('Task 110:')

amounts = pd.DataFrame({
    "CIBC": [200, 4200, 300, 300], 
    "TD": [1200, 800, 4000, 2000]
})

print('Original Dataframe: ')
print(amounts)

def get_total_amount(x):
    
    # if the amount is less than 500, skip it
    total_amount = 0
    
    if(x['CIBC'] > 499):
        total_amount += x['CIBC']
        
    if(x['TD'] > 499):
        total_amount += x['TD']
    
    return total_amount

amounts['Total'] = amounts.apply(get_total_amount, axis = 1)

print('Dataframe after applying the custom function: ')
print(amounts)

Task 110:
Original Dataframe:
   CIBC    TD
0   200  1200
1  4200   800
2   300  4000
3   300  2000
Dataframe after applying the custom function:
   CIBC    TD  Total
0   200  1200   1200
1  4200   800   5000
2   300  4000   4000
3   300  2000   2000

<div style="">
    <div style="float: left; width: 80%;">
        <a id="111"></a>
        <font><b>Task 111:</b></font>
        <br><br>
        iterrows as tuples
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [7]:
# 111. iterrows as tuples

# 导入pandas库
import pandas as pd

# 创建一个DataFrame对象，包含id、city和count三列数据
users = pd.DataFrame({
    "id": [1, 1, 2, 2, 3, 3], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
})

# 打印原始的DataFrame对象
print('原始数据：')
print(users)

# 打印注释：遍历DataFrame的行，将每一行作为元组进行迭代
print('\n遍历行作为元组：')
for row in users.itertuples():
    print(row.city)

# itertuples()方法可以将DataFrame的每一行转换为一个命名元组，其中元组的命名属性对应着DataFrame的列名。
# 使用itertuples()方法遍历DataFrame的行时，可以通过属性名来访问每个字段的值，而不需要通过列索引。这样可以更方便地处理和操作数据。

原始数据：
   id      city  count
0   1   Toronto      7
1   1  Montreal      8
2   2   Calgary      9
3   2  Montreal      2
4   3  Montreal      7
5   3    Ottawa      8

遍历行作为元组：
Toronto
Montreal
Calgary
Montreal
Montreal
Ottawa

<div style="">
    <div style="float: left; width: 80%;">
        <a id="112"></a>
        <font><b>Task 112:</b></font>
        <br><br>
        Dataframe with NaN
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [117]:
# 112. Dataframe with NaN

print('Task 112:')

df = pd.DataFrame(np.nan, index = [0, 1, 2], columns = ['A', 'B', 'C'])

print(df)

Task 112:
    A   B   C
0 NaN NaN NaN
1 NaN NaN NaN
2 NaN NaN NaN

<div style="">
    <div style="float: left; width: 80%;">
        <a id="113"></a>
        <font><b>Task 113:</b></font>
        <br><br>
        Simple Dataframe with NaN
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [5]:
# 113. Simple Dataframe with NaN

print('Task 113:')
index = ['A', 'B', 'C', 'D', 'E']
df = pd.DataFrame([np.nan] * 5, index=index)

print(df)

Task 113:
    0
A NaN
B NaN
C NaN
D NaN
E NaN

<div style="">
    <div style="float: left; width: 80%;">
        <a id="114"></a>
        <font><b>Task 114:</b></font>
        <br><br>
        Pandas and Date with Range
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [119]:
# 114. Pandas and Date with Range

import datetime as dt

# 导入datetime模块，并将其重命名为dt

pd.np.random.seed(0)

# 设置随机数种子为0，以确保每次运行代码时生成的随机数序列相同

df = pd.DataFrame({
     "date" : [dt.date(2012, x, 1) for x in range(1, 11)]
})

# 创建一个包含日期的列表，其中每个日期的年、月、日由变量x指定
# 使用dt.date(2012, x, 1)来创建日期对象，其中2012是年份，x是月份（从1到10），1是日期（假设每个月都有1号）
# 将这个日期列表作为数据传递给pd.DataFrame()函数，创建一个名为df的DataFrame对象
# DataFrame的每一列对应一个日期

print(df)

# 打印DataFrame对象df的内容，即包含10个日期的表格

Task 114:
         date
0  2012-01-01
1  2012-02-01
2  2012-03-01
3  2012-04-01
4  2012-05-01
5  2012-06-01
6  2012-07-01
7  2012-08-01
8  2012-09-01
9  2012-10-01

<div style="">
    <div style="float: left; width: 80%;">
        <a id="115"></a>
        <font><b>Task 115:</b></font>
        <br><br>
        Pandas and Numpy Repeat
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [8]:
# 115. Pandas and Numpy Repeat

print('Task 115:')

df = pd.DataFrame({
     "entry" : np.repeat(3, 8) # Repeat the number for 7 times
})

print(df)

Task 115:
   entry
0      3
1      3
2      3
3      3
4      3
5      3
6      3
7      3

<div style="">
    <div style="float: left; width: 80%;">
        <a id="116"></a>
        <font><b>Task 116:</b></font>
        <br><br>
        read_sql in Pandas
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [11]:
import sqlite3

# 连接到数据库
conn = sqlite3.connect('./data/sample.db')
cursor = conn.cursor()

# 查询表的结构
cursor.execute("PRAGMA table_info(DEMO)")
columns = cursor.fetchall()

# 打印字段名和数据类型
for column in columns:
    print(column[1], column[2])

# 关闭连接
cursor.close()
conn.close()

ID INTEGER
Name varchar(20)
Hint TEXT

In [15]:
# 116. read_sql in Pandas

print('Task 116:')

import sqlite3 as sql

conn = sql.connect('./data/sample.db')

demo_df = pd.read_sql('SELECT ID, NAME FROM DEMO', conn)  # 所有列用*

print(demo_df)

# Note: online sqlite https://sqliteonline.com/

Task 116:
    ID                Name                                               Hint
0    1          SQL Online                                   for Data Science
1    2               Chart      LINE-SELECT name, cos(id), sin(id) FROM demo;
2    3          Short CODE  s* tableName => SELECT * FROM tableName\r\nsf ...
3    4       SqLite 3.33.0                           SQL OnLine on JavaScript
4    5        MultiVersion                  3.28.0 to Last (load on settings)
5    6  [RightClick] mouse                     Opens many additional features
6    7   Left-Panel, Table     [RightClick] mouse "Context menu" or [DbClick]
7    8                Tabs  mouse: [RightClick] , [MiddleClick] , [Wheel] ...
8    9          SQL Editor  autocomplete: [Ctrl-Space] or [Alt-Space]; run...
9   10          Size table                           Fast scroll million rows
10  11               Share                              Create public link DB
11  12              ai.Url                https://twitter.com/SqliteOnlineCom
12  13            ai.Color                                            #9393ad
13  14            ai.Image  Blob - png, jpg, gif or String(base64) [DbClic...
14  15                 SQL                             Syntax example library
15  16              CREATE               CREATE TABLE table_name (col1, col2)
16  17              SELECT                           SELECT * FROM table_name
17  18              INSERT  INSERT INTO table_name (col1, col2) VALUES ("e...
18  19              UPDATE  UPDATE table_name SET col1="work" WHERE col2="...
19  20              DELETE                             DELETE FROM table_name

In [16]:
import pandas as pd
import sqlite3 as sql

conn = sql.connect('./data/sample.db')

# 获取表的所有列名
cursor = conn.cursor()
cursor.execute("PRAGMA table_info(DEMO)")
columns = [column[1] for column in cursor.fetchall()]

# 使用pandas的read_sql方法读取所有列的数据
demo_df = pd.read_sql('SELECT * FROM DEMO', conn, columns=columns)

print(demo_df)

    ID                Name                                               Hint
0    1          SQL Online                                   for Data Science
1    2               Chart      LINE-SELECT name, cos(id), sin(id) FROM demo;
2    3          Short CODE  s* tableName => SELECT * FROM tableName\r\nsf ...
3    4       SqLite 3.33.0                           SQL OnLine on JavaScript
4    5        MultiVersion                  3.28.0 to Last (load on settings)
5    6  [RightClick] mouse                     Opens many additional features
6    7   Left-Panel, Table     [RightClick] mouse "Context menu" or [DbClick]
7    8                Tabs  mouse: [RightClick] , [MiddleClick] , [Wheel] ...
8    9          SQL Editor  autocomplete: [Ctrl-Space] or [Alt-Space]; run...
9   10          Size table                           Fast scroll million rows
10  11               Share                              Create public link DB
11  12              ai.Url                https://twitter.com/SqliteOnlineCom
12  13            ai.Color                                            #9393ad
13  14            ai.Image  Blob - png, jpg, gif or String(base64) [DbClic...
14  15                 SQL                             Syntax example library
15  16              CREATE               CREATE TABLE table_name (col1, col2)
16  17              SELECT                           SELECT * FROM table_name
17  18              INSERT  INSERT INTO table_name (col1, col2) VALUES ("e...
18  19              UPDATE  UPDATE table_name SET col1="work" WHERE col2="...
19  20              DELETE                             DELETE FROM table_name

<div style="">
    <div style="float: left; width: 80%;">
        <a id="117"></a>
        <font><b>Task 117:</b></font>
        <br><br>
        Get a single value by iat
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [124]:
# 117. Get a single value by iat

print('Task 117:')

df = pd.DataFrame(np.random.randint(0, 100, size = (7, 2)), columns = list('ab'))

print('\nOriginal Dataframe:')
print(df)

val = df.iat[3, 1]

print('\nGetting value at 3rd row and first col:')
print(val)

Task 117:

Original Dataframe:
    a   b
0  44  47
1  64  67
2  67   9
3  83  21
4  36  87
5  70  88
6  88  12

Getting value at 3rd row and first col:
21

<div style="">
    <div style="float: left; width: 80%;">
        <a id="118"></a>
        <font><b>Task 118:</b></font>
        <br><br>
        Get last n elements
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [125]:
# 118. Get last n elements

print('Task 118:')

df = pd.DataFrame(np.random.randint(0, 100, size = (7, 2)), columns = list('ab'))

print('\nOriginal Dataframe:')
print(df)

tail_df = df.tail(3)

print('\nLast 3 rows:')
print(tail_df)

Task 118:

Original Dataframe:
    a   b
0  58  65
1  39  87
2  46  88
3  81  37
4  25  77
5  72   9
6  20  80

Last 3 rows:
    a   b
4  25  77
5  72   9
6  20  80

<div style="">
    <div style="float: left; width: 80%;">
        <a id="119"></a>
        <font><b>Task 119:</b></font>
        <br><br>
        Add data one by one by using loc function
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [152]:
# 119. Add data one by one by using loc function

df = pd.DataFrame(columns = ['rows', 'cols', 'time taken'])

df.loc['Dataset1 - Dask'] = (1000, 20, 10)
df.loc['Dataset1 - Pandas'] = (1000, 20, 15)

df

                   rows  cols  time taken
Dataset1 - Dask    1000    20          10
Dataset1 - Pandas  1000    20          15

In [153]:
!pip install country_converter

Requirement already satisfied: country_converter in e:\geo_data\venv\lib\site-packages (1.0.0)
Requirement already satisfied: pandas>=1.0 in e:\geo_data\venv\lib\site-packages (from country_converter) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in e:\geo_data\venv\lib\site-packages (from pandas>=1.0->country_converter) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in e:\geo_data\venv\lib\site-packages (from pandas>=1.0->country_converter) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in e:\geo_data\venv\lib\site-packages (from pandas>=1.0->country_converter) (1.24.3)
Requirement already satisfied: six>=1.5 in e:\geo_data\venv\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.0->country_converter) (1.16.0)

WARNING: Ignoring invalid distribution -yproj (e:\geo_data\venv\lib\site-packages)
WARNING: Ignoring invalid distribution -yproj (e:\geo_data\venv\lib\site-packages)

<div style="">
    <div style="float: left; width: 80%;">
        <a id="120"></a>
        <font><b>Task 120:</b></font>
        <br><br>
        Convert country in Dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [154]:
# 120. Convert country in Dataframe 

import country_converter as coco
import pandas as pd

df = pd.DataFrame({'code': ['IN', 'USA', 'BR', 'CAN']})

print('Before:')
print(df)

df['country'] = df.code.apply(lambda x: coco.convert(names = x, to = 'name_short', not_found = None))

print('\nAfter:')
print(df)

Before:
  code
0   IN
1  USA
2   BR
3  CAN

After:
  code        country
0   IN          India
1  USA  United States
2   BR         Brazil
3  CAN         Canada

<div style="">
    <div style="float: left; width: 80%;">
        <a id="121"></a>
        <font><b>Task 121:</b></font>
        <br><br>
        Group by multiple columns
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [155]:
# 121. Group by multiple columns

df = pd.read_csv('uk-500.csv')

df.groupby(['county', 'first_name']).sum().sample(5)

,,last_name,company_name,address,city,postal,phone1,phone2,email,web
county,first_name,,,,,,,,,
Stockton-on-Tees,Destiny,Madlem,Diesel Recon,421 Monument Place #44,Hartburn Ward,TS21 1BA,01421-624966,01819-393510,destiny@yahoo.com,http://www.dieselrecon.co.uk
West Midlands,Jerlene,Holtgrewe,Granite Construction Co,33 Fonthill Rd,Hodge Hill Ward,B36 8JE,01993-956208,01993-323238,jholtgrewe@yahoo.com,http://www.graniteconstructionco.co.uk
Warwickshire,Sunshine,Senechal,"Dale, George F Esq",40 Cairo St,Warwick,CV34 5LQ,01416-686933,01839-700945,sunshine.senechal@hotmail.com,http://www.dalegeorgefesq.co.uk
Greater London,Amina,Goulbourne,Poag Grain Inc,684 Cotswold St,Victoria Ward,E9 7NG,01536-114519,01830-969710,amina@yahoo.com,http://www.poaggraininc.co.uk
Dunbartonshire,Nina,Yaklin,Ramm Metals Inc,5679 Gloucester Pl,Calton Ward,G40 4BH,01434-621318,01370-171283,nyaklin@hotmail.com,http://www.rammmetalsinc.co.uk

<div style="">
    <div style="float: left; width: 80%;">
        <a id="122"></a>
        <font><b>Task 122:</b></font>
        <br><br>
        Compare two dataframes
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [131]:
# 122. Compare two dataframes

df1 = pd.DataFrame({
    'a' : [1,2,3], 
    'b' : [9,8,7]
})

df2 = pd.DataFrame({
    'a' : [1,1,3], 
    'b' : [12,8,12]
})

print(df1.compare(df2))

     a          b
  self other self other
0  NaN   NaN  9.0  12.0
1  2.0   1.0  NaN   NaN
2  NaN   NaN  7.0  12.0

<div style="">
    <div style="float: left; width: 80%;">
        <a id="123"></a>
        <font><b>Task 123:</b></font>
        <br><br>
        Difference between datetime by only seconds or dates
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [132]:
# 123. Difference between datetime by only seconds or dates

df1 = pd.to_datetime('2020-10-14 14:52:21')
df2 = pd.to_datetime('2020-10-18 15:58:10')

delta = (df2 - df1)

print('days   : ', delta.days)
print('seconds: ', delta.seconds)

days   :  4
seconds:  3949

<div style="">
    <div style="float: left; width: 80%;">
        <a id="124"></a>
        <font><b>Task 124:</b></font>
        <br><br>
        Get dates and delta days in Dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [133]:
# 124. Get dates and delta days in Dataframe

entries_count = 6

date_series = pd.Series(pd.date_range('2020-09-01', periods = entries_count, freq = 'D'))

df = pd.DataFrame({'entry_date': date_series})

print(df)

  entry_date
0 2020-09-01
1 2020-09-02
2 2020-09-03
3 2020-09-04
4 2020-09-05
5 2020-09-06

<div style="">
    <div style="float: left; width: 80%;">
        <a id="125"></a>
        <font><b>Task 125:</b></font>
        <br><br>
        Get dates and delta days in Dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [134]:
# 125. Get dates and delta days in Dataframe

entries_count = 5

date_series = pd.Series(pd.date_range('2020-09-01', periods = entries_count, freq = 'D'))

time_delta_series = pd.Series([pd.Timedelta(days = i) for i in range(entries_count)])

df = pd.DataFrame({'entry_date': date_series, 'delta_days': time_delta_series})

print(df)

  entry_date delta_days
0 2020-09-01     0 days
1 2020-09-02     1 days
2 2020-09-03     2 days
3 2020-09-04     3 days
4 2020-09-05     4 days

<div style="">
    <div style="float: left; width: 80%;">
        <a id="126"></a>
        <font><b>Task 126:</b></font>
        <br><br>
        Date addition with time delta
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [135]:
# 126. Date addition with time delta

entries_count = 3

date_series = pd.Series(pd.date_range('2020-09-01', periods = entries_count, freq = 'D'))

time_delta_series = pd.Series([pd.Timedelta(days = i) for i in range(entries_count)])

df = pd.DataFrame({'entry_date': date_series, 'delta_days': time_delta_series})

print('\nBefore:')
print(df)


df['new_entry_date'] = df['entry_date'] + df['delta_days']
print('\nAfter:')
print(df)

print('\nData types:')
print(df.dtypes)

Before:
  entry_date delta_days
0 2020-09-01     0 days
1 2020-09-02     1 days
2 2020-09-03     2 days

After:
  entry_date delta_days new_entry_date
0 2020-09-01     0 days     2020-09-01
1 2020-09-02     1 days     2020-09-03
2 2020-09-03     2 days     2020-09-05

Data types:
entry_date         datetime64[ns]
delta_days        timedelta64[ns]
new_entry_date     datetime64[ns]
dtype: object

<div style="">
    <div style="float: left; width: 80%;">
        <a id="127"></a>
        <font><b>Task 127:</b></font>
        <br><br>
        Converting Pandas innner list to numpy array without the word `list`
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [136]:
# 127. Converting Pandas innner list to numpy array without the word `list`

s = pd.Series([[1, 2, 3], np.array([1, 2, 3])])
    
print('Original Series:')
print(s)  

arr = np.array(s)
print('\nSeries to Array:')
print(arr)

print('\nAfter converting inner elements to list:')
x = np.array(s[:].tolist())
print(x)

# Source: https://stackoverflow.com/questions/64089218/how-to-convert-data-frame-pandas-into-list-in-numpy-without-word-list-in-array

Original Series:
0    [1, 2, 3]
1    [1, 2, 3]
dtype: object

Series to Array:
[list([1, 2, 3]) array([1, 2, 3])]

After converting inner elements to list:
[[1 2 3]
 [1 2 3]]

<div style="">
    <div style="float: left; width: 80%;">
        <a id="128"></a>
        <font><b>Task 128:</b></font>
        <br><br>
        Append series to existing Dataframe
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [137]:
# 128. Append series to existing Dataframe

df = pd.DataFrame([1, 3, 4, 5], columns=["id"])
df.set_index("id")
print('Before:')
print(df)

marks = pd.Series([79, 20, 45, 99])
df["marks"] = marks
print('\nAfter:')
print(df)

Before:
   id
0   1
1   3
2   4
3   5

After:
   id  marks
0   1     79
1   3     20
2   4     45
3   5     99

<div style="">
    <div style="float: left; width: 80%;">
        <a id="129"></a>
        <font><b>Task 129:</b></font>
        <br><br>
        Cumulative sum with group by with multiple values
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [138]:
# 129. Cumulative sum with group by with multiple values

df = pd.DataFrame({
    'City': ['Toronto', 'Toronto', 'Toronto', 'Montreal', 'Montreal', 'Montreal', 'New York', 'Toronto', 'New York', 'New York'], 
    'Year': [2020, 2020, 2018, 2018, 2018, 2012, 2012, 2012, 2016, 2018], 
    'Points': [1000, 2000, 3000, 3000, 2000, 1500, 1500, 500, 500, 300]
})

print('Before:')
print(df)

df.sort_values(['City', 'Year'], inplace=True)
print('\nAfter Sorting:')
print(df)

df['Points_cum'] = df.groupby(['City', 'Year'])['Points'].cumsum()
print('\nAfter Cumulative Sum:')
print(df)

Before:
       City  Year  Points
0   Toronto  2020    1000
1   Toronto  2020    2000
2   Toronto  2018    3000
3  Montreal  2018    3000
4  Montreal  2018    2000
5  Montreal  2012    1500
6  New York  2012    1500
7   Toronto  2012     500
8  New York  2016     500
9  New York  2018     300

After Sorting:
       City  Year  Points
5  Montreal  2012    1500
3  Montreal  2018    3000
4  Montreal  2018    2000
6  New York  2012    1500
8  New York  2016     500
9  New York  2018     300
7   Toronto  2012     500
2   Toronto  2018    3000
0   Toronto  2020    1000
1   Toronto  2020    2000

After Cumulative Sum:
       City  Year  Points  Points_cum
5  Montreal  2012    1500        1500
3  Montreal  2018    3000        3000
4  Montreal  2018    2000        5000
6  New York  2012    1500        1500
8  New York  2016     500         500
9  New York  2018     300         300
7   Toronto  2012     500         500
2   Toronto  2018    3000        3000
0   Toronto  2020    1000        1000
1   Toronto  2020    2000        3000

<div style="">
    <div style="float: left; width: 80%;">
        <a id="130"></a>
        <font><b>Task 130:</b></font>
        <br><br>
        Clean URL in Pandas String (remove string after specific item)
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [156]:
# 130. Clean URL in Pandas String (remove string after specific item)

df = pd.DataFrame({
    'url': ['https://www.abc.com/page/2/unit234', 'https://www.abc.com/page/3/unit34', 'https://www.abc.com/page/4/unit89']
})

print('Original:')
print(df)

df['url'] = df['url'].str.replace('\/unit.*', '/', regex=True)
print('\nAfer removing unit and future chars:')
print(df)

Original:
                                  url
0  https://www.abc.com/page/2/unit234
1   https://www.abc.com/page/3/unit34
2   https://www.abc.com/page/4/unit89

Afer removing unit and future chars:
                           url
0  https://www.abc.com/page/2/
1  https://www.abc.com/page/3/
2  https://www.abc.com/page/4/

<div style="">
    <div style="float: left; width: 80%;">
        <a id="131"></a>
        <font><b>Task 131:</b></font>
        <br><br>
        Find any matching value
    </div>
    <div style="float: right;">
        <a href="#top" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="color:white" data-toggle="popover" title="go to Top">Go to Top</a>
    </div>
    <br style="clear: left;" />
</div>

In [157]:
# 131. Find any matching value

print('Task 131:')

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa']
}) 

print('Original Dataframe:')
print(users)

print('\nFinding `Montreal` in any cell :')
print(users[users.eq('Montreal').any(1)])

Task 131:
Original Dataframe:
    name      city
0  kevin   Toronto
1  james  Montreal
2  kumar   Calgary
3  kevin  Montreal
4  kevin  Montreal
5  james    Ottawa

Finding `Montreal` in any cell :
    name      city
1  james  Montreal
3  kevin  Montreal
4  kevin  Montreal

C:\Users\xyt55\AppData\Local\Temp\ipykernel_59632\3564057914.py:14: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  print(users[users.eq('Montreal').any(1)])

In [158]:
# 132. Add prefix on column lables

import pandas as pd
import numpy as np

np.random.seed(34)

df = pd.DataFrame(np.random.rand(30, 5)).add_prefix("feature_")
df["year"] = np.repeat(["2012", "2013", "2014"], 10)

print(df)
print(len(df))

    feature_0  feature_1  feature_2  feature_3  feature_4  year
0    0.038562   0.780100   0.092704   0.632893   0.013891  2012
1    0.936159   0.426574   0.253086   0.189965   0.414825  2012
2    0.013421   0.648473   0.869369   0.609036   0.807993  2012
3    0.826511   0.271683   0.836476   0.282541   0.138309  2012
4    0.714720   0.472537   0.556588   0.385576   0.941147  2012
5    0.081191   0.917267   0.156934   0.444147   0.212106  2012
6    0.174693   0.514798   0.892898   0.923681   0.835979  2012
7    0.499657   0.820964   0.934388   0.794812   0.461585  2012
8    0.352690   0.108592   0.984777   0.151058   0.278412  2012
9    0.699130   0.647703   0.223537   0.801849   0.512112  2012
10   0.078662   0.034160   0.566151   0.149674   0.241233  2013
11   0.033486   0.655924   0.854428   0.199754   0.807052  2013
12   0.075446   0.636034   0.830843   0.291522   0.475695  2013
13   0.174024   0.952968   0.041096   0.851403   0.839402  2013
14   0.961240   0.091023   0.963310   0.112117   0.044457  2013
15   0.744782   0.865384   0.935801   0.629927   0.331384  2013
16   0.470720   0.802129   0.942804   0.163826   0.618682  2013
17   0.023327   0.078734   0.860111   0.971391   0.892087  2013
18   0.611041   0.223863   0.498863   0.971355   0.187606  2013
19   0.782740   0.613603   0.586165   0.459982   0.277432  2013
20   0.821482   0.929448   0.394712   0.903081   0.640560  2014
21   0.069432   0.499684   0.765085   0.806767   0.481238  2014
22   0.883974   0.995528   0.935719   0.413784   0.949852  2014
23   0.329118   0.652217   0.448831   0.670976   0.567053  2014
24   0.029312   0.958076   0.070909   0.322138   0.003801  2014
25   0.168971   0.113278   0.074798   0.074438   0.469351  2014
26   0.205986   0.260161   0.003203   0.133732   0.179490  2014
27   0.117845   0.917136   0.732169   0.222832   0.013398  2014
28   0.158973   0.012568   0.770380   0.049939   0.763212  2014
29   0.845988   0.032227   0.975079   0.834185   0.448001  2014
30

In [159]:
# 133. Set values on where condition

df = pd.DataFrame({'city': ['Toronto', 'Toronto', 'Montreal', 'Montreal', 'Montreal'], 'Year': [2017, 2018, 2019, 2020, 2021]})

print('Original;')
print(df)

df['airport'] = None
df['airport'] = np.where(df['city'] == 'Toronto', {'airport_count': 2}, df['airport'])

print('\nAfter:')
print(df)

Original;
       city  Year
0   Toronto  2017
1   Toronto  2018
2  Montreal  2019
3  Montreal  2020
4  Montreal  2021

After:
       city  Year               airport
0   Toronto  2017  {'airport_count': 2}
1   Toronto  2018  {'airport_count': 2}
2  Montreal  2019                  None
3  Montreal  2020                  None
4  Montreal  2021                  None

In [143]:
# 134. Flatten Dictionary to Dataframe

d = {
    "country" : {
        "canada": {
            "code": 'CA',
            "city": {
                "name": "Toronto",
                "population": "6M"
            }
        }
    }
}

df = pd.json_normalize(d)

print(df)

  country.canada.code country.canada.city.name country.canada.city.population
0                  CA                  Toronto                             6M

In [144]:
# 135. Using transform

df = pd.DataFrame({
        'ID': [1, 2, 2, 3, 3, 4, 4],
        'Value': [10, 5, 5, 10, 4, 11, 12]
    })

df['Count'] = df.groupby('ID')['Value'].transform('count')
print(df)

   ID  Value  Count
0   1     10      1
1   2      5      2
2   2      5      2
3   3     10      2
4   3      4      2
5   4     11      2
6   4     12      2

In [162]:
# 136. Summing all elements

df = pd.DataFrame({  # 创建一个DataFrame，包含两列：'ID'和'Value'  
    'ID': [1, 2, 2, 3, 3, 4, 4],  # 'ID'列的值  
    'Value': [10, 5, 5, 10, 4, 11, 12]  # 'Value'列的值  
})  
print(df.stack())
sum1 = df.stack().sum()  # 将DataFrame转换为堆叠格式，然后计算所有值的总和  
print(sum1)  # 打印总和  
  
sum2 = df.to_numpy().sum()  # 将DataFrame转换为NumPy数组，然后计算所有值的总和  
print(df.to_numpy())
print(sum2)  # 打印总和

0  ID        1
   Value    10
1  ID        2
   Value     5
2  ID        2
   Value     5
3  ID        3
   Value    10
4  ID        3
   Value     4
5  ID        4
   Value    11
6  ID        4
   Value    12
dtype: int64
76
[[ 1 10]
 [ 2  5]
 [ 2  5]
 [ 3 10]
 [ 3  4]
 [ 4 11]
 [ 4 12]]
76

In [164]:
# 137. Combine multiple CSV files by using Dask

import dask.dataframe as dd

df = dd.read_csv('transaction-*.csv', header=None)
df

Dask DataFrame Structure:
                    0       1        2
npartitions=2
               object  object  float64
                  ...     ...      ...
                  ...     ...      ...
Dask Name: read-csv, 1 graph layer

In [165]:
df = df.compute() #将Dask DataFrame对象转换为Pandas DataFrame对象，并计算结果
df

            0                     1      2
0  08/04/2020  GOOGLE *GSUITE_   _V  21.06
1  08/04/2020  GOOGLE *GSUITE_   _V   7.80
2  08/04/2020  GOOGLE *GSUITE_   _V  15.60
3  08/04/2020  GOOGLE *Google    _V   2.79
0  09/01/2020  GOOGLE CC    21.06_V  21.06
1  09/02/2020  GOOGLE CC     7.80_V   7.80
2  09/03/2020  GOOGLE CC    15.60_V  15.60

In [167]:
df.columns = ['Date', 'Description', 'Spent']

df

         Date           Description  Spent
0  08/04/2020  GOOGLE *GSUITE_   _V  21.06
1  08/04/2020  GOOGLE *GSUITE_   _V   7.80
2  08/04/2020  GOOGLE *GSUITE_   _V  15.60
3  08/04/2020  GOOGLE *Google    _V   2.79
0  09/01/2020  GOOGLE CC    21.06_V  21.06
1  09/02/2020  GOOGLE CC     7.80_V   7.80
2  09/03/2020  GOOGLE CC    15.60_V  15.60

In [168]:
# 138. Separate Elements into Bins

df = pd.DataFrame({'number': np.random.randint(1, 100, 5)}) 
print('Original:')
print(df)

df['bins'] = pd.cut(x = df['number'], bins = [1, 20, 40, 60, 80, 100]) 
print('\nAfter pandas cut:')
print(df)

Original:
   number
0      80
1      81
2      38
3      83
4      47

After pandas cut:
   number       bins
0      80   (60, 80]
1      81  (80, 100]
2      38   (20, 40]
3      83  (80, 100]
4      47   (40, 60]

In [169]:
# 139. Encode the object as enumerated or categorical

codes, uniques = pd.factorize(['TO', 'NY', 'CA', 'MNT', 'CA', 'NY'], sort = True)

print(codes)
print(uniques)

[3 2 0 1 0 2]
['CA' 'MNT' 'NY' 'TO']

In [171]:
# 140. 


df = pd.read_csv("sample-transaction.csv", names = ['date', 'description', 'spent'])

# df

bins = np.linspace(min(df['spent']), max(df['spent']), 4)
# print(bins)
groupNames = ["low", "med", "high"]

df['spentGroup'] = pd.cut(df['spent'], bins, labels = groupNames, include_lowest = True)
print(df)

           date           description   spent spentGroup
0    08/01/2019  SSV TO:  11686447909    6.00        low
1    08/01/2019  GOOGLE *GSUITE_   _V   21.06        low
2    08/01/2019  PYT TO:  19764085822   50.00        low
3    08/01/2019  PYT TO:  11683291109   53.72        low
4    08/01/2019  SEND E-TFR CA***YGw   700.00        low
..          ...                   ...     ...        ...
110  08/30/2019  AROMA ESPRESSO    _F    2.68        low
111  08/30/2019  BAKERY ON THE G   _F   18.00        low
112  08/30/2019  SSV TO:  11686447909    6.00        low
113  08/30/2019  TD MUTUAL FUNDS       125.00        low
114  08/30/2019  MONTHLY ACCOUNT FEE    15.95        low

[115 rows x 4 columns]

In [172]:
# 141. Simple result table with Pandas

results = pd.DataFrame(columns = ['Accuracy'])

results.loc['Random Classifier'] = 98.893
results.loc['KNN'] = 99.343

results

                   Accuracy
Random Classifier    98.893
KNN                  99.343

In [173]:
# 142. isin with multiple conditions

df = pd.DataFrame([
        ['LEhOc7XSE0','2020', '03', 'car'],
        ['LEhOc7XSE0','2020', '03', 'truck'],
        ['LEhOc7XSE0','2020', '03', 'bike'],
        ['LEhOc7XSE0','2020', '03', 'insurance'],
        ['LEhOc7XSE0','2020', '03', 'inspection'],
        ['iXC5AfJMox','2020', '04', 'car'],
        ['iXC5AfJMox','2020', '04', 'truck'],
        ['iXC5AfJMox','2020', '04', 'inspection'],
        ['XpLLAySojz','2020', '01', 'bike'],
    ], columns=['order_id','year', 'month', 'item_type'])
print('Original:')
print(df)

df['bike_or_car'] = df['item_type'].isin({'bike', 'car'})
print('\nAfter:')
print(df)

# source: https://stackoverflow.com/questions/64248872/python-pandas-count-columns-with-multiple-conditions-and-groupby

Original:
     order_id  year month   item_type
0  LEhOc7XSE0  2020    03         car
1  LEhOc7XSE0  2020    03       truck
2  LEhOc7XSE0  2020    03        bike
3  LEhOc7XSE0  2020    03   insurance
4  LEhOc7XSE0  2020    03  inspection
5  iXC5AfJMox  2020    04         car
6  iXC5AfJMox  2020    04       truck
7  iXC5AfJMox  2020    04  inspection
8  XpLLAySojz  2020    01        bike

After:
     order_id  year month   item_type  bike_or_car
0  LEhOc7XSE0  2020    03         car         True
1  LEhOc7XSE0  2020    03       truck        False
2  LEhOc7XSE0  2020    03        bike         True
3  LEhOc7XSE0  2020    03   insurance        False
4  LEhOc7XSE0  2020    03  inspection        False
5  iXC5AfJMox  2020    04         car         True
6  iXC5AfJMox  2020    04       truck        False
7  iXC5AfJMox  2020    04  inspection        False
8  XpLLAySojz  2020    01        bike         True

In [174]:
# 143. String to Pandas with python engine and separator

from io import StringIO
import pandas as pd

data = '''            student       science   maths  history
0     David       90          100  89
20    Kevin       98          97  90
'''
df = pd.read_csv(StringIO(data), sep='\s\s+', engine='python')

print(df)

# source: https://stackoverflow.com/questions/64268344/pandas-consolidate-two-rows-in-one

   student  science  maths  history
0    David       90    100       89
20   Kevin       98     97       90

In [175]:
# 144.

def get_unique_items(df):
    
    # how many cols are there
    cols = df.columns
    cols_count = len(df.columns)
    # print(cols_count)

    unique_max_count = 0
    for _col in cols:
#         print(_col)
        current_col_unique_values = list(df[_col].unique())
        list_len = len(current_col_unique_values) 
        
        if(list_len > unique_max_count):
            unique_max_count = list_len
    
    # list of each_cols and unique values
    col_unique_values = {}
    
    for _col in cols:
#         print(_col)
        current_col_unique_values = list(df[_col].unique())
        list_len = len(current_col_unique_values) 
        
        fill_count = 0
        if(list_len < unique_max_count):
            fill_count = unique_max_count - list_len
            
            for _ in range(fill_count):
                current_col_unique_values.append('-')
        
        col_unique_values[_col] = current_col_unique_values
        
    df_new = pd.DataFrame(col_unique_values)
    
    return df_new

users = pd.DataFrame({
    "name": ['kevin', 'james', 'kumar', 'kevin', 'kevin', 'james'], 
    "city": ['Toronto', 'Montreal', 'Calgary', 'Montreal', 'Montreal', 'Ottawa'],
    "count" : [7, 8, 9, 2, 7, 8] 
    
}) 

unique_user_items = get_unique_items(users)

unique_user_items

    name      city  count
0  kevin   Toronto      7
1  james  Montreal      8
2  kumar   Calgary      9
3      -    Ottawa      2

To do:

* Clean up some buggy exercises
* Remove duplicate exercises
* Add more documentation

**Final Notes:**

I am adding things still. You can come back and check for more information.

Also, if you **like my notebook**, <font style="color:blue;size:14px;">please upvote it</font> as it will motivate me to come up with better approach in the upcoming notebooks.

<font color="blue" size=+1.5><b>Check out my other kernels</b></font>

<table style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;border-collapse: collapse;width: 100%;">	
  <tr>
    <th style="border: 1px solid #ddd;padding: 8px; padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #2987E7;color: white;">Notebook</th>
    <th style="border: 1px solid #ddd;padding: 8px; padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #2987E7;color: white;">Tags</th>
  </tr>
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/reviews-with-nlp-wip">Amazon Alexa Reviews with NLP</a> </td>
    <td style="text-align: left">NLP, Spacy</td>
  </tr>
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/sof-questions-eda-and-visual">SOF Questions - EDA and Visual</a> </td>
    <td style="text-align: left">Data Visual, Plotly</td>
  </tr>
  <tr>
    <td style="background-color: #f2f2f2;text-align: left"><a href="https://www.kaggle.com/rajacsp/netflix-visualization-plotly-plots-treemap">Netflix - Visualization, Plotly, Plots, and Treemap</a> </td>
    <td style="background-color: #f2f2f2;text-align: left">Data Visual, Data Cleaning, Plotly</td>
  </tr>
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/prediction-with-various-algorithms">Prediction with various Algorithms</a> </td>
    <td style="text-align: left">Random Forest, Logistic Regression</td>
  </tr>
  <tr>
    <td style="background-color: #f2f2f2;text-align: left"><a href="https://www.kaggle.com/rajacsp/eda-and-visualization">EDA and Visualization</a> </td>
    <td style="background-color: #f2f2f2;text-align: left">Data Cleaning, Data Visual</td>
  </tr>
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/job-analysis-eda-visual">Job Analysis - EDA and Visual</a> </td>
    <td style="text-align: left">Data Visual, EDA, Plotly</td>
  </tr>   
  <tr>
    <td style="background-color: #f2f2f2;text-align: left"><a href="https://www.kaggle.com/rajacsp/estonia-disaster-visualization">Estonia Disaster - Visualization</a> </td>
    <td style="background-color: #f2f2f2;text-align: left">Data Visual, EDA, Data Cleaning</td>
  </tr>
    
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/pandas-dundas-challenge-100" >Pandas 100+ exercises collection</a></td>
    <td style="text-align: left">Pandas, Data Manipulation</td>
  </tr>   
  <tr>
    <td style="background-color: #f2f2f2;text-align: left"><a href="https://www.kaggle.com/rajacsp/prediction-with-various-algorithms">Credit Card Fraud - Prediction with various algorithms</a></td>
    <td style="background-color: #f2f2f2;text-align: left">Various ML Algorithms</td>
  </tr>  
  <tr>
    <td style="text-align: left"><a href="https://www.kaggle.com/rajacsp/linear-equations-real-time">Linear Equations - Real Time</a> </td>
    <td style="text-align: left">Linear Equation</td>
  </tr>  
</table>