# **Pandas Tutorial** <a id="0"></a>
<hr>
1. [Overview](#1)
2. [Pandas Library About](#2)
3. [Import Library](#3)
4. [Pandas Data Structure](#4)
    * [Series](#5)
    * [DataFrame](#6)
5. [Import Data](#7)
    * [CSV](#8)
    * [Excel](#9)
    * [Others(json, SQL, html)](#10)
6. [Exporting Data](#11)
7. [Create Test Objects](#12)
8. [Summariza Data](#13)
    * [df.info()](#14)
    * [df.shape()](#15)
    * [df.index](#16)
    * [df.columns](#17)
    * [df.count()](#18)
    * [df.sum()](#19)
    * [df.cumsum()](#20)
    * [df.min()](#21)
    * [df.max()](#22)
    * [idxmin()](#23)
    * [idxmax()](#24)
    * [df.describe()](#25)
    * [df.mean()](#26)
    * [df.median()](#27)
    * [df.quantile([0.25,0.75])](#28)
    * [df.var()](#29)
    * [df.std()](#30)
    * [df.cummax()](#31)
    * [df.cummin()](#32)
    * [df['columnName'].cumproad()](#33)
    * [len(df)](#34)
    * [df.isnull()](#35)
    * [df.corr()](#81)
9. [Pandas with Selection & Filtering](#36)
    * [series['index']](#37)
    * [df[n:n]](#38)
    * [df.iloc[[0],[5]]](#39)
    * [df.loc[n:n]](#40)
    * [df['columnName']](#41)
    * [df['columnName][n]](#42)
    * [df['columnName'].nunique()](#43)
    * [df['columnName'].unique()](#44)
    * [df.columnName](#45)
    * [df['columnName'].value_counts(dropna =False)](#46)
    * [df.head(n)](#47)
    * [df.tail(n)](#48)
    * [df.sample(n)](#49)
    * [df.sample(frac=0.5)](#50)
    * [df.nlargest(n,'columnName')](#51)
    * [df.nsmallest(n,'columnName')](#52)
    * [df[df.columnName < n]](#53)
    * [df[['columnName','columnName']] ](#54)
    * [df.loc[:,"columnName1":"columnName2"]](#55)
    * [Create Filter](#56)
    * [df.filter(regex = 'code')](#57)
    * [np.logical_and](#58)
    * [Filtering with &](#59)
10. [Sort Data](#60)
    * [df.sort_values('columnName')](#61)
    * [df.sort_values('columnName', ascending=False)](#62)
    * [df.sort_index()](#63)
11. [Rename & Defining New & Change Columns](#64)
    * [df.rename(columns= {'columnName' : 'newColumnName'})](#65)
    * [Defining New Column](#66)
    * [Change Index Name](#67)
    * [Make all columns lowercase](#68)
    * [Make all columns uppercase](#69)
12. [Drop Data](#70)
    * [df.drop(columns=['columnName'])](#71)
    * [Series.drop(['index'])](#72)
    * [Drop an observation (row)](#82)
    * [Drop a variable (column)](#83)
13. [Convert Data Types](#73)
    * [df.dtypes](#74)
    * [df['columnName'] = df['columnName'].astype('dataType')](#75)
    * [pd.melt(frame=dataFrameName,id_vars = 'columnName', value_vars= ['columnName'])](#76)
14. [Apply Function](#77)
    * [Method 1](#78)
    * [Method 2](#79)
15. [Utilities Code](#80)

# **Overview** <a id="1"></a>
<mark>[Return Contents](#0)
<hr>

Welcome to my Kernel! In this kernel, I show you Pandas functions and how to use pandas. Why do I this? Because everyone who's just starting out or who's a professional is using the pandas.

If you have a question or feedback, do not hesitate to write and if you **like** this kernel, please do not forget to **UPVOTE**.

# **What is the pandas?** <a id="2"></a>
<mark>[Return Contents](#0)
<hr>

pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

pandas is a NumFOCUS sponsored project. This will help ensure the success of development of pandas as a world-class open-source project, and makes it possible to donate to the project.

# **Import Library** <a id="3"></a>
<mark>[Return Contents](#0)
<hr>

In [2]:
import numpy as np # linear algebra
import pandas as pd # import in pandas

import os
# print(os.listdir("../input"))

# **Pandas Data Structure** <a id="4"></a>
<mark>[Return Contents](#0)
<hr>

Pandas has two types of data structures. These are series and dataframe.

### **Series** <a id="5"></a>

The series is a one-dimensional labeled array. It can accommodate any type of data in it.

In [3]:
mySeries = pd.Series([3,-5,7,4], index=['a','b','c','d'])
type(mySeries)

pandas.core.series.Series

### **DataFrame** <a id="6"></a>

The dataframe is a two-dimensional data structure. It contains columns.

In [4]:
data = {'Country' : ['Belgium', 'India', 'Brazil' ],
        'Capital': ['Brussels', 'New Delhi', 'Brassilia'],
        'Population': [1234,1234,1234]}
datas = pd.DataFrame(data, columns=['Country','Capital','Population'])
print(type(data))
print(type(datas))

<class 'dict'>
<class 'pandas.core.frame.DataFrame'>

# **Import Library** <a id="7"></a>
<mark>[Return Contents](#0)
<hr>

With pandas, we can open CSV, Excel and SQL databases. I will show you how to use this method for CSV and Excel files only.

### **CSV(comma - separated values)** <a id="8"></a>

It is very easy to open and read CSV files and to overwrite the CSV file.

In [5]:
df = pd.read_csv('./data/DJIA_table.csv')
type(df)
# If your Python file is not in the same folder as your CSV file, you should do this as follows.
# df = pd.read_csv('/home/desktop/Iris.csv')

pandas.core.frame.DataFrame

In [6]:
df

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234
...,...,...,...,...,...,...,...
1984,2008-08-14,11532.070312,11718.280273,11450.889648,11615.929688,159790000,11615.929688
1985,2008-08-13,11632.809570,11633.780273,11453.339844,11532.959961,182550000,11532.959961
1986,2008-08-12,11781.700195,11782.349609,11601.519531,11642.469727,173590000,11642.469727
1987,2008-08-11,11729.669922,11867.110352,11675.530273,11782.349609,183190000,11782.349609
1988,2008-08-08,11432.089844,11759.959961,11388.040039,11734.320312,212830000,11734.320312

### **Excel** <a id="9"></a>

When we want to work with Excel files, we need to type the following code.

In [ ]:
# pd.read_excel('filename')
# pd.to_excel('dir/dataFrame.xlsx', sheet_name='Sheet1')

### **Others(json, SQL, table, html)** <a id="10"></a>

In [ ]:
# pd.read_sql(query,connection_object) -> Reads from a SQL table/database
# pd.read_table(filename) -> From a delimited text file(like TSV)
# pd.read_json(json_string) -> Reads from a json formatted string, URL or file
# pd.read_html(url) -> Parses an html URL, string or file and extracts tables to a list of dataframes
# pd.read_clipboard() -> Takes the contentes of your clipboard and passes it to read_table()
# pd.DataFrame(dict) -> From a dict, keys for columns names, values for data as lists

# **Exporting Data** <a id="11"></a>
<mark>[Return Contents](#0)
<hr>

In [ ]:
# df.to_csv(filename) -> Writes to a CSV file
# df.to_excel(filename) -> Writes on an Excel file
# df.to_sql(table_name, connection_object) -> Writes to a SQL table
# df.to_json(filename) -> Writes to a file in JSON format
# df.to_html(filename) -> Saves as an HTML table
# df.to_clipboard() -> Writes to the clipboard

# **Create Test Objects** <a id="12"></a>
<mark>[Return Contents](#0)
<hr>

In [7]:
pd.DataFrame(np.random.rand(20,5)) # 5 columns and 20 rows of random floats

           0         1         2         3         4
0   0.898672  0.117554  0.019135  0.921251  0.685505
1   0.306898  0.808991  0.833184  0.341657  0.972816
2   0.112201  0.478391  0.219103  0.618015  0.251396
3   0.862642  0.339938  0.350057  0.957073  0.764115
4   0.649764  0.556749  0.236875  0.007034  0.342898
5   0.914576  0.055911  0.594981  0.202283  0.475266
6   0.869722  0.897055  0.377269  0.179183  0.284045
7   0.161416  0.549142  0.887030  0.194451  0.235421
8   0.705732  0.667609  0.664538  0.401223  0.469597
9   0.831154  0.951252  0.047839  0.835101  0.576052
10  0.429447  0.901740  0.890790  0.913051  0.828964
11  0.872305  0.441058  0.859875  0.529993  0.764662
12  0.672834  0.790012  0.783585  0.640058  0.507095
13  0.140235  0.257737  0.515935  0.986803  0.123303
14  0.636360  0.921720  0.420860  0.555719  0.146868
15  0.751530  0.353926  0.189232  0.149460  0.133408
16  0.471143  0.049616  0.059070  0.323550  0.201157
17  0.240090  0.266652  0.081463  0.930045  0.472130
18  0.598001  0.304119  0.137700  0.151924  0.709949
19  0.141153  0.004321  0.974485  0.627639  0.457692

# **Summarize Data** <a id="13"></a>
<mark>[Return Contents](#0)
<hr>

It's easy to get information about data with pandas. It makes it easier for us. Let's examine the existing functions one by one

### **df.info()** <a id="14"></a>
This Code provides detailed information about our data.

* **RangeIndex:** Specifies how many data there is.
* **Data Columns:** Specifies how many columns are found.
* **Columns:** Gives information about Columns.
* **dtypes:** It says what kind of data you have and how many of these data you have.
* **Memory Usage:** It says how much memory usage is.

<mark>[Return Contents](#0)
<hr>

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1989 non-null   object
 1   Open       1989 non-null   float64
 2   High       1989 non-null   float64
 3   Low        1989 non-null   float64
 4   Close      1989 non-null   float64
 5   Volume     1989 non-null   int64
 6   Adj Close  1989 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 108.9+ KB

### **df.shape()** <a id="15"></a>
This code shows us the number of rows and columns.

<mark>[Return Contents](#0)
<hr>

In [9]:
df.shape

(1989, 7)

### **df.index** <a id="16"></a>
This code shows the total number of index found.

<mark>[Return Contents](#0)
<hr>

In [10]:
df.index

RangeIndex(start=0, stop=1989, step=1)

### **df.columns** <a id="17"></a>
This code shows all the columns contained in the data we have examined.

<mark>[Return Contents](#0)
<hr>

In [11]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

### **df.count()** <a id="18"></a>
This code shows us how many pieces of data are in each column.

<mark>[Return Contents](#0)
<hr>

In [12]:
df.count()

Date         1989
Open         1989
High         1989
Low          1989
Close        1989
Volume       1989
Adj Close    1989
dtype: int64

### **df.sum()** <a id="19"></a>
This code shows us the sum of the data in each column.

<mark>[Return Contents](#0)
<hr>

In [13]:
df.sum()

Date         2016-07-012016-06-302016-06-292016-06-282016-0...
Open                                           26770181.820295
High                                           26933652.010742
Low                                            26598761.206535
Close                                          26777971.154794
Volume                                            323831020000
Adj Close                                      26777971.154794
dtype: object

### **df.cumsum()** <a id="20"></a>
This code gives us cumulative sum of the data.

<mark>[Return Contents](#0)
<hr>

In [14]:
df.cumsum().head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-07-012016-06-30,35637.000000,35932.990234,35628.710937,35879.359375,215190000,35879.359375
2,2016-07-012016-06-302016-06-29,53093.019531,53637.500000,53084.730468,53574.039063,321570000,53574.039063
3,2016-07-012016-06-302016-06-292016-06-28,70283.529297,71047.220703,70275.240234,70983.759766,433760000,70983.759766
4,2016-07-012016-06-302016-06-292016-06-282016-0...,87638.740235,88402.431641,87338.320312,88124.000000,572500000,88124.000000

### **df.min()** <a id="21"></a>
This code brings us the smallest of the data.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.min()

### **df.max()** <a id="22"></a>
This code brings up the largest among the data.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.max()

### **idxmin()**  <a id="23"></a>
This code fetches the smallest value in the data. The use on series and dataframe is different.

<mark>[Return Contents](#0)
<hr>

In [ ]:
print("df: ",df['Open'].idxmin())
print("series", mySeries.idxmin())

### **idxmax()**  <a id="24"></a>
This code returns the largest value in the data.

<mark>[Return Contents](#0)
<hr>

In [ ]:
print("df: ",df['Open'].idxmax())
print("series: ",mySeries.idxmax())

### **df.describe()**  <a id="25"></a>
This Code provides basic statistical information about the data. The numerical column is based.

* **count:** vnumber of entries
* **mean: **average of entries
* **std:** standart deviation
* **min:** minimum entry
* **25%:** first quantile
* **50%:** median or second quantile
* **75%:** third quantile
* **max:** maximum entry

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.describe()

### **df.mean()**  <a id="26"></a>
This code returns the mean value for the numeric column.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.mean()

### **df.median()**  <a id="27"></a>
This code returns median for columns with numeric values.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.median()

### **df.quantile([0.25,0.75])**  <a id="28"></a>
This code calculates the values 0.25 and 0.75 of the columns for each column.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.quantile([0.25,0.75])

### **df.var()**  <a id="29"></a>
This code calculates the variance value for each column with a numeric value.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.var()

### **df.std()** <a id="30"></a>
This code calculates the standard deviation value for each column with numeric value.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.std()

### **df.cummax()** <a id="31"></a>
This code calculates the cumulative max value between the data.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.cummax()

### **df.cummin()** <a id="32"></a>
This code returns the cumulative min value of the data.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.cummin()

`df.cummin()` 是一个 pandas 库中的函数，用于返回一个 DataFrame 或 Series，其中每个元素都是原始 DataFrame 或 Series 中该元素及其之前所有元素的累计最小值。例如，如果 `df` 是一个 DataFrame，则 `df.cummin()` 将返回一个 DataFrame，其中每个元素都是原始 DataFrame 中该元素及其之前所有元素的累计最小值。

(1) seaborn.displot — seaborn 0.12.2 documentation. https://seaborn.pydata.org/generated/seaborn.displot.html.
(2) Seaborn.displot() 方法 - W3Schools. https://m.w3schools.cn/seaborn/seaborn_displot_method.html.
(3) 【Seaborn】sns.displot()用法 - 知乎. https://zhuanlan.zhihu.com/p/484375009.
(4) Visualizing distributions of data — seaborn 0.12.2 documentation. https://seaborn.pydata.org/tutorial/distributions.html.

累计最小值是指在一系列数值中，某个位置的元素及其之前的所有元素的最小值。例如，对于数列 [1, 3, -2, 4, -1]，累计最小值序列为 [1, 1, -2, -2, -2]。在这个例子中，第一个元素 1 是原始数列的最小值，第二个元素 3 是原始数列前两个元素的最小值，第三个元素 -2 是原始数列前三个元素的最小值，以此类推。


(1) 最小值是什么意思 - 百度知道. https://zhidao.baidu.com/question/331698061.html.
(2) Minitab图形 | 概率图—3解释结果 - 知乎 - 知乎专栏. https://zhuanlan.zhihu.com/p/98120465.
(3) 为什么国家统计局的本月累计值不等于上月累计值加上本月当期值？ - 知乎. https://www.zhihu.com/question/41099382.
(4) 宏观经济分析的累计同比和当月同比，在什么时候用哪一种更好，为什么 ？ - 知乎. https://www.zhihu.com/question/529162418.
(5) seaborn.displot — seaborn 0.12.2 documentation. https://seaborn.pydata.org/generated/seaborn.displot.html.
(6) Seaborn.displot() 方法 - W3Schools. https://m.w3schools.cn/seaborn/seaborn_displot_method.html.
(7) 【Seaborn】sns.displot()用法 - 知乎. https://zhuanlan.zhihu.com/p/484375009.
(8) Visualizing distributions of data — seaborn 0.12.2 documentation. https://seaborn.pydata.org/tutorial/distributions.html.

### **df['columnName'].cumproad()** <a id="33"></a>
This code returns the cumulative production of the data.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df['Open'].cumprod().head()

### **len(df)** <a id="34"></a>
This code gives you how many data there is.

<mark>[Return Contents](#0)
<hr>

In [ ]:
len(df)

### **df.isnull()** <a id="35"></a>
Checks for null values, returns boolean.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.isnull().head()

### **df.corr()** <a id="81"></a>
it gives information about the correlation between the data.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.corr()

# **Selection & Filtering** <a id="36"></a>
<mark>[Return Contents](#0)
<hr>

This is how we can choose the data we want with pandas, how we can bring unique data.

### **mySeries['b']** <a id="37"></a>
This code returns data with a value of B in series.

<mark>[Return Contents](#0)
<hr>

In [ ]:
mySeries['b']

### **df[n:n]** <a id="38"></a>
This code fetches data from N to N.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df[1982:]
#Or
#df[5:7]

### **df.iloc[[n],[n]]** <a id="39"></a>
This code brings the data in the N row and N column in the DataFrame.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.iloc[[0],[3]]

### **df.loc[n:n]** <a id="40"></a>
This code allows us to fetch the data in the range we specify.

<mark>[Return Contents](#0)
<hr>

In [ ]:
#df.loc[n:]
# OR
df.loc[5:7]

### **df['columnName']** <a id="41"></a>
With this code, we can select and bring any column we want.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df['Open'].head()
# OR
# df.Open

### **df['columnName'][n]** <a id="42"></a>
With this code, we can select and return any value of the column we want.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df['Open'][0]
# OR
# df.Open[0]
# df["Open"][1]
# df.loc[1,["Open"]]

### **df['columnName'].nunique()** <a id="43"></a>
This code shows how many of the data that is in the selected column and does not repeat.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df['Open'].nunique()

### **df['columnName'].unique()** <a id="44"></a>
This code shows which of the data in the selected column repeats.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df['Open'].unique()
# We can write the above code as follows:: df.Open.unique()

### **df.columnName** <a id="45"></a>
This code is another way to select the column we want.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.Open.head()

### **df['columnName'].value_counts(dropna =False)** <a id="46"></a>
This code counts all of the data in the column we have specified, but does not count the null/none values.

<mark>[Return Contents](#0)
<hr>

In [ ]:
print(df.Open.value_counts(dropna =True).head())
# OR
# print(df['Item'].value_counts(dropna =False))

### **df.head(n)** <a id="47"></a>
This code optionally brings in the first 5 data. returns the number of data that you type instead of N.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.head()
# OR
# df.head(15)

### **df.tail(n)** <a id="48"></a>
This code optionally brings 5 data at the end. returns the number of data that you type instead of N.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.tail()
# OR
# df.tail(20)

### **df.sample(n)** <a id="49"></a>
This code fetches random n data from the data.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.sample(5)

### **df.sample(frac=0.5)** <a id="50"></a>
This code selects the fractions of random rows and fetches the data to that extent.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.sample(frac=0.5).head()

### **df.nlargest(n,'columnName')** <a id="51"></a>
This code brings N from the column where we have specified the largest data.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.nlargest(5,'Open')

### **df.nsmallest(n,'columnName')** <a id="52"></a>
This code brings N from the column where we have specified the smallest data.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.nsmallest(3,'Open')

### **df[df.columnName < 5]** <a id="53"></a>
This code returns the column name we have specified, which is less than 5.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df[df.Open > 18281.949219]

### **df[['columnName','columnName']]** <a id="54"></a>
This code helps us pick and bring any columns we want.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df[['High','Low']].head()
# df.loc[:,["High","Low"]]

### **df.loc[:,"columnName1":"columnName2"]** <a id="55"></a>
This code returns columns from columnname1 to columnname2.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.loc[:,"Date":"Close"].head()
# OR
# data.loc[:3,"Date":"Close"]

### **Create Filter** <a id="56"></a>
<mark>[Return Contents](#0)
<hr>

In [ ]:
filters = df.Date > '2016-06-27'
df[filters]

### **df.filter(regex = 'code')** <a id="57"></a>
This code allows regex to filter any data we want.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.filter(regex='^L').head()

### **np.logical_and** <a id="58"></a>
Filtering with logical_and. Lets look at the example.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df[np.logical_and(df['Open']>18281.949219, df['Date']>'2015-05-20' )]

### **Filtering with &** <a id="59"></a>
<mark>[Return Contents](#0)
<hr>

In [ ]:
df[(df['Open']>18281.949219) & (df['Date']>'2015-05-20')]

# **Sort Data** <a id="60"></a>

<mark>[Return Contents](#0)
<hr>

### **df.sort_values('columnName')** <a id="61"></a>
This code sorts the column we specify in the form of low to high.

In [ ]:
df.sort_values('Open').head()

### **df.sort_values('columnName', ascending=False)** <a id="62"></a>
This code is the column we specify in the form of high to low.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.sort_values('Date', ascending=False).head()

### **df.sort_index()** <a id="63"></a>
This code sorts from small to large according to the DataFrame index.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.sort_index().head()

# **Rename & Defining New & Change Columns** <a id="64"></a>
<mark>[Return Contents](#0)
<hr>

### **df.rename(columns= {'columnName' : 'newColumnName'})** <a id="65"></a>
This code helps us change the column name. The code I wrote below changes the ID value, but as we did not assign the change to the variable DF, it seems to be unchanged as you see below.

In [ ]:
df.rename(columns= {'Adj Close' : 'Adjclose'}).head()
# df = df.rename(columns= {'Id' : 'Identif'}, inplace=True) -> True way
# inplace= True or False; This meaning, overwrite the data set.
# Other Way
# df.columns = ['date', 'open', 'high', 'low', 'close', 'volume', 'adjclose']

###  **Defining New Column** <a id="66"></a>
Create a new column

<mark>[Return Contents](#0)
<hr>

In [ ]:
df["Difference"] = df.High - df.Low
df.head()

### **Change Index Name** <a id="67"></a>
Change index name to new index name

<mark>[Return Contents](#0)
<hr>

In [ ]:
print(df.index.name)
df.index.name = "index_name"
df.head()

### **Make all columns lowercase** <a id="68"></a>
<mark>[Return Contents](#0)
<hr>

In [ ]:
#df.columns = map(str.lower(), df.columns)

### **Make all columns uppercase** <a id="69"></a>
<mark>[Return Contents](#0)
<hr>

In [ ]:
#df.columns = map(str.upper(), df.columns)

# **Drop Data** <a id="70"></a>

<mark>[Return Contents](#0)
<hr>

### **df.drop(columns=['columnName'])** <a id="71"></a>
This code deletes the column we have specified. But as above, I have to reset the delete to the df variable again.

In [ ]:
df.drop(columns=['Adj Close']).head()
# df = df.drop(columns=['Id']) -> True way
# OR
# df = df.drop('col', axis=1)
# axis = 1 is meaning delete columns
# axis = 0 is meaning delete rows

### **mySeries.drop(['a'])** <a id="72"></a>
This code allows us to delete the value specified in the series.

<mark>[Return Contents](#0)
<hr>

In [ ]:
mySeries.drop(['a'])

### **Drop an observation (row)** <a id="82"></a>

<mark>[Return Contents](#0)
<hr>

In [ ]:
# df.drop(['2016-07-01', '2016-06-27'])

### **Drop a variable (column)** <a id="83"></a>

<mark>[Return Contents](#0)
<hr>
Note: axis=1 denotes that we are referring to a column, not a row

In [ ]:
# df.drop('Volume', axis=1)

# **Convert Data Types** <a id="73"></a>

<mark>[Return Contents](#0)
<hr>

### **df.dtypes** <a id="74"></a>
This code shows what data type of columns are. Boolean, int, float, object(String), date and categorical.

In [ ]:
df.dtypes

### **df['columnName'] = df['columnName'].astype('dataType')** <a id="75"></a>
This code convert the column we specify into the data type we specify.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df.Date.astype('category').dtypes
# OR Convert Datetime
# df.Date= pd.to_datetime(df.Date)

### **pd.melt(frame=dataFrameName,id_vars = 'columnName', value_vars= ['columnName'])** <a id="76"></a>
This code is confusing, so lets look at the example.

<mark>[Return Contents](#0)
<hr>

In [ ]:
df_new = df.head()
melted = pd.melt(frame=df_new,id_vars = 'Date', value_vars= ['Low'])
melted

# **Apply Function** <a id="77"></a>

<mark>[Return Contents](#0)
<hr>

### **Method 1** <a id="78"></a>

In [ ]:
def examples(x):   #create a function
    return x*2

df.Open.apply(examples).head()  #use the function with apply()

### **Method 2** <a id="79"></a>

In [ ]:
df.Open.apply(lambda x: x*2).head()

# **Utilities Code** <a id="80"></a>

<mark>[Return Contents](#0)
<hr>

In [ ]:
# pd.get_option OR pd.set_option
# pd.reset_option("^display")

# pd.reset_option("display.max_rows")
# pd.get_option("display.max_rows")
# pd.set_option("max_r",102)                 -> specifies the maximum number of rows to display.
# pd.options.display.max_rows = 999          -> specifies the maximum number of rows to display.

# pd.get_option("display.max_columns")
# pd.options.display.max_columns = 999       -> specifies the maximum number of columns to display.

# pd.set_option('display.width', 300)

# pd.set_option('display.max_columns', 300)  -> specifies the maximum number of rows to display.
# pd.set_option('display.max_colwidth', 500) -> specifies the maximum number of columns to display. 

# pd.get_option('max_colwidth')
# pd.set_option('max_colwidth',40)
# pd.reset_option('max_colwidth')

# pd.get_option('max_info_columns')
# pd.set_option('max_info_columns', 11)
# pd.reset_option('max_info_columns')

# pd.get_option('max_info_rows')
# pd.set_option('max_info_rows', 11)
# pd.reset_option('max_info_rows')

# pd.set_option('precision',7) -> sets the output display precision in terms of decimal places. This is only a suggestion.
# OR
# pd.set_option('display.precision',3)

# pd.set_option('chop_threshold', 0) -> sets at what level pandas rounds to zero when it displays a Series of DataFrame. This setting does not change the precision at which the number is stored.
# pd.reset_option('chop_threshold')