<a href="https://colab.research.google.com/github/xyt556/Geo_Python_2024/blob/master/Pandas/a-complete-pandas-tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Complete Guide to Pandas.

Hi All ‚úåÔ∏è, writing an article on Kaggle after a very long time.

In this one I try to cover all the basic **Pandas** operations.

For this, I will use the Titanic dataset. I have added a few more data sources so that the kernel reaches the mass and also you can run it on those datasets without much change.

Hope you find it useful, and if you do, make sure to drop a üëç.

## Table of Contents(ToC):

#### 1. [The Basics](#content1)

#### 2. [Creating DataFrame](#content2)

#### 3. [Treating null values](#content3)

#### 4. [Modify/Add new column(s).](#content4)

#### 5. [Deleting columns](#content5)

#### 6. [Renaming columns](#content6)

#### 7.i. [Slicing DataFrame](#content7)

#### 7.ii. [Slicing using iloc and loc](#content8)

#### 8. [Adding a row](#content9)

#### 9. [Dropping row(s)](#content10)

#### 10. [Sorting](#content11)

#### 11. [Joins](#content12)

#### 12. [Groupby](#content13)

#### Importing modules.

In [80]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [81]:
import os
import requests

# ÂàõÂª∫ÁõÆÂΩï
if not os.path.exists("data"):
    os.makedirs("data")

url = "https://github.com/xyt556/Geo_Python_2024/blob/master/Pandas/data/train.csv"
filename = "data/train.csv"

# ÂèëÈÄÅGETËØ∑Ê±Ç
response = requests.get(url)

# Ê£ÄÊü•ËØ∑Ê±ÇÊòØÂê¶ÊàêÂäü
if response.status_code == 200:
    # ÂÜôÂÖ•Êñá‰ª∂
    with open(filename, 'wb') as f:
        f.write(response.content)
    print(f"Êñá‰ª∂ {filename} ‰∏ãËΩΩÊàêÂäüÔºÅ")
else:
    print(f"‰∏ãËΩΩ {filename} Êñá‰ª∂Êó∂Âá∫ÈîôÔºö{response.status_code}")

Êñá‰ª∂ data/train.csv ‰∏ãËΩΩÊàêÂäüÔºÅ

#### Importing data.

For this tutorial, we will use the standard Titanic Dataset.

In [82]:
train=pd.read_csv(r'./data/train.csv')
df=train.copy()

<a id="content1"></a>
## 1. The Basics

In [ ]:
# See the first 5 rows
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# last 5 rows.
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
# n_samples x n_features
df.shape

(891, 12)

In [ ]:
#List of all the columns
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
# Rows index
df.index

RangeIndex(start=0, stop=891, step=1)

In [ ]:
# Values with their counts in a particular column
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
# General description of dataset.
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

<a id="content2"></a>
## 2. Creating DataFrame

In [ ]:
# empty data frame
df_empty=pd.DataFrame()
df_empty.head()  #;)

Empty DataFrame
Columns: []
Index: []

In [ ]:
# From dict
student_dict={'Name':['A','B','C'],'Age':[24,18,17],'Roll':[1,2,3]}
df_student=pd.DataFrame(student_dict).reset_index(drop=True) # without this adds an additional index column in df
df_student.head()

  Name  Age  Roll
0    A   24     1
1    B   18     2
2    C   17     3

from matplotlib import pyplot as plt
_df_0['Age'].plot(kind='hist', bins=20, title='Age')
plt.gca().spines[['top', 'right',]].set_visible(False)

from matplotlib import pyplot as plt
_df_1['Roll'].plot(kind='hist', bins=20, title='Roll')
plt.gca().spines[['top', 'right',]].set_visible(False)

from matplotlib import pyplot as plt
import seaborn as sns
_df_2.groupby('Name').size().plot(kind='barh', color=sns.palettes.mpl_palette('Dark2'))
plt.gca().spines[['top', 'right',]].set_visible(False)

from matplotlib import pyplot as plt
_df_3.plot(kind='scatter', x='Age', y='Roll', s=32, alpha=.8)
plt.gca().spines[['top', 'right',]].set_visible(False)

from matplotlib import pyplot as plt
import seaborn as sns
def _plot_series(series, series_name, series_index=0):
  from matplotlib import pyplot as plt
  import seaborn as sns
  palette = list(sns.palettes.mpl_palette('Dark2'))
  xs = series['Roll']
  ys = series['Age']

  plt.plot(xs, ys, label=series_name, color=palette[series_index % len(palette)])

fig, ax = plt.subplots(figsize=(10, 5.2), layout='constrained')
df_sorted = _df_4.sort_values('Roll', ascending=True)
for i, (series_name, series) in enumerate(df_sorted.groupby('Name')):
  _plot_series(series, series_name, i)
  fig.legend(title='Name', bbox_to_anchor=(1, 1), loc='upper left')
sns.despine(fig=fig, ax=ax)
plt.xlabel('Roll')
_ = plt.ylabel('Age')

from matplotlib import pyplot as plt
import seaborn as sns
def _plot_series(series, series_name, series_index=0):
  from matplotlib import pyplot as plt
  import seaborn as sns
  palette = list(sns.palettes.mpl_palette('Dark2'))
  counted = (series['Roll']
                .value_counts()
              .reset_index(name='counts')
              .rename({'index': 'Roll'}, axis=1)
              .sort_values('Roll', ascending=True))
  xs = counted['Roll']
  ys = counted['counts']
  plt.plot(xs, ys, label=series_name, color=palette[series_index % len(palette)])

fig, ax = plt.subplots(figsize=(10, 5.2), layout='constrained')
df_sorted = _df_5.sort_values('Roll', ascending=True)
for i, (series_name, series) in enumerate(df_sorted.groupby('Name')):
  _plot_series(series, series_name, i)
  fig.legend(title='Name', bbox_to_anchor=(1, 1), loc='upper left')
sns.despine(fig=fig, ax=ax)
plt.xlabel('Roll')
_ = plt.ylabel('count()')

from matplotlib import pyplot as plt
_df_6['Age'].plot(kind='line', figsize=(8, 4), title='Age')
plt.gca().spines[['top', 'right']].set_visible(False)

from matplotlib import pyplot as plt
_df_7['Roll'].plot(kind='line', figsize=(8, 4), title='Roll')
plt.gca().spines[['top', 'right']].set_visible(False)

<string>:5: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

from matplotlib import pyplot as plt
import seaborn as sns
figsize = (12, 1.2 * len(_df_8['Name'].unique()))
plt.figure(figsize=figsize)
sns.violinplot(_df_8, x='Age', y='Name', inner='stick', palette='Dark2')
sns.despine(top=True, right=True, bottom=True, left=True)

<string>:5: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

from matplotlib import pyplot as plt
import seaborn as sns
figsize = (12, 1.2 * len(_df_9['Name'].unique()))
plt.figure(figsize=figsize)
sns.violinplot(_df_9, x='Roll', y='Name', inner='stick', palette='Dark2')
sns.despine(top=True, right=True, bottom=True, left=True)

<a id="content3"></a>
## 3. Treating null values

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# on whole df.
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
# on a particular column
df['Age'].isnull().sum()

177

#### Impute null values

In [ ]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Age'].isnull().sum()

0

In [ ]:
df['Sex'].isnull().sum()

0

In [ ]:
df['Sex'].fillna(df['Sex'].mode(),inplace=True)
df['Sex'].isnull().sum()

0

<a id="content4"></a>
## 4. Modify/Add new column(s).
Adding another column or modify a column.

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df['Sex']=df['Sex'].map({"male":'0',"female":"1"})
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Finding last name and first name from Name column.
df['last_name']=df['Name'].apply(lambda x: x.split(',')[0])
df['first_name']=df['Name'].apply(lambda x: ' '.join(x.split(',')[1:]))

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,last_name,first_name
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer)
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel)
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry

In [ ]:
# Sets to 1 for men in 3rd class.
df['Thrid&Men']=df.apply(lambda row: int(row['Pclass']==3 and row['Sex']=="0"),axis=1)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,last_name,first_name,Thrid&Men
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1

##### Calling some custom function.

In [ ]:
def findAgeGroup(age):
    if age<18:
        return 1
    elif age>=18 and age<40:
        return 2
    elif age>=40 and age<60:
        return 3
    else:
        return 4
df['Age_group']=df['Age'].apply(lambda x: findAgeGroup(x))
# Calling a custom function.

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,last_name,first_name,Thrid&Men,Age_group
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0,2
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0,2
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1,2

<a id="content5"></a>
## 5. Deleting columns

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,last_name,first_name,Thrid&Men,Age_group
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0,2
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0,2
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1,2

In [ ]:
df=df.drop(['PassengerId'],axis=1)
#df=df.drop(['PassengerId'],axis=1,inplace=True)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,last_name,first_name,Thrid&Men,Age_group
0,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0,2
2,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0,2
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0,2
4,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1,2

<a id="content6"></a>
## 6. Renaming columns

In [ ]:
# Lets try to rename some columns.
df=df.rename(columns={'Sex':'Gender','Name':'Full Name','last_name':'Surname','first_name':'Name'})
df.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
0,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0,2
2,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0,2
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0,2
4,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1,2

Similarly, we can do for whichever column we want.

<a id="content7"></a>
## 7.i Slicing DataFrame

In [ ]:
df.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
0,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0,2
2,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0,2
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0,2
4,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1,2

In [ ]:
# All rows with pclass==3
df_third_class=df[df['Pclass']==3].reset_index(drop=True) # w/0 drop=True it actually adds a index column rather.
df_third_class.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
0,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1,2
1,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0,2
2,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1,2
3,0,3,"Moran, Mr. James",0,29.699118,0,0,330877,8.4583,NaN,Q,Moran,Mr. James,1,2
4,0,3,"Palsson, Master. Gosta Leonard",0,2.000000,3,1,349909,21.0750,NaN,S,Palsson,Master. Gosta Leonard,1,1

In [ ]:
# Females with age > 60
df_aged=df[(df['Age']>60) & (df['Gender']=="1")]
df_aged.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
275,1,1,"Andrews, Miss. Kornelia Theodosia",1,63.0,1,0,13502,77.9583,D7,S,Andrews,Miss. Kornelia Theodosia,0,4
483,1,3,"Turkula, Mrs. (Hedwig)",1,63.0,0,0,4134,9.5875,NaN,S,Turkula,Mrs. (Hedwig),0,4
829,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",1,62.0,0,0,113572,80.0000,B28,NaN,Stone,Mrs. George Nelson (Martha Evelyn),0,4

**Note that all these three ladies were saved as they were senior citizen and women so they may have been given priority.**

In [ ]:
# Selecting some columns.
df1=df[['Age','Pclass','Gender']]
df1.head()

    Age  Pclass Gender
0  22.0       3      0
1  38.0       1      1
2  26.0       3      1
3  35.0       1      1
4  35.0       3      0

In [ ]:
# Select numerical columns only
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

df_num = df.select_dtypes(include=numerics)
df_num.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  Thrid&Men  Age_group
0         0       3  22.0      1      0   7.2500          1          2
1         1       1  38.0      1      0  71.2833          0          2
2         1       3  26.0      0      0   7.9250          0          2
3         1       1  35.0      1      0  53.1000          0          2
4         0       3  35.0      0      0   8.0500          1          2

In [ ]:
# categorical columns
df_cat=df.select_dtypes(include=['object'])
df_cat.head()

,Full Name,Gender,Ticket,Cabin,Embarked,Surname,Name
0,"Braund, Mr. Owen Harris",0,A/5 21171,NaN,S,Braund,Mr. Owen Harris
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,PC 17599,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer)
2,"Heikkinen, Miss. Laina",1,STON/O2. 3101282,NaN,S,Heikkinen,Miss. Laina
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,113803,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel)
4,"Allen, Mr. William Henry",0,373450,NaN,S,Allen,Mr. William Henry

<a id="content8"></a>
## 7.ii Slicing using iloc and loc

#### iloc

In [ ]:
df.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
0,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0,2
2,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0,2
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0,2
4,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1,2

In [ ]:
# First 100 rows & all columns
df_sub1=df.iloc[0:100,:]
df_sub1.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
0,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0,2
2,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0,2
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0,2
4,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1,2

In [ ]:
#First 250 rows with a subset of columns

#df_sub2=df.iloc[:250,['Age']]
# This will throw an error as iloc only consumes integres as indices.

df_sub2=df.iloc[:250,[1,8]]
#Returns first 250 rows and columns at those indices in df.columns.
df_sub2.head()

   Pclass     Fare
0       3   7.2500
1       1  71.2833
2       3   7.9250
3       1  53.1000
4       3   8.0500

#### loc

In [ ]:
df.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
0,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0,2
2,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0,2
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0,2
4,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1,2

In [ ]:
# First 500 rows.
df_sub3=df.loc[:500,:]

In [ ]:
df_sub3.shape

(501, 15)

In [ ]:
df_sub3.tail()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
496,1,1,"Eustis, Miss. Elizabeth Mussey",1,54.000000,1,0,36947,78.2667,D20,C,Eustis,Miss. Elizabeth Mussey,0,3
497,0,3,"Shellard, Mr. Frederick William",0,29.699118,0,0,C.A. 6212,15.1000,NaN,S,Shellard,Mr. Frederick William,1,2
498,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.000000,1,2,113781,151.5500,C22 C26,S,Allison,Mrs. Hudson J C (Bessie Waldo Daniels),0,2
499,0,3,"Svensson, Mr. Olof",0,24.000000,0,0,350035,7.7958,NaN,S,Svensson,Mr. Olof,1,2
500,0,3,"Calic, Mr. Petar",0,17.000000,0,0,315086,8.6625,NaN,S,Calic,Mr. Petar,1,1

In [ ]:
# Gender and age of age >50
df_sub4=df.loc[(df['Age']>50),['Gender','Age']]
df_sub4.head()

   Gender   Age
6       0  54.0
11      1  58.0
15      1  55.0
33      0  66.0
54      0  65.0

In [ ]:
df_sub4.shape

(64, 2)

<a id="content9"></a>
## 8. Adding a row

In [ ]:
df.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
0,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1,2
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0,2
2,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0,2
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0,2
4,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1,2

In [ ]:
# Adding row using 'append' function
row={'Age':24,'Full Name':'Peter','Survived':'Y'}
row_data = pd.DataFrame.from_dict(row, orient='index').T
# df=df.append(row,ignore_index=True)
# ‰ΩøÁî®pd.concatÊ∑ªÂä†Êñ∞Ë°åÂπ∂ÈáçÊñ∞ÂàÜÈÖçÁªôdf
df = pd.concat([df, row_data], ignore_index=True)

# assumes Nan for absent keys(columns)
df.tail()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
887,1,1.0,"Graham, Miss. Margaret Edith",1,19.0,0.0,0.0,112053,30.00,B42,S,Graham,Miss. Margaret Edith,0.0,2.0
888,0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1.0,2.0,W./C. 6607,23.45,NaN,S,Johnston,"Miss. Catherine Helen ""Carrie""",0.0,2.0
889,1,1.0,"Behr, Mr. Karl Howell",0,26.0,0.0,0.0,111369,30.00,C148,C,Behr,Mr. Karl Howell,0.0,2.0
890,0,3.0,"Dooley, Mr. Patrick",0,32.0,0.0,0.0,370376,7.75,NaN,Q,Dooley,Mr. Patrick,1.0,2.0
891,Y,NaN,Peter,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# ‰∏Ä‰∏™Â∞è‰æãÂ≠ê
# import pandas as pd

# # ÂàõÂª∫‰∏Ä‰∏™Á§∫‰æãÁöÑDataFrame
# data = {'Age': [30, 25, 35],
#         'Full Name': ['Alice', 'Bob', 'Charlie'],
#         'Survived': ['Y', 'N', 'Y']}

# df = pd.DataFrame(data)

# # ÂàõÂª∫‰∏Ä‰∏™Êñ∞ÁöÑË°åÊï∞ÊçÆ
# new_row = pd.Series({'Age': 24, 'Full Name': 'Peter', 'Survived': 'Y'})

# # ‰ΩøÁî®pd.concatÊ∑ªÂä†Êñ∞Ë°åÂπ∂ÈáçÊñ∞ÂàÜÈÖçÁªôdf
# df = pd.concat([df, new_row.to_frame().T], ignore_index=True)

# # ÊâìÂç∞Êõ¥Êñ∞ÂêéÁöÑDataFrame
# print(df)

In [ ]:
# Adding new row using loc
df.loc[len(df.index)]=row
df.tail()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
888,0,3.0,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1.0,2.0,W./C. 6607,23.45,NaN,S,Johnston,"Miss. Catherine Helen ""Carrie""",0.0,2.0
889,1,1.0,"Behr, Mr. Karl Howell",0,26.0,0.0,0.0,111369,30.00,C148,C,Behr,Mr. Karl Howell,0.0,2.0
890,0,3.0,"Dooley, Mr. Patrick",0,32.0,0.0,0.0,370376,7.75,NaN,Q,Dooley,Mr. Patrick,1.0,2.0
891,Y,NaN,Peter,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,Y,NaN,Peter,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<a id="content10"></a>
## 9. Dropping row(s)

In [ ]:
df=df.drop(df.index[-1],axis=0) # Deletes last row
df.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
0,0,3.0,"Braund, Mr. Owen Harris",0,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1.0,2.0
1,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1.0,0.0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0.0,2.0
2,1,3.0,"Heikkinen, Miss. Laina",1,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0.0,2.0
3,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1.0,0.0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0.0,2.0
4,0,3.0,"Allen, Mr. William Henry",0,35.0,0.0,0.0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1.0,2.0

<a id="content11"></a>
## 10. Sorting

In [ ]:
df.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
0,0,3.0,"Braund, Mr. Owen Harris",0,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S,Braund,Mr. Owen Harris,1.0,2.0
1,1,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1.0,0.0,PC 17599,71.2833,C85,C,Cumings,Mrs. John Bradley (Florence Briggs Thayer),0.0,2.0
2,1,3.0,"Heikkinen, Miss. Laina",1,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss. Laina,0.0,2.0
3,1,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1.0,0.0,113803,53.1000,C123,S,Futrelle,Mrs. Jacques Heath (Lily May Peel),0.0,2.0
4,0,3.0,"Allen, Mr. William Henry",0,35.0,0.0,0.0,373450,8.0500,NaN,S,Allen,Mr. William Henry,1.0,2.0

In [ ]:
# sorting by age say in decreasing order.
df=df.sort_values(by=['Age'],ascending=False) # can specify multiple columns in a list as well.
df.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
630,1,1.0,"Barkworth, Mr. Algernon Henry Wilson",0,80.0,0.0,0.0,27042,30.0000,A23,S,Barkworth,Mr. Algernon Henry Wilson,0.0,4.0
851,0,3.0,"Svensson, Mr. Johan",0,74.0,0.0,0.0,347060,7.7750,NaN,S,Svensson,Mr. Johan,1.0,4.0
96,0,1.0,"Goldschmidt, Mr. George B",0,71.0,0.0,0.0,PC 17754,34.6542,A5,C,Goldschmidt,Mr. George B,0.0,4.0
493,0,1.0,"Artagaveytia, Mr. Ramon",0,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,Artagaveytia,Mr. Ramon,0.0,4.0
116,0,3.0,"Connors, Mr. Patrick",0,70.5,0.0,0.0,370369,7.7500,NaN,Q,Connors,Mr. Patrick,1.0,4.0

<a id="content12"></a>
## 11. Joins

Let's create two separate data frames and try all 5 (Cross,Inner, Left, Right,and Outer Joins).

In [ ]:
sno=[i+1 for i in range(100)]
marks=np.random.randint(100,size=100)
print(len(marks))
marks_df=pd.DataFrame({'Sno':sno,'Marks':marks})
marks_df.head()

100

   Sno  Marks
0    1      1
1    2     51
2    3     26
3    4     68
4    5     95

In [ ]:
sno=[i+1 for i in range(100)]
age=np.random.randint(100,size=100)
print(len(marks))
age_df=pd.DataFrame({'Sno':sno,'Age':age})
age_df.head()

100

   Sno  Age
0    1   26
1    2   98
2    3    4
3    4   63
4    5   24

#### Cross join

In [ ]:
cross_join=pd.merge(marks_df,age_df,how='cross')
print(cross_join.shape)
cross_join.head()

(10000, 4)

   Sno_x  Marks  Sno_y  Age
0      1      1      1   26
1      1      1      2   98
2      1      1      3    4
3      1      1      4   63
4      1      1      5   24

#### Inner Join

In [ ]:
inner_join=pd.merge(age_df,marks_df,how='inner',on='Sno') # 'how' defaults to 'inner' only.
print(inner_join.shape)
inner_join.head()

(100, 3)

   Sno  Age  Marks
0    1   26      1
1    2   98     51
2    3    4     26
3    4   63     68
4    5   24     95

#### Left and Right Outer Join(s)

Lets add some more rows to either frame so that left and right outer join makes sense

In [ ]:
age_df.loc[len(age_df.index)]={'Sno':101,'Age':23}
age_df.loc[len(age_df.index)]={'Sno':102,'Age':27}
age_df.loc[len(age_df.index)]={'Sno':104,'Age':29}
age_df.loc[len(age_df.index)]={'Sno':103,'Age':32}
age_df.loc[len(age_df.index)]={'Sno':105,'Age':53}

In [ ]:
#left join
left_join=pd.merge(age_df,marks_df,how='left',on='Sno')
print(left_join.shape)
left_join.tail()

(105, 3)

     Sno  Age  Marks
100  101   23    NaN
101  102   27    NaN
102  104   29    NaN
103  103   32    NaN
104  105   53    NaN

 **Marks=Nan** confirms the left join.

In [ ]:
#right join
right_join=pd.merge(marks_df,age_df,how='right',on='Sno')
print(right_join.shape)
right_join.tail()

(105, 3)

     Sno  Marks  Age
100  101    NaN   23
101  102    NaN   27
102  104    NaN   29
103  103    NaN   32
104  105    NaN   53

**Marks=Nan** confirms the right join in this case as the order of input frames is also reversed.

#### Full outer join
One last time, lets modify the marks frame also to test **Full outer join.**

In [ ]:
marks_df.loc[len(marks_df.index)]={'Sno':106,'Marks':79}
marks_df.tail()

     Sno  Marks
96    97     83
97    98     93
98    99     25
99   100     75
100  106     79

In [ ]:
#outer join
out_join=pd.merge(marks_df,age_df,how='outer',on='Sno')
print(out_join.shape)
out_join.tail(10)

(106, 3)

     Sno  Marks   Age
96    97   83.0  47.0
97    98   93.0  75.0
98    99   25.0  69.0
99   100   75.0  59.0
100  106   79.0   NaN
101  101    NaN  23.0
102  102    NaN  27.0
103  104    NaN  29.0
104  103    NaN  32.0
105  105    NaN  53.0

Row index **100** is added in putput which confirms the **full outer join**

<a id="content13"></a>
## 12. Groupby

Let's get back to our titanic dataset.

In [ ]:
df.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
630,1,1.0,"Barkworth, Mr. Algernon Henry Wilson",0,80.0,0.0,0.0,27042,30.0000,A23,S,Barkworth,Mr. Algernon Henry Wilson,0.0,4.0
851,0,3.0,"Svensson, Mr. Johan",0,74.0,0.0,0.0,347060,7.7750,NaN,S,Svensson,Mr. Johan,1.0,4.0
96,0,1.0,"Goldschmidt, Mr. George B",0,71.0,0.0,0.0,PC 17754,34.6542,A5,C,Goldschmidt,Mr. George B,0.0,4.0
493,0,1.0,"Artagaveytia, Mr. Ramon",0,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,Artagaveytia,Mr. Ramon,0.0,4.0
116,0,3.0,"Connors, Mr. Patrick",0,70.5,0.0,0.0,370369,7.7500,NaN,Q,Connors,Mr. Patrick,1.0,4.0

#### Before, we move onto Groupby in pandas, lets recollect groupby from SQL. A SQL query, may contain hese parts (some might be optional like having etc...):


1. Table name (**from**)
2. Some condition to filter rows (**where clause**)
3. Attribute to groupby on (**groupby attributes**)
4. Filter rows after groupby (**having clause**)
5. Display attributes in the final result. (**select**)


##### Let's now see how to mimic this in Pandas ;)

In [ ]:
df.head()

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
630,1,1.0,"Barkworth, Mr. Algernon Henry Wilson",0,80.0,0.0,0.0,27042,30.0000,A23,S,Barkworth,Mr. Algernon Henry Wilson,0.0,4.0
851,0,3.0,"Svensson, Mr. Johan",0,74.0,0.0,0.0,347060,7.7750,NaN,S,Svensson,Mr. Johan,1.0,4.0
96,0,1.0,"Goldschmidt, Mr. George B",0,71.0,0.0,0.0,PC 17754,34.6542,A5,C,Goldschmidt,Mr. George B,0.0,4.0
493,0,1.0,"Artagaveytia, Mr. Ramon",0,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,Artagaveytia,Mr. Ramon,0.0,4.0
116,0,3.0,"Connors, Mr. Patrick",0,70.5,0.0,0.0,370369,7.7500,NaN,Q,Connors,Mr. Patrick,1.0,4.0

In [ ]:
groups=df.groupby(['Pclass'])
# uncomment this:
# groups.groups
groups.get_group(1) # Give some another no say 2 or 3 for its Pclass.

,Survived,Pclass,Full Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Surname,Name,Thrid&Men,Age_group
630,1,1.0,"Barkworth, Mr. Algernon Henry Wilson",0,80.0,0.0,0.0,27042,30.0000,A23,S,Barkworth,Mr. Algernon Henry Wilson,0.0,4.0
96,0,1.0,"Goldschmidt, Mr. George B",0,71.0,0.0,0.0,PC 17754,34.6542,A5,C,Goldschmidt,Mr. George B,0.0,4.0
493,0,1.0,"Artagaveytia, Mr. Ramon",0,71.0,0.0,0.0,PC 17609,49.5042,NaN,C,Artagaveytia,Mr. Ramon,0.0,4.0
745,0,1.0,"Crosby, Capt. Edward Gifford",0,70.0,1.0,1.0,WE/P 5735,71.0000,B22,S,Crosby,Capt. Edward Gifford,0.0,4.0
54,0,1.0,"Ostby, Mr. Engelhart Cornelius",0,65.0,0.0,1.0,113509,61.9792,B30,C,Ostby,Mr. Engelhart Cornelius,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,1,1.0,"Carter, Miss. Lucile Polk",1,14.0,1.0,2.0,113760,120.0000,B96 B98,S,Carter,Miss. Lucile Polk,0.0,1.0
802,1,1.0,"Carter, Master. William Thornton II",0,11.0,1.0,2.0,113760,120.0000,B96 B98,S,Carter,Master. William Thornton II,0.0,1.0
445,1,1.0,"Dodge, Master. Washington",0,4.0,0.0,2.0,33638,81.8583,A34,S,Dodge,Master. Washington,0.0,1.0
297,0,1.0,"Allison, Miss. Helen Loraine",1,2.0,1.0,2.0,113781,151.5500,C22 C26,S,Allison,Miss. Helen Loraine,0.0,1.0
305,1,1.0,"Allison, Master. Hudson Trevor",0,0.92,1.0,2.0,113781,151.5500,C22 C26,S,Allison,Master. Hudson Trevor,0.0,1.0

#### Average Age per Pclass

In [ ]:
df_grp1=df.groupby(['Pclass'])
#df_grp1.head()

In [ ]:
#Average Age per Pclass
df_grp1['Age'].mean()

Pclass
1.0    37.048118
2.0    29.866958
3.0    26.403259
Name: Age, dtype: float64

In [ ]:
# Min/Max age per Pclass
df_grp1['Age'].min() #max()

Pclass
1.0    0.92
2.0    0.67
3.0    0.42
Name: Age, dtype: float64

In [ ]:
# Count
df_grp1['Age'].count()

Pclass
1.0    216
2.0    184
3.0    491
Name: Age, dtype: int64

#### Using agg() function.
We can use the aggregate fucntion to aggregate results based on some column  or our custom condition

In [ ]:
df=train.copy()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Average per Pclass using 'agg' this time
df_grp2=df.groupby(['Pclass']).agg({'Age':lambda x: np.mean(x)})
df_grp2.head()

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [ ]:
# Min/Max,count,Sum for each Pclass usign agg function
df_grp3=df.groupby(['Pclass']).agg({'Age':'min'}).rename(columns={'Age':'Min Age'})
# Use 'max'/'sum' etc. for that operation. Note that this ignores 'nan' values.
df_grp3.head()

        Min Age
Pclass
1          0.92
2          0.67
3          0.42

In [ ]:
# Names of all the pasengers in that class.
df_grp4=df.groupby(['Pclass']).agg({'Name':lambda x:', '.join(x)})
df_grp4.head()

                                                     Name
Pclass
1       Cumings, Mrs. John Bradley (Florence Briggs Th...
2       Nasser, Mrs. Nicholas (Adele Achem), Hewlett, ...
3       Braund, Mr. Owen Harris, Heikkinen, Miss. Lain...

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##### Note one thing that we can use multile agg functions on a single attribute by providing list in value part.

In [ ]:
df_grp5=df.groupby(['Pclass']).agg({'Age':['max','min']})
df_grp5.head() # Creates a MultiOndex Dataframe

         Age
         max   min
Pclass
1       80.0  0.92
2       70.0  0.67
3       74.0  0.42

## Bonus: Iterating over rows in dataframe

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
for index,row in df.iterrows():
    # do something with row, say:
    print(row)
    pass

ÊµÅÂºèËæìÂá∫ÂÜÖÂÆπË¢´Êà™Êñ≠ÔºåÂè™ËÉΩÊòæÁ§∫ÊúÄÂêé 5000 Ë°åÂÜÖÂÆπ„ÄÇ
Age                                                     33.0
SibSp                                                      0
Parch                                                      2
Ticket                                                 26360
Fare                                                    26.0
Cabin                                                    NaN
Embarked                                                   S
Name: 506, dtype: object
PassengerId                                              508
Survived                                                   1
Pclass                                                     1
Name           Bradley, Mr. George ("George Arthur Brayton")
Sex                                                     male
Age                                                      NaN
SibSp                                                      0
Parch                                                      0
Ticket                                                111427
Fare                                                   26.55
Cabin                                                    NaN
Embarked                                                   S
Name: 507, dtype: object
PassengerId                         509
Survived                              0
Pclass                                3
Name           Olsen, Mr. Henry Margido
Sex                                male
Age                                28.0
SibSp                                 0
Parch                                 0
Ticket                           C 4001
Fare                             22.525
Cabin                               NaN
Embarked                              S
Name: 508, dtype: object
PassengerId               510
Survived                    1
Pclass                      3
Name           Lang, Mr. Fang
Sex                      male
Age                      26.0
SibSp                       0
Parch                       0
Ticket                   1601
Fare                  56.4958
Cabin                     NaN
Embarked                    S
Name: 509, dtype: object
PassengerId                         511
Survived                              1
Pclass                                3
Name           Daly, Mr. Eugene Patrick
Sex                                male
Age                                29.0
SibSp                                 0
Parch                                 0
Ticket                           382651
Fare                               7.75
Cabin                               NaN
Embarked                              Q
Name: 510, dtype: object
PassengerId                  512
Survived                       0
Pclass                         3
Name           Webber, Mr. James
Sex                         male
Age                          NaN
SibSp                          0
Parch                          0
Ticket          SOTON/OQ 3101316
Fare                        8.05
Cabin                        NaN
Embarked                       S
Name: 511, dtype: object
PassengerId                          513
Survived                               1
Pclass                                 1
Name           McGough, Mr. James Robert
Sex                                 male
Age                                 36.0
SibSp                                  0
Parch                                  0
Ticket                          PC 17473
Fare                             26.2875
Cabin                                E25
Embarked                               S
Name: 512, dtype: object
PassengerId                                               514
Survived                                                    1
Pclass                                                      1
Name           Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Sex                                                    female
Age                                                      54.0
SibSp                                                       1
Parch                                                       0
Ticket                                               PC 17603
Fare                                                     59.4
Cabin                                                     NaN
Embarked                                                    C
Name: 513, dtype: object
PassengerId                  515
Survived                       0
Pclass                         3
Name           Coleff, Mr. Satio
Sex                         male
Age                         24.0
SibSp                          0
Parch                          0
Ticket                    349209
Fare                      7.4958
Cabin                        NaN
Embarked                       S
Name: 514, dtype: object
PassengerId                             516
Survived                                  0
Pclass                                    1
Name           Walker, Mr. William Anderson
Sex                                    male
Age                                    47.0
SibSp                                     0
Parch                                     0
Ticket                                36967
Fare                                34.0208
Cabin                                   D46
Embarked                                  S
Name: 515, dtype: object
PassengerId                             517
Survived                                  1
Pclass                                    2
Name           Lemore, Mrs. (Amelia Milley)
Sex                                  female
Age                                    34.0
SibSp                                     0
Parch                                     0
Ticket                           C.A. 34260
Fare                                   10.5
Cabin                                   F33
Embarked                                  S
Name: 516, dtype: object
PassengerId                  518
Survived                       0
Pclass                         3
Name           Ryan, Mr. Patrick
Sex                         male
Age                          NaN
SibSp                          0
Parch                          0
Ticket                    371110
Fare                       24.15
Cabin                        NaN
Embarked                       Q
Name: 517, dtype: object
PassengerId                                                  519
Survived                                                       1
Pclass                                                         2
Name           Angle, Mrs. William A (Florence "Mary" Agnes H...
Sex                                                       female
Age                                                         36.0
SibSp                                                          1
Parch                                                          0
Ticket                                                    226875
Fare                                                        26.0
Cabin                                                        NaN
Embarked                                                       S
Name: 518, dtype: object
PassengerId                    520
Survived                         0
Pclass                           3
Name           Pavlovic, Mr. Stefo
Sex                           male
Age                           32.0
SibSp                            0
Parch                            0
Ticket                      349242
Fare                        7.8958
Cabin                          NaN
Embarked                         S
Name: 519, dtype: object
PassengerId                      521
Survived                           1
Pclass                             1
Name           Perreault, Miss. Anne
Sex                           female
Age                             30.0
SibSp                              0
Parch                              0
Ticket                         12749
Fare                            93.5
Cabin                            B73
Embarked                           S
Name: 520, dtype: object
PassengerId                522
Survived                     0
Pclass                       3
Name           Vovk, Mr. Janko
Sex                       male
Age                       22.0
SibSp                        0
Parch                        0
Ticket                  349252
Fare                    7.8958
Cabin                      NaN
Embarked                     S
Name: 521, dtype: object
PassengerId                   523
Survived                        0
Pclass                          3
Name           Lahoud, Mr. Sarkis
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                       2624
Fare                        7.225
Cabin                         NaN
Embarked                        C
Name: 522, dtype: object
PassengerId                                                524
Survived                                                     1
Pclass                                                       1
Name           Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
Sex                                                     female
Age                                                       44.0
SibSp                                                        0
Parch                                                        1
Ticket                                                  111361
Fare                                                   57.9792
Cabin                                                      B18
Embarked                                                     C
Name: 523, dtype: object
PassengerId                  525
Survived                       0
Pclass                         3
Name           Kassem, Mr. Fared
Sex                         male
Age                          NaN
SibSp                          0
Parch                          0
Ticket                      2700
Fare                      7.2292
Cabin                        NaN
Embarked                       C
Name: 524, dtype: object
PassengerId                   526
Survived                        0
Pclass                          3
Name           Farrell, Mr. James
Sex                          male
Age                          40.5
SibSp                           0
Parch                           0
Ticket                     367232
Fare                         7.75
Cabin                         NaN
Embarked                        Q
Name: 525, dtype: object
PassengerId                     527
Survived                          1
Pclass                            2
Name           Ridsdale, Miss. Lucy
Sex                          female
Age                            50.0
SibSp                             0
Parch                             0
Ticket                  W./C. 14258
Fare                           10.5
Cabin                           NaN
Embarked                          S
Name: 526, dtype: object
PassengerId                   528
Survived                        0
Pclass                          1
Name           Farthing, Mr. John
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                   PC 17483
Fare                     221.7792
Cabin                         C95
Embarked                        S
Name: 527, dtype: object
PassengerId                          529
Survived                               0
Pclass                                 3
Name           Salonen, Mr. Johan Werner
Sex                                 male
Age                                 39.0
SibSp                                  0
Parch                                  0
Ticket                           3101296
Fare                               7.925
Cabin                                NaN
Embarked                               S
Name: 528, dtype: object
PassengerId                            530
Survived                                 0
Pclass                                   2
Name           Hocking, Mr. Richard George
Sex                                   male
Age                                   23.0
SibSp                                    2
Parch                                    1
Ticket                               29104
Fare                                  11.5
Cabin                                  NaN
Embarked                                 S
Name: 529, dtype: object
PassengerId                         531
Survived                              1
Pclass                                2
Name           Quick, Miss. Phyllis May
Sex                              female
Age                                 2.0
SibSp                                 1
Parch                                 1
Ticket                            26360
Fare                               26.0
Cabin                               NaN
Embarked                              S
Name: 530, dtype: object
PassengerId                  532
Survived                       0
Pclass                         3
Name           Toufik, Mr. Nakli
Sex                         male
Age                          NaN
SibSp                          0
Parch                          0
Ticket                      2641
Fare                      7.2292
Cabin                        NaN
Embarked                       C
Name: 531, dtype: object
PassengerId                     533
Survived                          0
Pclass                            3
Name           Elias, Mr. Joseph Jr
Sex                            male
Age                            17.0
SibSp                             1
Parch                             1
Ticket                         2690
Fare                         7.2292
Cabin                           NaN
Embarked                          C
Name: 532, dtype: object
PassengerId                                       534
Survived                                            1
Pclass                                              3
Name           Peter, Mrs. Catherine (Catherine Rizk)
Sex                                            female
Age                                               NaN
SibSp                                               0
Parch                                               2
Ticket                                           2668
Fare                                          22.3583
Cabin                                             NaN
Embarked                                            C
Name: 533, dtype: object
PassengerId                    535
Survived                         0
Pclass                           3
Name           Cacic, Miss. Marija
Sex                         female
Age                           30.0
SibSp                            0
Parch                            0
Ticket                      315084
Fare                        8.6625
Cabin                          NaN
Embarked                         S
Name: 534, dtype: object
PassengerId                       536
Survived                            1
Pclass                              2
Name           Hart, Miss. Eva Miriam
Sex                            female
Age                               7.0
SibSp                               0
Parch                               2
Ticket                   F.C.C. 13529
Fare                            26.25
Cabin                             NaN
Embarked                            S
Name: 535, dtype: object
PassengerId                                  537
Survived                                       0
Pclass                                         1
Name           Butt, Major. Archibald Willingham
Sex                                         male
Age                                         45.0
SibSp                                          0
Parch                                          0
Ticket                                    113050
Fare                                       26.55
Cabin                                        B38
Embarked                                       S
Name: 536, dtype: object
PassengerId                    538
Survived                         1
Pclass                           1
Name           LeRoy, Miss. Bertha
Sex                         female
Age                           30.0
SibSp                            0
Parch                            0
Ticket                    PC 17761
Fare                       106.425
Cabin                          NaN
Embarked                         C
Name: 537, dtype: object
PassengerId                         539
Survived                              0
Pclass                                3
Name           Risien, Mr. Samuel Beard
Sex                                male
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                           364498
Fare                               14.5
Cabin                               NaN
Embarked                              S
Name: 538, dtype: object
PassengerId                                   540
Survived                                        1
Pclass                                          1
Name           Frolicher, Miss. Hedwig Margaritha
Sex                                        female
Age                                          22.0
SibSp                                           0
Parch                                           2
Ticket                                      13568
Fare                                         49.5
Cabin                                         B39
Embarked                                        C
Name: 539, dtype: object
PassengerId                        541
Survived                             1
Pclass                               1
Name           Crosby, Miss. Harriet R
Sex                             female
Age                               36.0
SibSp                                0
Parch                                2
Ticket                       WE/P 5735
Fare                              71.0
Cabin                              B22
Embarked                             S
Name: 540, dtype: object
PassengerId                                     542
Survived                                          0
Pclass                                            3
Name           Andersson, Miss. Ingeborg Constanzia
Sex                                          female
Age                                             9.0
SibSp                                             4
Parch                                             2
Ticket                                       347082
Fare                                         31.275
Cabin                                           NaN
Embarked                                          S
Name: 541, dtype: object
PassengerId                                  543
Survived                                       0
Pclass                                         3
Name           Andersson, Miss. Sigrid Elisabeth
Sex                                       female
Age                                         11.0
SibSp                                          4
Parch                                          2
Ticket                                    347082
Fare                                      31.275
Cabin                                        NaN
Embarked                                       S
Name: 542, dtype: object
PassengerId                  544
Survived                       1
Pclass                         2
Name           Beane, Mr. Edward
Sex                         male
Age                         32.0
SibSp                          1
Parch                          0
Ticket                      2908
Fare                        26.0
Cabin                        NaN
Embarked                       S
Name: 543, dtype: object
PassengerId                           545
Survived                                0
Pclass                                  1
Name           Douglas, Mr. Walter Donald

##### Ideally for this we can use 'apply' method also as we saw in adding/modifying the column section.

#### Hope you found it useful, and if you did, make sure to drop a üëç.

#### Thanks, Bye!

## Link to other kernels in this series:

i. [Numpy: A Complete Guide to Numpy](https://www.kaggle.com/code/rajmehra03/a-complete-guide-to-numpy/) &

ii. [Python for DSA interviews.](https://www.kaggle.com/rajmehra03/python-for-dsa-interviews/)

## Rough

In [ ]:
arr1=np.random.randint(100,size=(100,1))
arr2=np.random.randint(100,size=(100))
arr1

array([[66],
       [97],
       [12],
       [63],
       [35],
       [ 5],
       [46],
       [58],
       [31],
       [35],
       [32],
       [32],
       [53],
       [38],
       [90],
       [19],
       [23],
       [98],
       [74],
       [10],
       [51],
       [93],
       [39],
       [17],
       [25],
       [78],
       [89],
       [20],
       [39],
       [44],
       [40],
       [24],
       [64],
       [ 4],
       [80],
       [13],
       [71],
       [86],
       [95],
       [ 8],
       [ 9],
       [14],
       [84],
       [77],
       [47],
       [65],
       [73],
       [33],
       [23],
       [89],
       [76],
       [25],
       [87],
       [71],
       [29],
       [28],
       [88],
       [68],
       [44],
       [48],
       [96],
       [56],
       [ 1],
       [52],
       [94],
       [75],
       [78],
       [70],
       [ 7],
       [27],
       [95],
       [84],
       [93],
       [39],
       [63],
       [24],
       [54],
       [28],
       [65],
       [18],
       [51],
       [32],
       [40],
       [80],
       [92],
       [92],
       [54],
       [14],
       [66],
       [ 2],
       [50],
       [89],
       [26],
       [35],
       [ 9],
       [66],
       [32],
       [92],
       [24],
       [39]])

In [ ]:
arr2

array([92, 29, 51, 91, 68, 64, 18, 77, 58, 62, 17, 52, 96, 28, 20, 93, 28,
       95, 90, 53, 31, 79, 65, 15, 56, 32, 97, 42, 38,  8, 58, 49, 87, 12,
       85, 66, 12, 71, 43, 66, 76, 14, 19, 72, 71, 51, 62, 93, 74, 93, 89,
       13, 59,  5, 61, 46, 62, 97, 84, 99, 67, 94, 66, 14, 36, 68, 55, 88,
       18, 47, 36, 83, 83, 27, 53, 44, 84,  0,  8, 86,  9, 70, 36, 70, 36,
       53, 95, 10, 96, 21, 96, 12,  2,  8, 99, 63, 44, 86,  7, 69])

#### Note the differnce in arr1 and arr2 above !