<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?  这个数据集中代表了多少男性和女性(性别特征)?**

In [3]:
# You code here
# 计算男性和女性的数量
gender_counts = data['sex'].value_counts()

# 显示结果
print(gender_counts)

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. What is the average age (*age* feature) of women?  女性的平均年龄(年龄特征)是多少?**

In [4]:
# You code here
# 计算女性的平均年龄
average_age_women = data[data['sex'] == 'Female']['age'].mean()

# Display the result
print(average_age_women)

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?  德国公民的比例是多少(*原籍国*特征)**

In [5]:
# You code here
# 计算德国公民的百分比
german_citizens_percentage = (data['native-country'] == 'Germany').mean() * 100

# 显示结果
print(german_citizens_percentage)

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?  年薪超过5万(*薪水*特征)和年薪低于5万的人年龄的平均值和标准差是多少?**

In [6]:
# You code here
# Calculate the mean and standard deviation of age for those who earn more than 50K per year
age_high_mean = data[data['salary'] == '>50K']['age'].mean()
age_high_std = data[data['salary'] == '>50K']['age'].std()

# Calculate the mean and standard deviation of age for those who earn less than 50K per year
age_low_mean = data[data['salary'] == '<=50K']['age'].mean()
age_low_std = data[data['salary'] == '<=50K']['age'].std()

# Display the results
print(f'The mean age of those who earn more than 50K per year is {round(age_high_mean, 1)} years with a standard deviation of {round(age_high_std, 1)} years.')
print(f'The mean age of those who earn less than 50K per year is {round(age_low_mean, 1)} years with a standard deviation of {round(age_low_std, 1)} years.')

The mean age of those who earn more than 50K per year is 44.2 years with a standard deviation of 10.5 years.
The mean age of those who earn less than 50K per year is 36.8 years with a standard deviation of 14.0 years.

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)  收入超过5万的人至少有高中学历是真的吗？ （*教育 – 学士、教授学院、Assoc-acdm、Assoc-voc、硕士* 或 *博士* 功能）**

In [7]:
# You code here
# 判断收入超过 50K 的人群是否至少具备高中以上的教育程度
at_least_high_school_education = data[data['salary'] == '>50K']['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']).all()

# 显示结果
print(at_least_high_school_education)

False

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race. 显示每个种族（种族特征）和每个性别（性别特征）的年龄统计数据。 使用groupby() 和describe()。 求美洲-印第安-爱斯基摩人种男性的最大年龄。**

In [8]:
# You code here
# Group the data by race and gender, and describe the age column
age_statistics = data.groupby(['race', 'sex'])['age'].describe()

# Display the age statistics
print(age_statistics)

# Find the maximum age of men of Amer-Indian-Eskimo race
max_age_amer_indian_eskimo_men = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]['age'].max()

# Display the maximum age of men of Amer-Indian-Eskimo race
print(f"The maximum age of men of Amer-Indian-Eskimo race is {max_age_amer_indian_eskimo_men} years.")

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
The maximum age of men of Amer-Indian-Eskimo race is 82 years.

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors. 其中谁的收入较高（>5万）的比例更大：已婚男性还是单身男性（婚姻状况特征）？ 婚姻状况以“已婚”开头的人（已婚公民配偶、已婚配偶缺席或已婚AF配偶）被视为已婚，其余的被视为单身汉。**

In [9]:
# You code here
# 判断收入超过 50K 的人群是否至少具备高中以上的教育程度
at_least_high_school_education = data[data['salary'] == '>50K']['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']).all()

# 显示结果
print(at_least_high_school_education)

False

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them? 一个人每周最多工作多少小时(*hours-per-week* feature)?有多少人工作这么长时间，其中挣很多钱(>5万)的人占多少比例?**

In [10]:
# You code here


# 找到每周工作小时数的最大值
max_hours_per_week = data['hours-per-week'].max()

# 计算工作小时数等于最大值的人数
num_people_max_hours = data[data['hours-per-week'] == max_hours_per_week].shape[0]

# 计算工作小时数等于最大值且收入超过 50K 的人数
num_high_earners_max_hours = data[(data['hours-per-week'] == max_hours_per_week) & (data['salary'] == '>50K')].shape[0]

# 计算收入超过 50K 的人数在工作小时数等于最大值的人数中所占的百分比
percentage_high_earners_max_hours = (num_high_earners_max_hours / num_people_max_hours) * 100

# 显示结果
print(f"The maximum number of hours a person works per week is {max_hours_per_week}.")
print(f"The number of people who work {max_hours_per_week} hours per week is {num_people_max_hours}.")
print(f"The percentage of those who earn more than 50K among them is {percentage_high_earners_max_hours:.2f}%.")

The maximum number of hours a person works per week is 99.
The number of people who work 99 hours per week is 85.
The percentage of those who earn more than 50K among them is 29.41%.

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan? 计算每个国家(原籍国)收入低和收入高的人的平均工作时间(每周小时数)。这些对日本来说会是什么?**

In [13]:
# You code here


# 使用 groupby() 和 describe() 函数计算每个国家的平均工作时间
average_hours_per_week = data.groupby(['native-country', 'salary'])['hours-per-week'].describe()

# 显示结果
print(average_hours_per_week)

# 提取日本的平均工作时间
average_hours_per_week_japan = average_hours_per_week.loc[('Japan',)]

# 显示日本的平均工作时间
print(f"The average time of work (hours-per-week) for those who earn a little and a lot in Japan:\n{average_hours_per_week_japan}")

                        count       mean        std   min    25%   50%   75%  \
native-country salary
?              <=50K    437.0  40.164760  12.817002   1.0  40.00  40.0  45.0
               >50K     146.0  45.547945  10.202827   8.0  40.00  40.0  50.0
Cambodia       <=50K     12.0  41.416667   3.088346  40.0  40.00  40.0  40.5
               >50K       7.0  40.000000   0.000000  40.0  40.00  40.0  40.0
Canada         <=50K     82.0  37.914634  13.012056   8.0  32.75  40.0  40.0
...                       ...        ...        ...   ...    ...   ...   ...
United-States  >50K    7171.0  45.505369  11.025092   1.0  40.00  40.0  50.0
Vietnam        <=50K     62.0  37.193548  12.422664   1.0  40.00  40.0  40.0
               >50K       5.0  39.200000   1.788854  36.0  40.00  40.0  40.0
Yugoslavia     <=50K     10.0  41.600000  11.305849  20.0  40.00  40.0  40.0
               >50K       6.0  49.500000  11.202678  40.0  40.00  46.0  58.0

                        max
native-country salary
?              <=50K   99.0
               >50K    80.0
Cambodia       <=50K   50.0
               >50K    40.0
Canada         <=50K   70.0
...                     ...
United-States  >50K    99.0
Vietnam        <=50K   77.0
               >50K    40.0
Yugoslavia     <=50K   66.0
               >50K    65.0

[82 rows x 8 columns]
The average time of work (hours-per-week) for those who earn a little and a lot in Japan:
        count       mean        std   min   25%   50%   75%   max
salary
<=50K    38.0  41.000000  11.902759  10.0  40.0  40.0  41.5  65.0
>50K     24.0  47.958333  16.120414  21.0  40.0  42.5  50.0  99.0